<nav class="navbar navbar-expand-xl navbar-dark">
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mt-2 mt-lg-0">
      <div class="top-nav">
        <li *ngIf="role == '1'" class="nav-item" style="cursor:pointer" routerLink="/admin/dashboard" routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}">

          <img src="../assets/fundal/nav/Home Icon.svg" />
          <a class="nav-link">
            Home
          </a>
        </li>
        <li *ngIf="role == '2' || role == '3'" class="nav-item" style="cursor:pointer" routerLink="/approval-manager/dashboard" routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}">

          <img src="../assets/fundal/nav/Home Icon.svg" />
          <a class="nav-link">
            Home
          </a>
        </li>
        <li class="nav-item" style="cursor:pointer" routerLink="/admin/user-management" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">

          <img style="width:60px; height: 60px; margin: -11px;" src="../assets/fundal/nav/Profile Icon.svg">
          <a class="nav-link">
            User Management

          </a>
        </li>
        <li  *ngIf="role == '1'" class="nav-item" style="cursor:pointer" routerLink="/admin/loan-management" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <img style="margin-top: 0px;" src="../assets/fundal/nav/My Loans Icon.svg">
          <a class="nav-link">

          Loan Management

          </a>
        </li>
        <li  *ngIf="role == '2' || role == '3'" class="nav-item" style="cursor:pointer" routerLink="/customercare/view_user_requested_loans" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <img style="margin-top: 0px;" src="../assets/fundal/nav/My Loans Icon.svg">
          <a class="nav-link">

          Loan Management

          </a>
        </li>

        <li class="nav-item" style="cursor:pointer" routerLink="/admin/community" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">

          <img src="../assets/fundal/nav/Community Icon.svg">
          <a class="nav-link">
            Community
          </a>
        </li>
        <li class="nav-item" style="cursor:pointer" routerLink="/admin/listings" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <img style="margin: -5px -3px;" src="../assets/fundal/nav/Listings Icon.svg">
          <a class="nav-link">
            Listing
          </a>
        </li>
        <li class="nav-item" style="cursor:pointer" routerLink="/admin/all-complains" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <img style=" margin: -5px; " src="../assets/fundal/nav/Messages.svg">
          <a class="nav-link">
            Messages
          </a>
        </li>
      </div>
      <div class="bottom-nav">
        <li class="nav-item " style="cursor:pointer" routerLink="#" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">

          <img src="../assets/fundal/nav/settings.png" />
          <a class="nav-link">
            Settings
          </a>
        </li>
        <li class="nav-item" style="cursor:pointer" routerLink="#" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">

          <img src="../assets/fundal/nav/Help Cemter Icon.svg" />
          <a class="nav-link">
            Help Center
          </a>
        </li>
        <li class="nav-item" style="cursor:pointer" (click)="logout()">
          <img style="width: 30px; height: 30px; margin: 4px 5px 0;" src="../assets/fundal/nav/1031505-512.svg" />
          <a class="nav-link">
            Log Out
          </a>
        </li>
      </div>

    </ul>

  </div>
</nav>
