<div class="container">

  <div class="row mt-5">
    <div class="col-md-12">
      <div class="card card-centered custom-card-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <p class="font-18 strong-600">Loan Summary </p>
            </div>
            <div class="col-md-10">
              <table class="table font-16">

                <tbody>
                  <tr>
                    <td>Number of Loans Taken:</td>
                    <td>{{taken.length}}</td>
                    <td>Number of Repaid Loans:</td>
                    <td>{{repaid.length}}</td>
                  </tr>
                  <tr>
                    <td>Number of Active Loans:</td>
                    <td>{{active.length}}</td>
                    <td>Total Amount Owed:</td>
                    <td>{{owed | currency:'N'}}</td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div class="col-md-2">
              <div class="progress green">
                <span class="progress-left">
                          <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                          <span class="progress-bar"></span>
                </span>
                <div class="progress-value">0%</div>
              </div>
              <p class="text-center mt-2">Repaid Loans</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="tabs tabs--style-2 mt-4" role="tabpanel">
    <!-- Nav tabs -->
    <app-appr-loan-nav></app-appr-loan-nav>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <div class="big-data-box">
        <div class="head">
          <div class="row">
            <div class="col-md-3">
              <h3>Repaid Loan</h3>
              <i class="fa fa-arrow-left"></i>
              <i class="fa fa-arrow-right visible-xs pull-right"></i>
            </div>
            <div class="col-md-6">
              <div class="img-center fit-width">
                <!-- <p class="">SORT BY:</p>
                <div class="dropdown styled display-inline mx-3">
                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Status
                            <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Status</a></li>
                    <li class="active"><a href="#">Loan Type</a></li>
                    <li><a href="#">Duration</a></li>
                  </ul>
                </div>
                <p class=""> &lt; 1 - 6 &gt; of 6 pages</p> -->
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
              <div class="form-group">
                <input class="form-control" [(ngModel)]="firstName">
                <i class="fa fa-search"> </i>
              </div>

            </div>
            <div class="col-md-3 hidden-xs pt-30">
              <i class="fa fa-arrow-right pull-right"></i>
            </div>
          </div>
        </div>
        <div class="body">
          <div class="line my-0">
          </div>
          <div class="row my-4 ">

            <div class="col-md-12">



              <div class="big-data-box mb-4 pr-sm-4" *ngFor="let a of loans | paginate:{itemsPerPage:20,currentPage:p} | loanFilter:firstName;">

                <div class="row">
                  <div class="col-md-2">
                    <div class="bg-shade-1 d-flex justify-content-center align-content-center">
                      <img src="../assets/fundal/loan/Icons-15.svg">
                    </div>

                  </div>


                  <div class="col-md-5 pl-3">
                    <div class="row">
                      <div class="col-md-6  py-4">
                        <p>Loan Type:</p>
                        <p>Date Approved:</p>
                        <p class="max-width-10">Amount Requested:</p>
                        <p>Approval Status:</p>

                      </div>

                      <div class="col-md-6 py-4">

                        <p>{{a.productName}} </p>
                        <p>{{a.approvedDate | date:'d/M/y'}}</p>
                        <p> {{a.amount | currency:'N'}} </p>
                        <p class="text-lite-orange" *ngIf="a.applicationState =='2' && !a.disbursed">Approved</p>
                        <p class="text-lite-orange" *ngIf="a.applicationState =='2' && a.disbursed">Disbursed</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 py-4">
                    <p class="text-center strong-500 ">
                      STATUS
                    </p>
                    <div class="row">
                      <div class="col-md-6 d-flex justify-content-center flex-column align-items-center">
                        <div class="img-center loan-status-repaid">
                        </div>
                        <p *ngIf="a.repaid && a.disbursed" class="text-black pt-2 text-center strong-700">
                          Repaid
                        </p>
                        <p *ngIf="!a.repaid && a.disbursed" class="text-black pt-2 text-center strong-700">
                          Pending Payment
                        </p>
                      </div>
                      <div class="col-md-6 d-flex justify-content-center flex-column align-items-center">
                        <img class="img-center" src="../assets/fundal/home/icon/if_simpline_37_23056242.png">
                        <p routerLink="/request_details/{{a._id}}" class="text-black pt-2 text-center strong-700">
                          View Payments
                        </p>
                      </div>


                    </div>

                  </div>


                </div>


              </div>


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
