<!-- MAIN WRAPPER -->
<div class="admin-dashboard">
  <div class="content-main">
    <div class="row layout">
      <div class="col-md-10 right-content py-5">
        <div class="container">
          <div class="navigation-back type-2 mt-5">
            <i class="fa fa-arrow-left"></i>
            <h2 routerLink="/approval-manager/dashboard">
              HOME
            </h2>
          </div>
          <div class="page-header d-flex align-items-center b-r border-blue">
            <img class="img-fluid" width="5%" src="../assets/fundal/admin/listing/Icons-10-1.png">
            <h2 class="page-header-title text-transform-uppercase ml-2">
              Active Loans
            </h2>
          </div>
           <div class="row mt-5">


                  <div class="col-md-12">
                  <div class="big-data-box">
                    <div class="head">
                      <div class="row">
                        <div class="col-md-4">
                          <h3>Active Loans</h3>
                          <i class="fa fa-arrow-left"></i>
                          <i class="fa fa-arrow-right visible-xs pull-right"></i>
                        </div>
                        <div class="col-md-5">
                          <div class="img-center fit-width">
                            <!-- <p class="">SORT BY:</p>
                            <div class="dropdown styled display-inline mx-3">
                              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Status
                                <span class="caret"></span></button>
                              <ul class="dropdown-menu">
                                <li><a href="#">Status</a></li>
                                <li class="active"><a href="#">Loan Type</a></li>
                                <li><a href="#">Duration</a></li>
                              </ul>
                            </div>
                            <p class=""> &lt; 1 - 6 &gt; of 6 pages</p> -->
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                          </div>
                          <div class="form-group">
                            <input class="form-control" [(ngModel)]="firstName">
                            <i class="fa fa-search"> </i>
                          </div>

                        </div>
                        <div class="col-md-3 hidden-xs pt-30">
                          <i class="fa fa-arrow-right pull-right"></i>
                        </div>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table red">
                        <thead>
                          <tr>
                            <th>S/N</th>
                            <th>Applicant Name</th>
                            <th>Amount</th>
                            <th>Request Date</th>
                            <th>Repayment Amount</th>
                            <th>Duration</th>
                            <th>STATUS</th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let a of loan | paginate:{itemsPerPage:20,currentPage:p} | loanFilter:firstName; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{a.user.firstName}} {{a.user.lastName}}</td>
                            <td>{{a.amount | currency:'N'}}</td>
                            <td>{{a.created | date:'dd/MM/yy'}}</td>
                            <td>{{a.total_cost | currency:'N'}}</td>
                            <td>{{a.duration}} month(s)</td>
                            <td>
                                <span></span>
                            </td>
                            <td>
                                 <!-- <span *ngIf="l.listingState == '0' && l.approved == '2'">Active</span>
                                 <span *ngIf="l.listingState == '1' && l.approved == '2'">Suspended</span>
                                 <span *ngIf="l.listingState == '2' && l.approved == '2'">Blocked</span> -->
                             </td>
                            <td>
                              <span *ngIf=""><img src="../assets/fundal/admin/if_tick_green_619543.png" /></span>
                              <span *ngIf="" class="text-red"> <img src="../assets/fundal/admin/if_close_red_619539.png" /></span>
                            </td>
                            <td>
                              <button routerLink="/request_details/{{a._id}}" class="btn btn-outline text-red border-red">
                                VIEW
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>


        </div>



      </div>
    </div>
  </div>

</div>
