.btn-view{
width: 100px;
background-color: #FFF;
border: 0.5px solid #FF653D;
margin:10px;
border-radius: 3px;
font-size: 10px !important;
float:right;
height:30px;
}

.mcard{
background: #FFFFFF;
box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
border-radius: 3px;
height:auto;
padding:unset;
}
.green-primary-color{
    color: #52BC00;
}
.red-text{
    color: red;
}
#body-content{
    font-family: sans-serif;
    font-style: normal;
}

.pad-30{
    padding: 30px;
}
.pad-top-20{
    padding-top: 20px;
}
.yellow-text{
    color: rgb(207, 207, 11);
}
.btm-yellow{
    border-bottom: 5px solid rgb(207, 207, 11);
}
.pad-btm-20{
    padding-bottom: 20px;
}
a, a:hover{
    text-decoration: none;
    color: #000;
}
.bg-green{
    background-color:#52BC00;
}
.margin-btm-20{
    margin-bottom: 20px;
}
.margin-top-20{
   margin-top: 20px; 
}
.margin-top-10{
   margin-top: 10px; 
}
.mar-btm-100{
    margin-bottom: 100px;
}
a.green-primary-color:hover{
    color: #52BC00;
    text-decoration: none;
}
img.head-logo{
   width: 147px;
    
}

img.icon-logo{
   width: 50px;
   text-align: left !important;
    
}
.text-center{
    text-align: center !important;
}
select{
    border-radius: 50%;
}
header{
    padding-top: 50px;
}
section#main-content{
    padding-top: 100px;
}
div.form-holder{
    width: 70%;
}
text-left{
    text-align: left;
}
.right{
    float: right;
}
.mar-l{
    margin-left: 20px;
}
.btn-my-btn{
    background-color: #54C921;
    color: #fff;
    border-radius: 50px;
}
.btn-my-btn-black{
    background-color: #111;
    color: #fff;
    border-radius: 50px;
}
input.form-control, select.form-control{
    border-radius: 50px;
}
div.top-head{
   
    padding: 10px;
    -webkit-box-shadow: 1px 1px 5px 0px #a2958a;
  -moz-box-shadow: 1px 1px 5px 0px #a2958a;
  box-shadow: 1px 1px 5px 0px #a2958a;
    
    
}

div.coperate-detaiil div{
    margin-bottom: 10px;
}
div.shadows{
   
    padding: 10px;
    -webkit-box-shadow: 2px 2px 2px 2px #a2958a;
  -moz-box-shadow: 2px 2px 2px 2px #a2958a;
  box-shadow: 2px 2px 2px 2px #a2958a;
    
    
}
i.loan-search-div{
    position: absolute;
    margin-top: -25px;
    margin-left: 90%;
    
    
}
i.bordered{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 30%;
}
i.blue{
    color: dodgerblue;
}
.box2{
     border-bottom: 13px solid dodgerblue ! important;
}
.box3{
     border-bottom: 13px solid #222233 ! important;
}
.box1{
     border-bottom: 13px solid rgb(207, 207, 11) ! important;
}
.info-box{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.top-title{
    margin-top: 20px;
}
.side-nav{
    background: #222233;
    color: #fff;
}
.side-nav ul{
    padding-top: 40px;
    
}
.side-nav ul li{
    list-style-type: none;
    color: #fff;
    padding: 5px;
    margin-bottom: 5px;


}
.side-nav ul li:hover, .active{
    background-color: #52bc00;
    border-radius: 10px;
}
.side-nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.side-nav ul li a i{
    margin-right: 10px;
}
ul.head-nav li{
    display: inline;
}
.left{
    float: left;

}
ul.info{

}
ul.info li{
    list-style-type: none;
    margin-bottom: 20px;
   
}
ul.info li i{
    color: dodgerblue;
    margin-right: 10px;
}
div.loan-bar{
    border-right: 10px solid dodgerblue;
}
div.red-bar{
    border-right: 10px solid red;
}
div.fund-bar{
    border-right: 10px solid red;
}
div.ticket-nav{
    margin-bottom: 50px;
}
div.ticket-nav a{
    color: #111;
    font-weight: 500;
    padding: 20px;
    text-decoration: none;
}
a.ticket-active, div.ticket-nav a:hover{
    border-bottom: 2px solid #52BC00;
}
div.ticket-tbl table th{
    color: #52BC00;
    text-transform: uppercase;
}
div.ticket-tbl table td span{
    color: #52BC00;
    padding: 5px;
    border: 1px solid #52BC00;
    border-radius: 3px;
}
div.ticket-tbl table td button{
   cursor: pointer;
    padding:5px 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left:20px;
}
div.list-boxes{
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
div.listing-box{
    background-color: purple;
   
}
div.payment-box{
    background-color: teal;
   
}
div.payment-box i{
    margin-top: 30px;
    color: #fff;
   
}
div.listing-box i{
    margin-top: 30px;
    color: #fff;
   
}
div.listing-action button{
    padding: 0px 20px;
    text-align: center;
    width: 80%;
    margin-top: 20px;
}
button.btn-listing-view{
    padding: 0px 20px;
    text-align: center;
    margin-top: 20px;
    border: 1px solid #52BC00;
    background-color: #fff;
    color: #000;

}
div.loan-description div{
    margin-bottom: 10px;
}
i.fa-check-circle{
    color: #52BC00;
    margin-left: 10px;
    border-radius: 100%;
    padding: 2px; 
}
i.fa-times-circle{
    color: red;
    margin-left: 10px;
    border-radius: 100%;
    padding: 2px; 
}
i.fa-minus-circle{
    color: red;
    margin-left: 10px;
    padding: 2px; 
}
.blue-text{
    color: dodgerblue;
}
.btn-outline-danger{
    border: 1px solid red !important;
}
.listings-tbl th{
    color: red;
}
.coperative-tbl th{
    color: gold;
}
.due-action button{
    width: 90%;
    cursor: pointer
}
.pink-text{
    color:deeppink;
}
.bg-red{
    background-color: red;
}
.btm-red{
    border-bottom: 5px solid red;
}
.bg-gold{
    background-color: gold;
}
.gold-text{
    color: brown;
}
.mar-0{
    margin: 0px;
}
div.row.shadow-lg.bg-white.margin-btm-20{
    border-radius: 20px;
}
.id-div{
    background-color: grey;
    height: 150px;
}
.user-loan-logo{
  width: 150px;
}
.user-details div{
    padding-bottom: 12px;
}
.loan-form{
    padding: 70px;
    border: 2px solid gray;
    box-shadow: 4px 4px 4px 4px gray;
}
.loan-form2{
    padding: 20px;
    border: 2px solid gray;
    box-shadow: 4px 4px 4px 4px gray;
}
.loan-form2 form{
    padding-bottom: 20px;
}
.loan-form2 form input{
    margin-left:20px;
}
.loan-button{
    padding:0 55px 0 50px;
    border-radius: 20px;
}
.active-signal{
    color:green;
    font-size:100px;
    margin-top: -50px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.signal-writeup{
    margin-top: -60px;
    margin-left: -14px;
}
.online-status{
    margin-left:-22px;
}
.members-logo{
    width: 150px;
    margin-top: 40px;
  }
  .members-header{
      font-family: arial;
  }
  .user-declined-status{
      color: red;
  }
  .user-accepted-status{
    color: green;
}
.download-button{
    background:green;
    color: white;
    border-radius: 120px;
}
.question-mark{
    font-size:45px;   
}
.activity-list{
    font-size:40px; 
}
.disburs{
    font-size:35px; 
}
.question-button{
    border-radius:2%;
    height: 80px;
    border:none;
    padding:0 30px 0 30px;
    margin-top: -20px;
    margin-left: -10px;
    background: rgb(0, 151, 211)
}
.question-button-green{
    border-radius:2%;
    height: 80px;
    border:none;
    padding:0 30px 0 30px;
    margin-top: -20px;
    margin-left: -10px;
    background: rgb(82, 188,0);
}
.question-button-orange{
    border-radius:2%;
    padding:0 30px 0 35px;
    border:none;
    height: 80px;
    margin-top: -20px;
    margin-left: -10px;
    background:rgb(235, 87, 87);
}
.question-button-long{
    border-radius:2%;
    height: 130px;
    border:none;
    padding:0 30px 0 30px;
    margin-top: -20px;
    margin-left: -10px;
    background: rgb(0, 151, 211);
}
.activity-container{
    height: 60px;
}
.activity-container-long{
    height: 110px;
    
}
.activity-details{
    color: gray;
    margin-left: 20px;
}
.activity-details-long{
    color: gray;
    margin-left: 20px;
}
.help-center h6{
    font-weight: 700;
}
.activity-comment{
    font-size: 70px;
    color:  rgb(0, 151, 211); 
    margin-top: -25px;
    font-weight: 600;
}
.activity-comment-writeup h6{
    font-weight: 700;
}
.activity-pencil{
    font-size: 60px;
    color:  rgb(0, 151, 211); 
    margin-top: -15px;
    font-weight: 600;
}
.activity-pencil-writeup h6{
    font-weight: 700;
}
div.fund-bar-green{
    border-right: 10px solid rgb(82, 188,0);
}
.setup-symbol{
    font-size: 50px;
    margin-left: 30px;
    color: gray;
}
.settings-title{
    color:  rgb(82, 188,0);
}
.settings-container form input{
    border-radius:10px;
}
.autoloan-container form input{
    border-radius:20px;
}
.settings-container form label{
    color:gray;
    font-weight: 600;
}

.current-password-setup{
    color:gray;
    font-weight: 600;
}
.change-password-setup{
    color:gray;
    font-weight: 600;
}
.card-background{
    background: gainsboro;
    padding: 20px 20px 20px 20px;
    width: 101%;
    height: 94%;
}
.message-container{
   
    
}
.chat-box{
    margin-top: -10px;
}
.chat-box .card{
    margin-left:-12px;
    border: white;
    padding-bottom: 140px;   
}
.chat-box nav{
    margin-left:-12px;
    border: 1px solid gainsboro; 
    width:120%;  
}
.chat-box .bg-light-1{
    background: #fff !important; 
}
.message-box{
    margin-top: -10px;
}
.message-box .bg-light{
    background: #fff !important;
}
.message-box nav{
    width: 101.2%;
    border: 1px solid gainsboro;   
}
.third-chat{
    background: gainsboro;
    border-left: 10px solid red;
    border-top: 1px solid red;
    padding-bottom: 20px;
    padding-top: 10px;
}
.chat-img{
    border-radius:100%;
    height: 60px;
}
.message-box img{
    border-radius:100%;
    height: 80px;
    width: 80px;
}
.third-chat img{
    margin-left: -10px;
}
div.fund-bar-auto{
    border-right: 10px solid #004C4C;
}
.autoloan-title h5{
    color: #004C4C;
    font-weight: 600;
    font-size: 18px;   
}
.autoloan-form-details{
    color: #828282;
}
.autoloan-form-details-2{
    margin-top: 65px;
    color: #828282;
}
.autoloan-form-details-3{
    margin-top: 90px;
   
}
.req-loan{
    width:173px;
    margin-left: 320px;
    color: #828282;
}
.req-loan-amt{
    width:173px;
    margin-left: 410px;
    color: #828282;
}
.loan-line{
    width: 1015px;
    height: 10px;
    background: linear-gradient(180deg, #93D802 50%, #04B648 100%), #D1D1D1;
    border-radius: 25px;
}
.loan-point{
    width: 14px;
    height: 14px;
    background: #F2994A;
    border-radius: 20px;
    margin-top:-13px;
    margin-left:300px;
}
.loan-point-2{
    width: 14px;
    height: 14px;
    background: #00BFBF;
    border-radius: 20px;
    margin-top:-13px;
    margin-left:300px;
}
.loan-first-amt{
    color: #828282;
}
.current-loan-setup{
    font-weight: 600;
    color: #828282;
}
.current-loan-setup-2{
  
    color: #828282;
}
.current-loan-setup-3{
    font-weight: 600;
    color: #828282;
    margin-left:270px;
}
.loan-info{
   width: 160px;
}
.interest-rate-input{
    width: 50px;
    margin-left: 100px;
}
.round{
    width: 60px;
    height: 60px;
    border-radius:80%;
    background:linear-gradient(180deg, #93D802 50%, #04B648 100%), #D1D1D1;
    margin-left: -15px;
}


.btn-loan{
    margin-right:10px;
}
.mcard-header{
    border-color: #FF653D !important;
    border-right: 5px solid;
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25) !important;
    border-radius: 3px !important;
    height:95px !important;
    /*padding:unset;*/
    
}

.page-header{
    padding: 0px;
}
.page-header-content{
    padding: 30px 50px 30px 30px;
}
.page-header p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 40px;
}
.page-ln{
    margin-top: 70px;
}
.page-ln h6{
    font-weight: 600;
    margin-bottom:0px;
    font-size: 14px;

}
.page-ln a{
    color: #52BC00;
    font-size: 14px;

}

ul.colored-list li{
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}
.requirement, .loan-calculator {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin-bottom: 40px 0px;
}
.range-amount p{
    font-size: 14px;
    color: #828282;
    font-weight: 300;
}
.range-text label, .calculate label{
    font-size: 14px;
    color: #828282;
    font-weight: 600;
}
.range-text input {
    max-width: 150px;
    border-radius: 50px;
}
.calculate input{
    border-radius: 50px;
}
.slider-range, .slider-range2 {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 3px; /* Specified height */
    background: linear-gradient(180deg, #93D802 0%, #04B648 100%); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider-range::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #F2994A; /* Green background */
    cursor: pointer;
    border-radius: 30px; /* Cursor on hover */
}

.slider-range::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 30px; 
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider-range2::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #00BFBF; /* Green background */
    cursor: pointer;
    border-radius: 30px; /* Cursor on hover */
}

.slider-range2::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #00BFBF; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 30px; 
}