<div class="container margin-top-20">
  <div class="col-md-12 navigation-back">
    <span routerLink="/home">
     <img src="../assets/images/back-icon.png">
    <strong>HOME</strong>
    </span>
  </div>
    
  <div class="mcard-header">
    <img class="img-fluid" width="10%" src="../assets/fundal/admin/Profile (3) (1).png">
    <span>Request  Public Loan</span>
    <!--<button (click)="applyLoan()" class="btn pull-right btn-styled btn-md mt-4 btn-loan"> Apply for Loan<i class="fa fa-arrow"></i> </button>-->

    <!--<h2 class="page-header-title text-transform-uppercase">
                            JOIN COOPERATIVES
                        </h2>-->
    <!--<div class="form-group">
                            <input class="form-control">
                            <i class="fa fa-search"> </i>
                        </div>-->
  </div>
    <div class="top-head top-title mb-4 p-5 ">
        <div class="container-fluid p-0  publicloan-container">
            <div class="row">
                <div class="col-sm-6">
                    <div class=" publicloan-title mb-5">
                        <h5> PUBLIC LOAN APPLICATION FORM DETAILS</h5>
                    </div>
                    <form class=" autoloan-form-details">
                        <!--<label for="">Loan Name</label>-->
                        <input class="form-control pl-4" type="hidden" [(ngModel)]=" public.productName" name="name" value=" public loan">
                        <br>
                        <label for="">Loan Amount</label>
                        <input class="form-control pl-4" type="number" min="1" [(ngModel)]=" public.amount" name="amount" >
                        <br>
                        <label for="">Loan Duration (in months)</label>
                        <input class="form-control pl-4" type="number" min="1" [(ngModel)]=" public.duration" name="duration" >
                        <br>
                        <label for="">Bank Statement</label>
                        <input class="form-control pl-4" type="file" name="bank" (change)="onselect_bs($event)" >
                        <br>
                        <label for="">Monthly Earnings(in Naira)</label>
                        <input class="form-control pl-4" type="number" min="1" (change)="calc()" [(ngModel)]=" public.salaryEarned" name="earnings" >
                        <br>
                        <label for="">Employment</label>
                        <select class="form-control pl-4" [(ngModel)]=" public.proof_employment" name="employment">
        <option value="civil_servant">Civil Servant</option>
        <option value="business">Business</option>
    </select>
                        <br>
                        <label for="">Employee Id (upload)</label>
                        <input class="form-control pl-4" type="file" (change)="select_empl_Id($event)" name="Id" >
                        <br>
                        <label for="">Total Re-Payment</label>
                        <input class="form-control pl-4" type="text" readonly [(ngModel)]=" public.total_cost" name="repayment" >
                        <br>
                        <label for="">Monthly Re-Payment</label>
                        <input class="form-control pl-4" type="text" readonly [(ngModel)]=" public.monthly_repayments" name="monthly" >
                        <br>
                        <br>
                        <label for="">Interest Rate</label>
                        <input class="form-control pl-4" type="text" name="intrest" readonly [(ngModel)]="public.interestRate">
                        <br>
                        <button type="button" *ngIf="!isRequesting" (click)="request()" class="btn btn-default" name="button">Request Loan</button>
                        <button type="button" *ngIf="isRequesting" class="btn btn-default" name="button">Requesting </button>

                        <!--<input type="hidden" [(ngModel)]=" public.productName" name="" >-->
                        <!--<div class="form-group mb-5">
                            <label for="sel1">Select your Proof of Employment</label>
                            <select class="form-control pl-4" id="sel1">
                                                                                    <option>Click here to dropdown</option>
                                                                                    <option>1</option>
                                                                                    <option>2</option>
                                                                                    <option>3</option>
                                                                                    <option>4</option>
                                                                                </select>
                        </div>
                        <div class="form-group mb-5">
                            <label for="lnam">Upload your Bank Statement(Last 3 months)</label>
                            <input type="text" class="form-control pl-4" placeholder="Upload your statement here.." id="lnam">
                        </div>
                        <div class="form-group">
                            <label for="num">Monthly Earnings(in Naira)</label>
                            <input type="number" class="form-control pl-4" id="num">
                        </div>-->
                    </form>
                </div>



            </div>
        </div>
    </div>
</div>
