<div class="col-md-12">
  <div class="navigation-back type-2 mt-5">
    <i class="fa fa-arrow-left"></i>
    <h2 routerLink="/admin/loan-management">
      LOAN MANAGEMENT
    </h2>
  </div>
</div>
<div class="col-md-1"></div>
<div class="col-md-10" style="margin-left:7%">
  

  <div class="row">
    <div class="col-md-6">

      <div class="box">
        <h5 class="text-green text-center">UPLOAD LOAN ICON</h5>
        <div class="photo-upload-group img-center">
          <div class="circle">
            <img class="main img-center" [src]="loanIcon" />
          </div>

          <div class="p-image">
            <input type="file" style="display:none" #loan_icon (change)="fileSelected($event)" name="" value="">
            <button class="btn action">
                      <img (click)="loan_icon.click()" class="img-icon-log-out img-center" src="../assets/fundal/admin/loan/Camera.png" />
                    </button>

          </div>
        </div>
        <!--<button (click)="loan_icon.click()" class="btn btn-styled main action img-center"> Update </button>-->
        <!-- <label for="">Loan Images</label>
                <select class="" name="">
                    <option value="">test</option>
                    <option value="">test</option>
                </select> -->
      </div>
    </div>
    <div class="col-md-6">

      <div class="box">
        <h5 class="text-green text-center">UPLOAD LOAN IMAGE</h5>
        <div class="photo-upload-group img-center">
          <div class="circle">
            <img class="main img-center" [src]="loanImage" />
          </div>

          <div class="p-image">
            <input type="file" style="display:none" #loan_image (change)="onFileSelected($event)" name="" value="">
            <button class="btn action">
                      <img (click)="loan_image.click()" class="img-icon-log-out img-center" src="../assets/fundal/admin/loan/Camera.png" />
                    </button>

          </div>
        </div>
        <!--<button (click)="loan_image.click()" class="btn btn-styled main action img-center"> Update </button>-->
      </div>
    </div>

    <!-- <div class="col-md-2 d-flex justify-content-center align-items-center add-section">
              <img class="img-fluid mr-2" src="../assets/fundal/admin/loan/372914-512 - Copy.png" width="20%" />
              <p>ADD SECTION</p>
            </div> -->
  </div>
  <div class="pill">
    <div class="row">
      <div class="col-md-3">
        <h4>LOAN NAME:</h4>
      </div>
      <div class="col-md-8">
        <input type="text" class="loan-form-styled form-control" [(ngModel)]="loan.loanName" name="name" value="">
      </div>
      <!--<div class="col-md-2">
        <img class="action pull-right" src="../assets/fundal/admin/loan/if_icon-136-document-edit_314251.png" />
      </div>-->
    </div>
  </div>
  <div class="pill">
    <div class="row">
      <div class="col-md-3">
        <h4>LOAN DESCRIPTION:</h4>
      </div>
      <div class="col-md-8 mb-3">

        <textarea [(ngModel)]="loan.description" name="description" class="form-control textarea-styled">
                                                 </textarea>
        <!--<button class="btn pull-right btn-styled btn-md mt-4"> Update </button>-->
<!---->
      </div>



    </div>
  </div>

  <div class="pill">
    <div class="row">
      <div class="col-md-3">
        <h4>INTEREST RATE:</h4>
      </div>
      <div class="col-md-8">
        <input class="form-control loan-form-styled" [(ngModel)]="loan.interestRate" placeholder="Interest" />

      </div>
      <!--<div class="col-md-1 no-padding d-flex">
        <img class="action mr-2 img-fluid" width="10%" src="../assets/fundal/admin/loan/372914-512 - Copy.png" />
        <img class="action mr-2 img-fluid" width="10%" src="../assets/fundal/admin/loan/1370026-512 (2).png" />

      </div>-->

    </div>
    <div class="row">
      <div class="col-md-3">
        <h4>ORDER:</h4>
      </div>
      <div class="col-md-8">
        <input class="form-control loan-form-styled" [(ngModel)]="loan.order" placeholder="Order of appearance on homepage e,g 1"
        />

      </div>
      <!--<div class="col-md-1 no-padding d-flex">
        <img class="action mr-2 img-fluid" width="10%" src="../assets/fundal/admin/loan/372914-512 - Copy.png" />
        <img class="action mr-2 img-fluid" width="10%" src="../assets/fundal/admin/loan/1370026-512 (2).png" />

      </div>-->

    </div>
    <div class="row" *ngFor="let requirement of loan.requirements; let i = index ; trackBy:trackByFn">
      <div class="col-md-3">
        <h4>REQUIREMENT({{i+1}}):</h4>
      </div>
       <div class="col-md-3">
        <select class="form-control loan-form-styled" style="border-radius:25px;height:27px" name="type" [(ngModel)]="loan.requirements[i].type">
                  <option value="">--type of requirement--</option>
                  <option value="text">Text</option>
                  <option value="drop down">Drop Down</option>
                  <option value="file">File</option>
                </select>
      </div>
      <div class="col-md-4">
        <input class="form-control loan-form-styled" [(ngModel)]="loan.requirements[i].name" placeholder="{{loan.requirements[i].type == 'drop down' ? 'Field name,optionse.g Gender,Male,Female' : 'Requirement name'}}" />

      </div>

     
      <div class="col-md-1 no-padding d-flex">
        <img class="action mr-2 img-fluid" (click)="addRequirement()" style="width: 23px !important;height: 21px !important;" src="../assets/fundal/admin/loan/372914-512 - Copy.png"
        />
        <img class="action mr-2 img-fluid" (click)="deleteRequirement(i)" style="width: 23px !important;height: 21px !important;" src="../assets/fundal/admin/loan/1370026-512 (2).png"
        />

      </div>

    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <h4>MINIMUM LOAN AMOUNT:</h4>
          </div>
          <div class="col-md-6">
            <input type="number" min="1" class="form-control loan-form-styled" [(ngModel)]="loan.minAmount" name="minAmount" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4>MAXIMUM LOAN AMOUNT:</h4>
          </div>
          <div class="col-md-6">
            <input type="number" min="1" class="form-control loan-form-styled" [(ngModel)]="loan.maxAmount" name="maxAmount" />
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-6">
            <h4>MINIMUM DURATION (months):</h4>
          </div>
          <div class="col-md-6">
            <input type="number" min="1" class="form-control loan-form-styled" [(ngModel)]="loan.durationMin" name="durationMin" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4>MAXIMUM  DURATION (months):</h4>
          </div>
          <div class="col-md-6">
            <input type="number" min="1" class="form-control loan-form-styled" [(ngModel)]="loan.durationMax" name="durationMax" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="row">-->
    <div class="col-md-12" align="center" style="display:flex;justify-content: center">
      <button *ngIf="!isLoading" (click)="create()" style="cursor:pointer" class="btn btn-styled btn-md pull-right my-5">Create
                Loan</button>
      <button *ngIf="isLoading" disabled style="cursor:pointer;background:#ccc" class="btn btn-styled btn-md pull-right my-5">Creating <i class="fa fa-spin fa-spinner"></i></button>
    <!--</div>-->
  </div>
</div>