<div class="container">
  <div class="navigation-back type-2 mt-5">
    <i class="fa fa-arrow-left"></i>
    <h2 routerLink="/admin/disburseManagers">
      BACK
    </h2>
  </div>
  <div class="page-header d-flex align-items-center  b-r border-red">
    <img class="img-fluid" width="5%" src="../assets/fundal/admin/Icon set-05 (3).png">
    <h2 class="page-header-title text-transform-uppercase">
      User
    </h2>
  </div>
  <div class="form-box">
    <div class="row mb-5">
      <div class="col-md-8">
        <div class="table-responsive">
            <table class="table">

                <tbody>
                  <tr>
                    <td>FIRST NAME</td>
                    <th>{{disburse.firstName}}</th>
                  </tr>
                  <tr>
                    <td>LAST NAME</td>
                    <th>{{disburse.lastName}}</th>
                  </tr>
                  <tr>
                    <td>DATE CREATED:</td>
                    <th>31/01/2017</th>
                  </tr>
                  <!-- <tr>
                    <td>COMMUNITIES:</td>
                    <th>LAST NAME</th>
                  <tr>
                  <tr>
                    <td>FIRST NAME</td>
                    <th>4</th>
                  <tr> -->
                  <tr>
                    <td>DISBURSED:</td>
                    <th>0</th>
                  </tr>
                  <tr>
                    <td>DATE OF LAST DISBURSAL:</td>
                    <th>31/01/2018</th>
                  </tr>
                  <tr>
                    <td>LAST LOGIN:</td>
                    <th>31/01/2018</th>
                  </tr>
                  <tr>
                      <td>STATUS:</td>
                      <th *ngIf="disburse.enabled" class="text-green">
                        Active
                        <img class="display-inline" src="../assets/fundal/admin/if_tick_green_619543.png" />
                      </th>
                      <th *ngIf="!disburse.enabled" class="text-red">
                        Inactive
                         <img class="display-inline" src="../assets/fundal/admin/if_close_red_619539.png" />
                      </th>
                  </tr>
                  <tr>
                    <td>SUSPENSION HISTORY:</td>
                    <th class="text-blue">None</th>
                  </tr>
                  <tr>
                    <td>SUSPENDED BY:</td>
                    <th class="text-blue">None</th>
                  </tr>
                  <tr>
                    <td>COMMENTS ON SUSPENSION:</td>
                    <th>
                      <textarea class="superide hidden-xs">
                                                            </textarea>
                      <textarea class="b-t visible-xs">
                                                            </textarea>
                    </th>
                  </tr>

                </tbody>
              </table>

        </div>

      </div>


      <div class="col-md-4">
        <div class="user-img-box d-flex flex-column justify-content-center align-items-center">
          <img src="../assets/fundal/admin/Profile (3) (3).png" class="img-center mb-4" />
          <button *ngIf="disburse.enabled" (click)="disable()" class="btn btn-outline text-red img-center border-red px-28 mb-3">
            SUSPEND
          </button>
          <button *ngIf="!disburse.enabled" (click)="enable()" class="btn btn-outline text-red img-center border-red  mb-3">
            LIFT SUSPENSION
          </button>
          <button (click)="delete()" class="btn btn-outline text-red img-center border-red">
            DELETE USER
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12 pr-5 mt-5">

      <button class="btn btn-styled btn-md pull-right">
        Update
      </button>
    </div>
  </div>
</div>
