<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" style="cursor:pointer" role="presentation">
        <a routerLink="/customercare/view_user_requested_loans" routerLinkActive="active " [routerLinkActiveOptions]="{exact:true}" aria-controls="home" data-toggle="tab" class="nav-link text-center text-normal strong-600">Pending</a>
    </li>
    <li class="nav-item" style="cursor:pointer" role="presentation">
        <a routerLink="/customercare/view_user_approved_loans" routerLinkActive="active " [routerLinkActiveOptions]="{exact:true}" aria-controls="profile" data-toggle="tab" class="nav-link text-center text-normal strong-600">Approved</a>
    </li>
    <li class="nav-item" style="cursor:pointer" role="presentation">
        <a routerLink="/customercare/view_user_rejected_loans" routerLinkActive="active " [routerLinkActiveOptions]="{exact:true}" aria-controls="profile" data-toggle="tab" class="nav-link text-center text-normal strong-600">Rejected</a>
    </li>
</ul>
