<!-- MAIN WRAPPER -->
<div class="nav-header">

  <nav class="navbar navbar-expand-sm justify-content-center">
    <a class="navbar-brand" href="#">
      <img src="../assets/fundal/logo-name.svg" class="" alt="Fundal">
    </a>

  </nav>

</div>
<div class="auth-body">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-4 hidden-sm">
        <div class="logo-icon">
          <img src="../assets/fundal/logo-big.svg" class="img-fluid d-flex justify-content-center" />
        </div>

      </div>
      <div class="col-lg-8 col-md-12">
    


        <div class="form-area-sign-up">
          <h2 class="main-card-title">
            Confirmation email
          </h2>
          <p class="main-card-subtitle"> Your verification email has been sent to your email address.  To resend again, click the button below. </p>

        <button (click)="resend()" class="btn img-center btn-styled btn-md" name="button"> Resend </button>

        </div>
      </div>


    </div>
  </div>
</div>

