.notification {
    padding: 0;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 30px 0px 15px;
    font-size: 14px;
    line-height: 1.3;
}

.notification .image {
	width: 100%;
	height: auto;
}

.links {
	padding: 30px 10px;
	text-align: center;
}

.cont {
	padding: 30px 15px;
}