<!-- MAIN WRAPPER -->
<div class="container">
	<div class="col-md-12 navigation-back">
		<span routerLink="/home">
     <img src="../assets/images/back-icon.png">
    <strong>BACK TO HOME</strong>
  	</span>
  </div>

  <div class="row notification">
      <div class="col-md-2 justify-content-between image">
        <img src="../assets/fundal/home/261213-P553X9-698.png" class="img-fluid">
      </div>
      <div class="col-md-6 cont">
      	You have a payment due on the 27th of May, 2018
          <hr>
          <div class="row">
            <div class="col-md-6"><b>Amount Due: <span class="text-red">&#8358;10,000</span></b></div>
            <div class="col-md-6"><b>Amount Due: <span class="text-red">&#8358;10,000</span></b></div>
        </div>
      </div>
      <div class="col-md-4 links">
      	<div class="row">
        	<div class="col-md-6">
        		<div routerLink="" class="pointer">
            		<b>Make Payment</b>
            	</div>
            </div>
            <div class="col-md-6">
              	<div routerLink="" class="pointer">
              		<b>View Payment</b>
              	</div>
            </div>
        </div>
      </div>
  </div>

  <div class="row notification">
      <div class="col-md-2 image">
        <img src="../assets/fundal/home/261213-P553X9-698.png" class="img-fluid">
      </div>
      <div class="col-md-6 cont">
      	Customer care hs responded to your request
      </div>
      <div class="col-md-4 links">
      	<b class="pointer" routerLink="">GO TO HELP CENTER</b>
      </div>
  </div>
</div>