<div class="container">
  <div class="navigation-back type-2 mt-5">
    <i class="fa fa-arrow-left" routerLink="/u/dashboard"></i>
    <h2 routerLink="/u/dashboard">

      BACK
    </h2>
  </div>
  <div class="mcard-header">
    <img class="img-fluid" width="10%" src="../assets/fundal/admin/Profile (3) (1).png">
    <span>Loan Request</span>
    <!--<button class="btn pull-right btn-styled btn-md mt-4 btn-loan"> Apply for Loan<i class="fa fa-arrow"></i> </button>-->

    <!--<h2 class="page-header-title text-transform-uppercase">
                            JOIN COOPERATIVES
                        </h2>-->
    <!--<div class="form-group">
                            <input class="form-control">
                            <i class="fa fa-search"> </i>
                        </div>-->
  </div>
  <br>
  <div class="col-md-12">
    <member-card [profile]="profile"></member-card>
    <div class=" row">
      <div class="col-sm-6 base-card inline">
        <span class="loan-req-info">LOAN REQUEST INFORMATION</span>
        <div class="row">
          <div class="col-md-6"><span class="loan-headings">Requested Loan Amount</span></div>
          <div class="col-md-4"><span class="loan-details">{{loan.amount | currency:"N"}}</span></div>
        </div>
        <div class="row">
          <div class="col-md-6"><span class="loan-headings">Duration</span></div>
          <div class="col-md-4"><span class="loan-details">{{loan.duration }} month(s)</span></div>
        </div>
        <div class="row">
          <div class="col-md-6"><span class="loan-headings">Total Cost of Loan</span></div>
          <div class="col-md-4"><span class="loan-details">{{loan.totalCost | currency:"N" || loan.amount | currency:"N" }}</span></div>
        </div>
        <div class="row">
          <div class="col-md-6"><span class="loan-headings">Monthly Repayment</span></div>
          <div class="col-md-4"><span class="loan-details">{{loan.monthlyRepayment | currency:"N"}}</span></div>
        </div>
      </div>
      <div class="col-sm-6 inline">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <button *ngIf="!isLoading" (click)="processLoan(2)" class="btn pull-right btn-styled btn-md mt-4 btn-loan" style="background:unset;background-color:#000"> Reject </button>
        <button *ngIf="!isLoading" (click)="processLoan(1)" class="btn pull-right btn-styled btn-md mt-4 btn-loan"> Accept<i class="fa fa-arrow"></i> </button>
        <button *ngIf="isLoading" class="btn pull-right btn-styled btn-md mt-4 btn-loan"> Loading<i class="fa fa-arrow"></i> </button>



      </div>
    </div>
  </div>
</div>
