<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" style="cursor:pointer" role="presentation">
        <a routerLink="/customercare/pending_listing_request" routerLinkActive="active " [routerLinkActiveOptions]="{exact:true}" aria-controls="home" data-toggle="tab" class="nav-link text-center text-normal strong-600">Request</a>
    </li>
    <li class="nav-item" style="cursor:pointer" role="presentation">
        <a routerLink="/customercare/running_listings" routerLinkActive="active " [routerLinkActiveOptions]="{exact:true}" aria-controls="profile" data-toggle="tab" class="nav-link text-center text-normal strong-600">Running Ads</a>
    </li>
</ul>
