<p>
  edit-ninja works!
</p>

<p>{{ninja.name}}- {{ninja.belt}}</p>
<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <form #editForm="ngForm" class="" (ngSubmit)="updateNinja()" method="post">
                <label for="">Name</label>
                <input type="text" name="name" [(ngModel)]="ninja.name">
                <label for="">Belt</label>
                <input name="belt" type="text" [(ngModel)]= "ninja.belt"/>
                <label for="">Image</label>
                <input #image (change)="onFileSelected($event)" type="file" name="image" value="">
                <br>
                <br>
                <input type="submit" class="btn blue small" name="" value="Update Ninja">
            </form>
        </div>
        <!-- <button (click)="alertMe('i like food')" name="button">Click me</button> -->
    </div>
</div>
