<div class="col-sm-12">
    <div class="margin-top-20 green-primary-color loanAct container">
        <div class="d-flex ">
            <div class="mr-auto" routerLink="/"><i class="fa fa-arrow-left "> </i> HOME</div>
            <div class="">
                <!-- <button class="margin-btm-20 btn btn-my-btn-blue">Transaction History</button>
                        <button class="margin-btm-20 btn btn-my-btn">View Tickets</button> -->
            </div>

        </div>
    </div>
    <div class=" margin-top-20 margin-btm-20">
        <div class="container-fluid margin-top-20 margin-btm-20">
            <div class="container margin-top-20 shadow top-head margin-btm-20">
                <h6 class="margin-btm-20 margin-top-20">Profile Details</h6>
                <div class="row margin-top-20">
                    <div class="col-sm-4 text-center">
                        <div class="margin-btm-20 margin-top-20">
                            <i class="fa fa-user fa-4x bordered"></i>
                        </div>

                        <div class="due-action margin-btm-20">
                            <button routerLink="/view_user_details/{{r.accountHolder}}" type="button" class="btn btn-outline-success">USER DETAILS</button>
                        </div>
                    </div>
                    <div class="col-sm-4 loan-description">
                        <div>
                            <label>First Name  </label>
                        </div>
                        <div>
                            <label>Last Name </label>
                        </div>
                        <div>
                            <label>Phone Number </label>
                        </div>
                        <div>
                            <label>Email Address </label>
                        </div>
                        <div>
                            <label>Date Joined </label>
                        </div>
                        <div>
                            <label>Number Of LoansTaken. </label>
                        </div>
                    </div>
                    <div class="col-sm-4 loan-description">
                        <div>
                            <label> {{r.user.firstName}}  </label>
                        </div>
                        <div>
                            <label>{{r.user.lastName}} </label>
                        </div>
                        <div>
                            <label> {{r.user.phone}} </label>
                        </div>
                        <div>
                            <label>{{r.user.email}} </label>
                        </div>
                        <div>
                            <label>{{r.user.date_created ? (r.user.date_created | date:'medium') : "--" }}</label>
                        </div>
                        <div>
                            <label>{{r.user.num_of_loans_taken || 0}}</label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="container margin-top-20 shadow top-head pad-30">
                <h6 class="margin-btm-20 margin-top-20 ml-6">{{r.loanName}}</h6>
                <div class="row margin-top-20 ml-5 margin-btm-20 loan-appy-details">
                    <div class="col-sm-3" style="height:250px" *ngFor="let requirement of file_requirements">
                        <span style="cursor:pointer">{{requirement.name}} </span> <i class="fa fa-2x fa-file-o" style="color:blue"></i>
                    <!--<div style="cursor:pointer" [routerLink]="base_api+requirement.value" target="_blank" [ngStyle]="{ 'background-image': 'url(' + base_api+requirement.value+ ')'}"
                            class="id-content">
                            <!--<img height="300px" width="100%"  alt=""> -->
                        <!--</div>-->
                    </div>
                    <!--<div class="col-sm-6">
                <h6>Proof Of Employment : Work Id </h6>
                <div class="id-content">
                 <img [src]="'http://test.natterbase.com:3001/'+ r.foid" alt="">
                </div>
                </div>
                <div class="col-sm-6">
                <h6>Crevance Application Form </h6>
                <div class="id-content">
                 <img [src]="'http://test.natterbase.com:3001/'+ r.foid" alt="">
                </div>
                </div>
                <div class="col-sm-6">
                <h6>Upload Bank Statement</h6>
                <div class="id-content">
                <img width="100%" height="100%" [src]="'http://test.natterbase.com:3001/'+ r.bankStatement" alt="">
                </div>
                </div>-->

                </div>
                <hr *ngIf="r.applicationState =='2' && r.disbursed" class="bg-green green-primary-color">
                <div class="ml-6" *ngIf="r.applicationState =='2' && r.disbursed">
                    <h6 class="margin-btm-20">Repayments</h6>
                    <div class="listings-tbl table-responsive ">
                        <!--<table class="table">
                            <tr>
                                <th>SN</th>
                                <th>Amount Payed</th>
                                <th>Amount Left</th>
                                <th>Date</th>
                                <th></th>
                                <th>STATUS</th>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>N 10,000</td>
                                <td>N 20,000</td>
                                <td>13/05/2017</td>
                                <td></td>
                                <td><span class="green-primary-color">Received</span></td>
                                <td><button class="btn btn-outline-primary">VIEW</button></td>
                            </tr>
                        </table>-->
                    </div>
                </div>
                <br>
                <br>
                <hr class="bg-green green-primary-color">
                <!--<div class="row">-->
                <div class="ml-6">
                    <h6 class="margin-btm-20">Loan Request Information</h6>
                    <h6 class="margin-btm-20">Monthly Earning : {{r.salaryEarned | currency:'N':'symbol-narrow'}}</h6>
                    <div class="row ">
                        <div class="col-sm-4 ">
                            <h6 class="">Loan Requested : {{r.amount | currency:'N':'symbol-narrow'}}</h6>
                        </div>
                        <div class="col-sm-4 ">
                            <h6>Interest : {{r.interestRate | percent}}</h6>
                        </div>
                        <div class="col-sm-4 ">
                            <h6>Repayment Amount : {{r.total_cost  | currency:'N':'symbol-narrow'}}</h6>
                        </div>
                        <div class="col-sm-4 " *ngFor="let requirement of text_requirements">
                            <h6>{{requirement.name}} : {{requirement.value}}</h6>
                        </div>

                    </div>
                    <!--</div>-->
                </div>
                <div class="text-center margin-top-20" *ngIf="localStorage.getItem('role') != '1'">
                    <button *ngIf="r.applicationState =='0'  && !isLoading" (click)="approve()" class="margin-btm-20 btn btn-my-btn">Approve</button>
                     <button *ngIf="r.applicationState == 0" (click)="reject()" class="margin-btm-20 btn btn-my-btn">Reject</button>
                    <button *ngIf="!r.disbursed && r.applicationState =='2' && localStorage.getItem('role') == '3' && !isLoading" (click)="approve()" class="margin-btm-20 btn btn-my-btn">Disburse</button>
                   <button *ngIf="isLoading" class="margin-btm-20 btn btn-my-btn">Loading <i class="fa fa-spin fa-spinner"></i></button>
                </div>


            </div>

        </div>
    </div>
