.green-primary-color{
    color: #52BC00;
}
.red-text{
    color: red;
}
.pad-30{
    padding: 30px;
}
.pad-top-20{
    padding-top: 20px;
}
.pad-btm-20{
    padding-bottom: 20px;
}
a, a:hover{
    text-decoration: none;
    color: #000;
}
.bg-green{
    background-color:#52BC00;
}
.margin-btm-20{
    margin-bottom: 20px;
}
.margin-top-20{
   margin-top: 20px;
}
.margin-top-10{
   margin-top: 10px;
}
.mar-btm-100{
    margin-bottom: 100px;
}
a.green-primary-color:hover{
    color: #52BC00;
    text-decoration: none;
}
img.head-logo{
   width: 147px;

}

img.icon-logo{
   width: 50px;
   text-align: left !important;

}
.text-center{
    text-align: center !important;
}
select{
    border-radius: 50%;
}
header{
    padding-top: 50px;
}
section#main-content{
    padding-top: 100px;
}
div.form-holder{
    width: 70%;
}
text-left{
    text-align: left;
}
.right{
    float: right;
}
.btn-my-btn{
    background-color: #54C921;
    color: #fff;
    border-radius: 50px;
}
.btn-my-btn-black{
    background-color: #000;
    color: #fff;
    border-radius: 50px;
}
.btn-my-btn-blue{
    background-color: #222233;
    color: #fff;
    border-radius: 50px;
}
input.form-control, select.form-control{
    border-radius: 50px;
}
div.top-head{

    padding: 10px;
    -webkit-box-shadow: 1px 1px 5px 0px #a2958a;
  -moz-box-shadow: 1px 1px 5px 0px #a2958a;
  box-shadow: 1px 1px 5px 0px #a2958a;


}
i.loan-search-div{
    position: absolute;
    margin-top: -25px;
    margin-left: 90%;


}
i.bordered{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 30%;
}
i.blue{
    color: dodgerblue;
}
.box2{
     border-bottom: 13px solid dodgerblue ! important;
}
.box3{
     border-bottom: 13px solid #222233 ! important;
}
.box1{
     border-bottom: 13px solid rgb(207, 207, 11) ! important;
}
.info-box{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.top-title{
    margin-top: 20px;
}
.side-nav{
    background: #222233;
    color: #fff;
}
.side-nav ul{
    padding-top: 40px;

}
.side-nav ul li{
    list-style-type: none;
    color: #fff;
    padding: 5px;
    margin-bottom: 5px;


}
.side-nav ul li:hover, .active{
    background-color: #52bc00;
    border-radius: 10px;
}
.side-nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.side-nav ul li a i{
    margin-right: 10px;
}
ul.head-nav li{
    display: inline;
}
.left{
    float: left;

}
ul.info{

}
ul.info li{
    list-style-type: none;
    margin-bottom: 20px;

}
ul.info li i{
    color: dodgerblue;
    margin-right: 10px;
}
div.loan-bar{
    border-right: 10px solid dodgerblue;
}
div.fund-bar{
    border-right: 10px solid red;
}
div.ticket-nav{
    margin-bottom: 50px;
}
div.ticket-nav a{
    color: #111;
    font-weight: 500;
    padding: 20px;
    text-decoration: none;
}
a.ticket-active, div.ticket-nav a:hover{
    border-bottom: 2px solid #52BC00;
}
div.ticket-tbl table th{
    color: #52BC00;
    text-transform: uppercase;
}
div.ticket-tbl table td span{
    color: #52BC00;
    padding: 5px;
    border: 1px solid #52BC00;
    border-radius: 3px;
}
div.ticket-tbl table td button{
   cursor: pointer;
    padding:5px 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left:20px;
}
div.list-boxes{
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
div.listing-box{
    background-color: purple;

}
div.payment-box{
    background-color: teal;

}
div.payment-box i{
    margin-top: 30px;
    color: #fff;

}
div.listing-box i{
    margin-top: 30px;
    color: #fff;

}
div.listing-action button{
    padding: 0px 20px;
    text-align: center;
    width: 80%;
    margin-top: 20px;
}
button.btn-listing-view{
    padding: 0px 20px;
    text-align: center;
    margin-top: 20px;
    border: 1px solid #52BC00;
    background-color: #fff;
    color: #000;

}
div.loan-description div{
    margin-bottom: 10px;
}
i.fa-check-circle{
    color: #52BC00;
    margin-left: 10px;
    border-radius: 100%;
    padding: 2px;
}
i.fa-times-circle{
    color: red;
    margin-left: 10px;
    border-radius: 100%;
    padding: 2px;
}
i.fa-minus-circle{
    color: red;
    margin-left: 10px;
    padding: 2px;
}
.btn-outline-danger{
    border: 1px solid red !important;
}
.listings-tbl th{
    color: red;
}
.due-action button{
    width: 90%;
    cursor: pointer
}
div.loan-requirement{

}
div.loan-requirement ul li{
    list-style-type: none;
    margin-top: 10px;
    color: #111;
}
div.loan-requirement ul li i{
    color: gold;
}
div.loanAct button{
    margin-right: 10px;
}
label{
    font-size: 14px;
    color:#000;
    
}
h6{
    font-size: 14px;
    color:#000;

}
.id-content{
    background-color: #ccc;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}
.ml-6{
    margin-left: 6%;
}
hr.bg-green{
    width: 84%;
}
