<div class="container">
  <div class="navigation-back type-2 mt-5">
    <i class="fa fa-arrow-left"></i>
    <h2 routerLink="/customercare/pending_listing_request">
      BACK
    </h2>
  </div>
  <div class="page-header d-flex align-items-center b-r border-blue">
    <img class="img-fluid" width="5%" src="../assets/fundal/admin/listing/Icons-10-1.png">
    <h2 class="page-header-title text-transform-uppercase ml-2">
      Listings
    </h2>
  </div>
  <div class="tabs tabs--style-2 mt-4" role="tabpanel">
    <!-- Nav tabs -->
    <app-listing-nav></app-listing-nav>
  </div>
  <div class="row mt-5">

    <div class="col-md-12">
      <div class="big-data-box">
        <div class="head">
          <div class="row">
            <div class="col-md-4">
              <h3>Running Ads</h3>
              <i class="fa fa-arrow-left"></i>
              <i class="fa fa-arrow-right visible-xs pull-right"></i>
            </div>
            <div class="col-md-5">
              <div class="img-center fit-width">
                <!-- <p class="">SORT BY:</p>
                            <div class="dropdown styled display-inline mx-3">
                              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Status
                                <span class="caret"></span></button>
                              <ul class="dropdown-menu">
                                <li><a href="#">Status</a></li>
                                <li class="active"><a href="#">Loan Type</a></li>
                                <li><a href="#">Duration</a></li>
                              </ul>
                            </div>
                            <p class=""> &lt; 1 - 6 &gt; of 6 pages</p> -->
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
              <div class="form-group">
                <input class="form-control" [(ngModel)]="company">
                <i class="fa fa-search"> </i>
              </div>

            </div>
            <div class="col-md-3 hidden-xs pt-30">
              <i class="fa fa-arrow-right pull-right"></i>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table red">
            <thead>
              <tr>
                <th>S/N</th>
                <th>COMPANY NAME</th>
                <th>AD NAME</th>
                <th>DATE APPROVED</th>
                <th>TOP AD</th>
                <th>DURATION</th>
                <th>STATUS</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngFor="let l of listings.listing | paginate:{itemsPerPage:20,currentPage:p} | lFilter:company; let i = index">
              <tr>
                <td>{{i+1}}</td>
                <td>{{l.company}}</td>
                <td>{{l.name}}</td>
                <td>{{l.date_created | amDateFormat:'LL'}}</td>
                <td> <span *ngIf="l.top_advert">Yes</span> <span *ngIf="!l.top_advert">No</span></td>
                <td>{{l.duration}}</td>
                <td>
                  <span></span>
                </td>
                <td>
                  <span *ngIf="l.listingState == '0' && l.approved == '2'">Active</span>
                  <span *ngIf="l.listingState == '1' && l.approved == '2'">Suspended</span>
                  <span *ngIf="l.listingState == '2' && l.approved == '2'">Blocked</span>
                </td>
                <td>
                  <span *ngIf=""><img src="../assets/fundal/admin/if_tick_green_619543.png" /></span>
                  <span *ngIf="" class="text-red"> <img src="../assets/fundal/admin/if_close_red_619539.png" /></span>
                </td>
                <td>
                  <button routerLink="/customercare/view_listing_details/{{l._id}}" class="btn btn-outline text-red border-red">
                                VIEW
                              </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


</div>
