.mcard-header{
    border-color: #FF653D !important;
    border-right: 5px solid;
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25) !important;
    border-radius: 3px !important;
    height:95px !important;
    /*padding:unset;*/
    
}
.img-round img {
    background: #FFFFFF;
    border: 3px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 100%;
}

.base-card{
    border: 1px solid #828282;
    border-radius: 2px;
    color:#828282;
    margin-bottom:20px;
}
.view-appplication{
    display:block;
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin:10px;
}