
        <div class="container">
      <div class="col-md-12 navigation-back">
        <span routerLink="/home">
         <img src="../assets/images/back-icon.png">
        <strong>HOME</strong>
        </span>
      </div>
        
  <div class="mcard-header">
    <img class="img-fluid" width="10%" src="../assets/fundal/admin/Profile (3) (1).png">
    <span>Loans</span>
    <!--<button class="btn pull-right btn-styled btn-md mt-4 btn-loan"> Apply for Loan<i class="fa fa-arrow"></i> </button>-->

    <!--<h2 class="page-header-title text-transform-uppercase">
                            JOIN COOPERATIVES
                        </h2>-->
    <!--<div class="form-group">
                            <input class="form-control">
                            <i class="fa fa-search"> </i>
                        </div>-->
  </div>
  <br>

  <div class="row mt-4">
    <div class="col-md-12">
      <div class="big-data-box">
        <div class="head">
          <div class="row">
            <div class="col-md-3">
              <!--<h3>Rejected Requests</h3>-->
              <i class="fa fa-arrow-left"></i>
              <i class="fa fa-arrow-right visible-xs pull-right"></i>
            </div>
            <div class="col-md-6">
              <div class="img-center fit-width">
                <p class="">SORT BY:</p>
                <div class="dropdown styled display-inline mx-3">
                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Status
                            <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Status</a></li>
                    <li class="active"><a href="#">Loan Type</a></li>
                    <li><a href="#">Duration</a></li>
                  </ul>
                </div>
                <p class=""> &lt; 1 - 6 &gt; of 6 pages</p>
              </div>
              <div class="form-group">
                <input class="form-control">
                <i class="fa fa-search"> </i>
              </div>

            </div>
            <div class="col-md-3 hidden-xs pt-30">
              <i class="fa fa-arrow-right pull-right"></i>
            </div>
          </div>
        </div>
        <div class="body">
          <div class="line my-0">
           
          </div>
          <br>
           <div class="col-md-12" *ngIf="loans.length < 1" align="center">
                      <div class="row" align="center">
                      <label for="" style="width:100%;display:block">No Loan Request Found</label>
                      </div>
                    </div>
          <div class="col-md-12">


            <div class=" base-card row " style="padding:20px" *ngFor="let loan of loans">
              <div align="right" class="col-md-3">
                <div align="center" class="img-round pull-right" style="width:160px; height:160px;"><img class="img img-circle" style="height:100%;width:100%" [src]="loan.user.image"></div>
              </div>
              <div class="col-md-3">
                <p> Member Name: </p>
                <p> Date Applied: </p>
                <p> Amount Requested: </p>
                <p> Duration: </p>
              </div>
              <div class="col-md-3">
                <p> {{loan.user.firstName}} {{loan.user.lastName}} </p>
                <p> {{loan.dateApplied | date:'short'}} </p>
                <p> {{loan.amount | currency:"N"}} </p>
                <p> {{loan.duration}} month(s) </p>
              </div>
              <div class="col-md-3" align="center">
                <br>
                <img (click)="viewApplication(loan.user._id,loan._id)" src="../assets/fundal/loan/edit.png" alt="">
                <span (click)="viewApplication(loan.user._id,loan._id)" class="view-appplication">View Application</span>
              </div>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
            </div>

          </div>


        </div>
      </div>
    </div>


  </div>


</div>