<div class="container">
  <div class="navigation-back type-2 mt-5">
    <a class="" routerLink="/customer-care-agent/dashboard">
      <i class="fa fa-arrow-left"></i>
      <h2>HOME</h2>
    </a>
  </div>

  <div class="page-header d-flex align-items-center b-r border-blue">
    <img class="img-fluid" width="10%" src="../assets/fundal/admin/Profile (3) (1).png">
    <h2 class="page-header-title text-transform-uppercase">
      Open Tickets
    </h2>
  </div>

  <div class="tabs tabs--style-2 mt-4" role="tabpanel">
    <!-- Nav tabs -->
    <app-ticket-nav></app-ticket-nav>
  </div>

  <div class="table-responsive">
    <table class="table ticket-table">
      <thead>
      <tr>
        <th>CUSTOMER NAME</th>

        <th>TITLE</th>

        <th>DATE</th>

        <th>STATUS</th>

        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let t of complains.complaints; let i = index">

        <td>{{t.complaintBy}}</td>

        <td>{{t.complaint | slice:0:20}}</td>

        <td>{{t.complaintAt | amDateFormat:'LL'}}</td>

        <td>
          <a [ngClass]="{ 'badge-success': t.resolved === true, 'badge-warning': t.resolved !== true }"
             class="badge badge-primary" (click)="mark_as_read(t._id)">
            {{ t.resolved === true ? 'resolved' : 'open' }}
          </a>
        </td>

        <td>
          <button routerLink="/customercare/tickets/{{t._id}}" class="btn btn-sm btn-outline-dark">view</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>


</div>
