
.page-header {
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin: 40px 0px;
}
@media only screen and (max-width:768px){
    .form-box{
        padding: 40px 20px;
    }
    .form-box tr{
        display: flex;
        flex-direction: column;
    }
}
.form-box table tr, .form-box table td, .form-box table th{
    border: 0px;
}
.id-content{
    background-color: #ccc;
    width: 400px;
    height: 200px;
    margin-bottom: 30px;
}
.margin-btm-20{
    margin-bottom: 20px;
}
.margin-top-20{
   margin-top: 20px;
}
.form-box table td{
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #828282;
}
.form-box table tr{
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;

}
.form-box table {
    border-spacing: 0px;
}
.form-box-header{
    font-size: 18px;
    line-height: 25px;
    color: #52bc00;
    font-weight: 600;
}
