<div class="container">
  <div onclick="history.back()" class="col-md-12 navigation-back">
    <span >
     <img src="../assets/images/back-icon.png">
    <strong>HOME</strong>
    </span>
  </div>
    
  <div class="page-header d-flex align-items-center  b-r border-red">
    <img class="img-fluid" width="5%" src="../assets/fundal/admin/Icon set-05 (3).png">
    <h2 class="page-header-title text-transform-uppercase">
      Market Place
    </h2>
  </div>
  <div class="form-box">
    <div class="row mb-5">
      <div class="col-md-8">
        <div class="table-responsive">
          <table class="table">

            <tbody>
              <tr>
                <td>COMPANY NAME</td>
                <th>{{listing.company}}</th>
              </tr>
              <tr>
                <td>AD NAME</td>
                <th>{{listing.name}}</th>
              </tr>
              <tr>
                <td>DATE CREATED:</td>
                <th>{{listing.date_created | amDateFormat:'LL'}}</th>
              </tr>
                          <!-- <tr>
                        <td>COMMUNITIES:</td>
                        <th>LAST NAME</th>
                      <tr>
                      <tr>
                        <td>FIRST NAME</td>
                        <th>4</th>
                      <tr>
                      <tr>
                        <td>LOANS TAKEN:</td>
                        <th>3</th>
                      <tr>
                      <tr>
                        <td>DATE OF LAST DISBURSAL:</td>
                        <th>31/01/2018</th>
                      <tr> -->
              <tr>
                <td>STATUS: </td>

                <th *ngIf="listing.listingState == '0' && listing.approved == '2'" class="text-green">
                  Active
                  <!-- <img class="display-inline" src="../assets/fundal/admin/if_tick_green_619543.png" /> -->
                </th>
                <th *ngIf="listing.listingState == '1' && listing.approved == '2'" class="text-red">
                  Suspended
                  <!-- <img class="display-inline" src="../assets/fundal/admin/if_close_red_619539.png" /> -->
                </th>
                <th *ngIf="listing.listingState == '2' && listing.approved == '2'" class="text-red">
                  Blocked
                  <!-- <img class="display-inline" src="../assets/fundal/admin/if_close_red_619539.png" /> -->
                </th>
                <th *ngIf="listing.approved != '2'">
                  Pending
                </th>
              </tr>
                              <!-- <tr>
                        <td>SUSPENSION HISTORY:</td>
                        <th class="text-blue">None</th>
                      <tr>
                      <tr>
                        <td>SUSPENDED BY:</td>
                        <th class="text-blue">None</th>
                      <tr>
                      <tr>
                        <td>COMMENTS ON SUSPENSION:</td>
                        <th>
                          <textarea class="superide hidden-xs">
                                                                    </textarea>
                          <textarea class="b-t visible-xs">
                                                                    </textarea>
                        </th>
                      <tr> -->
            </tbody>
          </table>

        </div>
          <div class="row margin-top-20 ml-5 margin-btm-20 loan-appy-details">
              <div class="col-sm-6 ">
                  <div class="id-content">
                      <img height="100px" [src]="setImage(listing.advert_image)" alt="">
                  </div>
              </div>
          </div>


      <div class="col-md-4">
        <div class="user-img-box d-flex flex-column justify-content-center align-items-center" style="height: auto;">
          <!-- <img src="../assets/fundal/admin/Profile (3) (3).png" class="img-center mb-4" /> -->
          <button (click)="suspend()" *ngIf="listing.listingState == 0 && listing.approved == 2" class="btn btn-outline text-red img-center border-red px-28 mb-3">
                    SUSPEND
                  </button>
          <button (click)="block()" *ngIf="listing.listingState == 0 && listing.approved == 2" class="btn btn-outline text-red img-center border-red  mb-3">
                    Block
                  </button>
          <button (click)="activate()" *ngIf="listing.listingState == 1 && listing.approved == 2 || listing.listingState == 2 && listing.approved == 2"
            class="btn btn-outline text-red img-center border-red mb-3">
                    Activate
                  </button>
          <button (click)="approve()" *ngIf="listing.listingState == 0 && listing.approved == 0" class="btn btn-outline text-red img-center border-red mb-3">
                    APPROVE
                  </button>
          <button (click)="reject()" *ngIf="listing.listingState == 0 && listing.approved == 0" class="btn btn-outline text-red img-center border-red mb-3">
                    REJECT
                  </button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row mt-5">
            <div class="col-md-12 pr-5 mt-5">

              <button class="btn btn-styled btn-md pull-right">
                Update
              </button>
            </div>
          </div> -->
</div>
</div>
