
<div class="container">
  <div class="navigation-back type-2 mt-5">
    <i class="fa fa-arrow-left"></i>
    <h2 routerLink="/admin/community">
      COMMUNITIES
    </h2>
  </div>
  <div class="page-header d-flex align-items-center justify-content-around flex-wrap">
    <div class="page-header-left d-flex align-items-center flex-wrap">
      <img class="img-fluid mr-2" width="20%" src="../assets/fundal/admin/com/Icons-05.png">
      <h2 class="page-header-title text-transform-uppercase">
        Getfunds Cooperatives
      </h2>
    </div>
    <!--<button style="cursor:pointer" class="btn btn-styled pull-right">
                      CREATE COOPERATIVE <i class="fa fa-arrow-right"> </i>
                  </button>-->
  </div>


  <div class="pill">
    <div class="row">
      <div class="col-md-3">
        <h4>COOPERATIVE NAME:</h4>
      </div>
      <div class="col-md-7">
        <input type="text" ([ngModel])="cooperative.name" class="loan-form-styled form-control" name="name" value="">
      </div>
      <div class="col-md-2">
        <img class="action pull-right" src="../assets/fundal/admin/loan/if_icon-136-document-edit_314251.png" />
      </div>
    </div>
  </div>
  <div class="pill">
    <div class="row">
      <div class="col-md-3">
        <h4>COOPERATIVE DESCRIPTION:</h4>
      </div>
      <div class="col-md-9 mb-3">

        <textarea name="description" ([ngModel])="cooperative.description" class="form-control textarea-styled">
                                                       </textarea>

      </div>



    </div>
  </div>

  <div class="pill">
    <div class="row" *ngFor="let requirement of cooperative.requirements; let i = index ; trackBy:trackByFn">
      <div class="col-md-3">
        <h4>REQUIREMENT:</h4>
      </div>
      <div class="col-md-8">
        <input class="form-control loan-form-styled" [(ngModel)]="cooperative.requirements[i]" placeholder="Type Requirement" />

      </div>
      <div class="col-md-1 no-padding d-flex">
        <img class="action mr-2 img-fluid" (click)="addRequirement()" width="10%" src="../assets/fundal/admin/loan/372914-512 - Copy.png"
        />
        <img class="action mr-2 img-fluid" (click)="deleteRequirement(i)" width="10%" src="../assets/fundal/admin/loan/1370026-512 (2).png"
        />

      </div>

    </div>


  </div>
  <div class="pill">
    <div class="row">
      <!--<button class="btn pull-right btn-styled btn-md mt-4" (click)="createCoperative()"> Create </button>-->
      <div class="col-md-3">
        <h4>CO-OPERATIVE ICON:</h4>
      </div>
      <div class="col-md-8" align="left">
        <div class="p-image">
          <input type="file" style="display:none" #loan_icon (change)="fileSelected($event)" name="" value="">
          <button class="btn action">
                      <img (click)="loan_icon.click()" class="img-icon-log-out img-center" src="../assets/fundal/admin/loan/Camera.png" />
                    </button>

        </div>
      </div>

    </div>
  </div>
  <div class="pill">
    <div class="row" align="center">
      <button class="btn pull-right btn-styled btn-md mt-4" (click)="createCoperative()"> Create </button>

    </div>
  </div>
  <div class="row">


    <div class="col-md-12">
      <div class="big-data-box">
        <div class="head">
          <div class="row">
            <div class="col-md-4">
              <h3>Community List</h3>
              <i class="fa fa-arrow-left"></i>
              <i class="fa fa-arrow-right visible-xs pull-right"></i>
            </div>
            <div class="col-md-5">
              <div class="img-center fit-width">
                <p class="">SORT BY:</p>
                <div class="dropdown styled display-inline mx-3">
                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Status
                                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Status</a></li>
                    <li class="active"><a href="#">Loan Type</a></li>
                    <li><a href="#">Duration</a></li>
                  </ul>
                </div>
                <p class=""> &lt; 1 - 6 &gt; of 6 pages</p>
              </div>
              <div class="form-group">
                <input class="form-control">
                <i class="fa fa-search"> </i>
              </div>

            </div>
            <div class="col-md-3 hidden-xs pt-30">
              <i class="fa fa-arrow-right pull-right"></i>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table red">
            <thead>
              <tr>
                <th>S/N</th>
                <th>LAST NAME</th>
                <th>FIRST NAME</th>
                <th>DATE CREATED</th>
                <th>USER TYPE</th>
                <th>STATUS</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>13/05/2017</td>
                <td>COOPERATIVE ADMIN</td>
                <td>Active</td>
                <td>
                  <img src="../assets/fundal/admin/if_tick_green_619543.png" />
                </td>
                <td>
                  <button routerLink="" class="btn btn-outline text-red border-red">
                                  VIEW
                                </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

