<div class="container">
  <div class="col-md-12 navigation-back">
    <span routerLink="/home">
     <img src="../assets/images/back-icon.png">
    <strong>HOME</strong>
    </span>
  </div>
    
    <div class="mcard-header">
        <img class="img-fluid" width="10%" src="../assets/fundal/admin/Profile (3) (1).png">
        <span>Request  Pay Loan</span>
        <!--<button (click)="applyLoan()" class="btn pull-right btn-styled btn-md mt-4 btn-loan"> Apply for Loan<i class="fa fa-arrow"></i> </button>-->

        <!--<h2 class="page-header-title text-transform-uppercase">
                            JOIN COOPERATIVES
                        </h2>-->
        <!--<div class="form-group">
                            <input class="form-control">
                            <i class="fa fa-search"> </i>
                        </div>-->
    </div>
    <div class="top-head top-title mb-4 p-5 ">
        <div class="container-fluid p-0  publicloan-container">
            <div class="row">
                <div class="col-sm-6">
                    <div class=" publicloan-title mb-5">
                        <h5> PAY LOAN APPLICATION FORM DETAILS</h5>
                    </div>
                    <form class=" autoloan-form-details">
                        <!--<label for="">Loan Name</label>-->
                        <input type="hidden" class="form-control pl-4" [(ngModel)]="pay.productName" name="name">
                        <br>
                        <label for="">Loan Amount</label>
                        <input class="form-control pl-4" type="number" min="1" [(ngModel)]="pay.amount" name="amount">
                        <br>
                        <label for="">Loan Duration (In months)</label>
                        <input class="form-control pl-4" type="number" [(ngModel)]="pay.duration" name="duration">
                        <br>
                        <label for="">Bank Statement</label>
                        <input class="form-control pl-4" type="file" name="bank" (change)="onselect_bs($event)">
                        <br>
                        <label for="">Mothly Salary earnings (in Naira)</label>
                        <input class="form-control pl-4" type="number" min="1" (click)="calc()" [(ngModel)]="pay.salaryEarned" name="earned">
                        <br>
                        <label for="">Employment Type</label>
                        <select class="form-control pl-4" [(ngModel)]="pay.proof_employment" name="type">
        <option value="civil_servant">Civil Servant</option>
        <option value="business">Business</option>
    </select>
                        <br>
                        <label for="">Employee Id (upload)</label>
                        <input class="form-control pl-4" type="file" (change)="select_empl_Id($event)" name="Id" class="form-control pl-4">
                        <br>
                        <label for="">Total Re-Payment</label>
                        <input class="form-control pl-4" type="text" readonly [(ngModel)]="pay.total_cost" name="total">
                        <br>
                        <label for="">Monthly Re-Payment</label>
                        <input class="form-control pl-4" type="text" readonly [(ngModel)]="pay.monthly_repayments" name="monhtly">
                        <br>
                        <br>
                        <label for="">Interest Rate</label>
                        <input type="text" class="form-control pl-4" readonly name="rate" [(ngModel)]="pay.intrestRate">
                        <br>
                        <button type="button" (click)="request()" name="button">Request Loan</button>
                        <!--<button type="button" *ngIf="isRequesting" name="button">Requesting</button>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="">-->