<div class="container">
    <div class="col-md-12 navigation-back">
        <span routerLink="/home">
     <img src="../assets/images/back-icon.png">
    <strong>HOME</strong>
    </span>
    </div>


    <div class="mcard-header">
        <img class="img-fluid" width="10%" src="../assets/fundal/admin/Profile (3) (1).png">
        <span>Request  {{loan.loanName.toUpperCase()}} Loan</span>
        <!--<button (click)="applyLoan()" class="btn pull-right btn-styled btn-md mt-4 btn-loan"> Apply for Loan<i class="fa fa-arrow"></i> </button>-->

        <!--<h2 class="page-header-title text-transform-uppercase">
                            JOIN COOPERATIVES
                        </h2>-->
        <!--<div class="form-group">
                            <input class="form-control">
                            <i class="fa fa-search"> </i>
                        </div>-->
    </div>
    <div class="top-head top-title mb-4 p-5 ">
        <div class="container-fluid p-0  publicloan-container">
            <div class="row">
                <div class="col-sm-12">
                    <!--<div class=" publicloan-title mb-5">
                        <h5> {{loan.loanName.toUpperCase()}} LOAN APPLICATION FORM DETAILS</h5>
                    </div>-->
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">

                            <label for="">Loan Amount (N)</label>
                            <input (change)="calc(loan.amount)" type="text" class="form-control pl-4" [(ngModel)]="loan.amount" name="amount">
                            <br>
                            <label for="">Loan Duration (months)</label>
                            <input type="number" min="1" class="form-control pl-4" [(ngModel)]="loan.duration" name="duration">
                            <br>
                            <label for="">Salary Earned (N)</label>
                            <input type="number" min="1" class="form-control pl-4" [(ngModel)]="loan.salaryEarned" name="duration">
                            <br>
                            <!--{{loan.requirements}}-->
                            <div *ngFor="let requirement of loan.requirements ; let i = index ">
                                <label for="">{{requirement.type == 'file' ? requirement.name : getOptions(requirement.name)[0]}}</label>
                                <input *ngIf="requirement.type == 'text'" class="form-control pl-4" type="text" [(ngModel)]="loan.requirements[i].value"
                                    name="loan.requirements[i].value">
                                <input accept=".png,.jpg,.jpeg" *ngIf="requirement.type == 'file'" (change)="on_change_files($event,i)" class="form-control pl-4" type="file" [(ngModel)]="loan.requirements[i].value"
                                    name="loan.requirements[i].value">
                                <select *ngIf="requirement.type == 'drop down'" class="form-control pl-4" type="file" [(ngModel)]="loan.requirements[i].value"
                                    name="loan.requirements[i].value">
                        <option *ngFor="let r of getOptions(requirement.name) ;let i = index" [value]="r">{{r}}</option>
                    </select>
                                <br>
                            </div>
                            <label for="">Total Re-Payment</label>
                            <label class="form-control pl-4 me" type="text"   name="total">{{loan.total_cost | currency:'N'}}</label>
                            <br>
                            <label for="">Monthly Re-Payment</label>
                            <label class="form-control pl-4 me" type="text"   name="total">{{loan.monthly_repayments | currency:'N'}}</label>
                            <br>
                            <!--<label for="">Monthly Re-Payment</label>
                            <input class="form-control pl-4" type="text" readonly [(ngModel)]="loan.monthly_repayments" name="monthly">-->
                            <br>
                            <label for="">Interest Rate</label>
                            <label class="form-control pl-4 me" type="text"  name="rate">{{loan.interestRate}}%</label>
                            <!--<br>-->
                            <br>
                            <button type="button" *ngIf="!isRequesting" class="btn  btn-styled btn-md mt-4 btn-loan" (click)="request()" name="button">Request Loan</button>
                            <button type="button" *ngIf="isRequesting" class="btn  btn-styled btn-md mt-4 btn-loan" name="button">Requesting</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .me{
        display:block;
        border-radius:50px !important;
    }
</style>
