<div class="container">
  <div class="col-md-12 navigation-back">
    <span routerLink="/admin/dashboard">
     <img src="../assets/images/back-icon.png">
    <strong>BACK</strong>
    </span>
  </div>
    
  <div class="page-header d-flex align-items-center justify-content-around flex-wrap">
    <div class="page-header-left d-flex align-items-center flex-wrap">
      <img class="img-fluid" width="30%" src="../assets/fundal/admin/Profile (3) (1).png">
      <h2 class="page-header-title text-transform-uppercase">
        Approval Managers
      </h2>
    </div>
    <button style="cursor:pointer" routerLink="/admin/create-approvalManager" class="btn btn-styled pull-right">
                    CREATE NEW AGENT <i class="fa fa-arrow-right"> </i>
                </button>
  </div>
  <div class="row">


    <div class="col-md-12">
      <div class="big-data-box">
        <div class="head">
          <div class="row">
            <div class="col-md-3">
              <!--<h3>Agent List</h3>-->
              <i class="fa fa-arrow-left"  (click)="previous()" style="cursor:pointer"></i>
              <!--<i class="fa fa-arrow-right visible-xs pull-right"></i>-->
            </div>
            <div class="col-md-6">
              <div class="img-center fit-width">
                <!-- <p class="">SORT BY:</p>
                                  <div class="dropdown styled display-inline mx-3">
                                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Status
                                      <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                      <li><a href="#">Status</a></li>
                                      <li class="active"><a href="#">Loan Type</a></li>
                                      <li><a href="#">Duration</a></li>
                                    </ul>
                                  </div>
                                  <p class=""> &lt; 1 - 6 &gt; of 6 pages</p> -->
                <!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->
              </div>
              <div class="form-group">
                <input class="form-control" [(ngModel)]="lastname">
                <!-- <input class="form-control" [(ngModel)]="firstname"> -->
                <i class="fa fa-search"> </i>
              </div>

            </div>
            <div class="col-md-3">
              <i class="fa fa-arrow-right" (click)="next()" style="cursor:pointer"></i>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table red">
            <thead>
              <tr>
                <th>S/N</th>
                <th>LAST NAME</th>
                <th>FIRST NAME</th>
                <th>USER TYPE</th>
                <th>STATUS</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngFor="let a of approval.managers | filter: firstname:lastname; let i = index">
              <tr>
                <td>{{i+1}}</td>
                <td>{{a.firstName}}</td>
                <td>{{a.lastName}}</td>
                <td>APPROVAL MANAGER</td>
                <td> <span *ngIf="a.enabled">Active</span> <span *ngIf="!a.enabled">Inactive</span> </td>
                <td>
                  <span *ngIf="a.enabled"><img src="../assets/fundal/admin/if_tick_green_619543.png" /></span>
                  <span *ngIf="!a.enabled" class="text-red"> <img src="../assets/fundal/admin/if_close_red_619539.png" /></span>
                </td>
                <td>
                  <button style="cursor:pointer" routerLink="/admin/approval-details/{{a._id}}" class="btn btn-outline text-red border-red">
                                                      VIEW
                                                </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>