<div class="container">
  <div class="navigation-back type-2 mt-5">
    <i class="fa fa-arrow-left"></i>
    <h2 routerLink="/admin/community">
      COMMUNITIES
    </h2>
  </div>
  <div class="page-header d-flex align-items-center justify-content-around flex-wrap">
    <div class="page-header-left d-flex align-items-center flex-wrap">
      <img class="img-fluid mr-2" width="20%" src="../assets/fundal/admin/com/Icons-05.png">
      <h2 class="page-header-title text-transform-uppercase">

        Getfunds {{communityName}}
      </h2>
    </div>
    <button style="cursor:pointer" class="btn btn-styled pull-right">
      CREATE COOPERATIVE <i class="fa fa-arrow-right"> </i>
    </button>
  </div>


  <div class="pill">
    <div class="row">
      <div class="col-md-3">
        <h4>{{communityName}} NAME:</h4>
      </div>
      <div class="col-md-7">
        <input type="text" [(ngModel)]="cooperative.name" class="loan-form-styled form-control">
      </div>
      <div class="col-md-2">
        <img class="action pull-right" src="../assets/fundal/admin/loan/if_icon-136-document-edit_314251.png" />
      </div>
    </div>
  </div>
  <div class="pill">
    <div class="row">
      <div class="col-md-3">
        <h4>{{communityName}} DESCRIPTION:</h4>
      </div>
      <div class="col-md-9 mb-3">

        <textarea [(ngModel)]="cooperative.description" class="form-control textarea-styled">
                                                       </textarea>

      </div>



    </div>
  </div>
  <div class="pill">
    <div class="row">
      <div class="col-md-3">
        <h4>{{communityName}} LOCATION:</h4>
      </div>
      <div class="col-md-7">
        <input type="text" [(ngModel)]="cooperative.location" class="loan-form-styled form-control">
      </div>
      <div class="col-md-2">
        <img class="action pull-right" src="../assets/fundal/admin/loan/if_icon-136-document-edit_314251.png" />
      </div>
    </div>
  </div>

  <div class="pill">
            <div class="row" *ngFor="let requirement of cooperative.requirements; let i = index ; trackBy:trackByFn">
              <div class="col-md-3">
                <h4>REQUIREMENT:</h4>
              </div>
              <div class="col-md-8">
                <input class="form-control loan-form-styled" [(ngModel)]="cooperative.requirements[i]" placeholder="Type Requirement" />

              </div>
              <div class="col-md-1 no-padding d-flex">
                <img class="action mr-2 img-fluid" (click)="addRequirement()" width="10%" src="../assets/fundal/admin/loan/372914-512 - Copy.png"
                />
                <img class="action mr-2 img-fluid" (click)="deleteRequirement(i)" width="10%" src="../assets/fundal/admin/loan/1370026-512 (2).png"
                />

              </div>

            </div>


          </div>
  <div class="pill">
    <div class="row">
      <!--<button class="btn pull-right btn-styled btn-md mt-4" (click)="createCoperative()"> Create </button>-->
      <div class="col-md-3">
        <h4>{{communityName}} ICON:</h4>
      </div>
      <div class="col-md-8" align="left">
        <div class="p-image">
          <input type="file" style="display:none" #loan_icon (change)="fileSelected($event)" name="" value="">
          <button class="btn action">
                      <img (click)="loan_icon.click()" class="img-icon-log-out img-center" src="../assets/fundal/admin/loan/Camera.png" />
                    </button>

        </div>
      </div>

    </div>
  </div>
  <div class="pill">
    <div class="row" align="center">
      <button class="btn pull-right btn-styled btn-md mt-4" (click)="createCoperative()"> Create </button>

    </div>
  </div>
</div>
