<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" style="cursor:pointer" role="presentation">
        <a routerLink="/requested_loans" routerLinkActive="active " [routerLinkActiveOptions]="{exact:true}" aria-controls="home" data-toggle="tab" class="nav-link text-center text-normal strong-600">Pending</a>
    </li>
    <li class="nav-item" style="cursor:pointer" role="presentation">
        <a routerLink="/active_loans" routerLinkActive="active " [routerLinkActiveOptions]="{exact:true}" aria-controls="profile" data-toggle="tab" class="nav-link text-center text-normal strong-600">Active</a>
    </li>
    <li class="nav-item" style="cursor:pointer" role="presentation">
        <a routerLink="/pending_disbursements" routerLinkActive="active " [routerLinkActiveOptions]="{exact:true}" aria-controls="profile" data-toggle="tab" class="nav-link text-center text-normal strong-600">Pending Disburse</a>
    </li>
    <li class="nav-item" style="cursor:pointer" role="presentation">
        <a routerLink="/repaid_loans" routerLinkActive="active " [routerLinkActiveOptions]="{exact:true}" aria-controls="profile" data-toggle="tab" class="nav-link text-center text-normal strong-600">Repaid</a>
    </li>
</ul>
