 <div class=" base-card row " style="padding:20px">
              <div align="right" class="col-md-4">
                <div align="center" class="img-round pull-right" style="width:160px; height:160px;"><img class="img img-circle" style="height:100%;width:100%" [src]="profile.image"></div>
              </div>
              <div class="col-md-3 pt-30">
                <p> First Name: </p>
                <p> Last Name: </p>
                <p> Email Address: </p>
                <p> Phone Number: </p>
              </div>
              <div class="col-md-3 pt-30">
                <p> {{profile.firstName}} </p>
                <p> {{profile.lastName}} </p>
                <p> {{profile.email}} </p>
                <p> {{profile.phone}} </p>
              </div>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
            </div>