<div class="container">
  <div class="update-profile my-5">
    <div routerLink="/approval-manager/requested_loans" class="navigation-back">
      <i class="fa fa-arrow-left"></i>
      <h2>
        BACK
      </h2>
    </div>


    <div class="page-header d-flex align-items-center border-green b-r">
      <img class="img-fluid" width="10%" src="../assets/fundal/admin/Profile (3) (1).png">
      <h2 class="page-header-title text-transform-uppercase">
        {{complain.complaintBy}}
      </h2>
    </div>
    <div class="profile-form">
      <div class="row">
        <div class="col-md-12 maxed-out">
          <div class="card img-center change-img-box personal">
            <div class="card-body m-0">
              <p class="text-green font-18 strong-700">
                Complains
              </p>
              <div class="row mt-22">
                <div class="col-lg-12">
                  <div class="form-group form-type-2">
                    <label> Complain By :{{complain.complaintBy}} </label>
                    <textarea type="text" readonly [(ngModel)]="complain.complaint" name="code" class="form-control "></textarea>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group form-type-2" *ngFor="let r of complain.responses">
                    <label> Response By :{{r.responseBy }} - on: {{ r.responseAt | date:'medium'}} </label>
                    <textarea readonly type="text" [(ngModel)]="r.response" class="form-control "></textarea>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group form-type-2">
                    <label>Respond</label>
                    <input type="text" [(ngModel)]="response"  class="form-control ">
                  </div>
                </div>
                <button (click)="respond()" class="btn img-center btn-styled btn-sm mt-4">
                  <span>
                    Reply
                  </span>

                </button>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
