


 /* utils */
 .b-b {
     border-bottom: 10px solid grey;
 }
 .b-r {
     border-right: 10px solid grey;
 }
 .border-red {
     border-color: #EB5757;
 }
 .border-yellow {
     border-color: #FFC40E;
 }
 .text-yellow {
    color: #FFC40E;
 }
 .border-green {
     border-color:  #52BC00;
 }
 .border-greened {
     border-color: #219653;
 }
 .border-blue {
     border-color: #2D9CDB;
 }
 .text-blue {
    color: #2D9CDB;
 }
 .text-grey {
    color: #828282 !important;
 }
 .text-red {
   color: #EB5757 !important;
}
 .text-green {
   color: #52BC00  !important;
}
.text-lilac {
    color: #00BFBF;
}
.text-pink {
    color: #F559E4;
}
.clickable {
    cursor: pointer;
}

.font-18 {
    font-size: 18px !important;
 }
 .font-16 {
    font-size: 16px !important;
 }
 .font-22 {
    font-size: 22px !important;
 }
 .font-24 {
    font-size: 24px !important;
 }
 .font-14 {
    font-size: 14px !important;
 }
 .font-12 {
    font-size: 12px !important;
 }

 .line {
    border: 0.5px solid #BDBDBD;
    margin: 45px 0;
 }
 .mt-45 {
    margin-top: 45.17px !important;
}
 .pt-60 {
    padding-top : 60px !important;
}
 .pt-40 {
    padding-top : 40px !important;
}
 .pt-50 {
    padding-top : 50px !important;
}
 .pt-55 {
    padding-top : 55px !important;
}
 .pt-30 {
    padding-top : 30px !important;
}
 .pt-20 {
    padding-top : 20px !important;
}
.pt-70 {
    padding-top : 70px !important;
}
.pt-100 {
    padding-top : 100px !important;
}
.pt-300 {
    padding-top : 300px !important;
}
.pb-30 {
   padding-bottom : 30px !important;
}
.pb-24 {
   padding-bottom : 24px !important;
}
.px-28 {
    padding-left: 28px !important;
    padding-right: 28px !important;

}
.pb-77 {
   padding-bottom : 77px !important;
}
.display-inline {
    display: inline;
}
ul.colored-list {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}
.text-bottom {
    position: absolute;
    bottom: 0;
}

ul.colored-list li:before {
    content: "•";
    padding-right: 8px;
    color: black;
}
ul.colored-list li.blueish:before {
    color: #2F80ED;
}
ul.colored-list li.greenish:before {
    color: #63C8B0;
}
.btn-outline {
    border: 0.5px solid;
    box-sizing: border-box;
    border-radius: 3px;
    background: #ffffff;
    padding: 4px 17px;
    cursor: pointer;
    text-align:center;
}
.navigation-back {
    cursor: pointer;
    position: relative;
    width: 100%;
    right: 50px;
    margin-bottom: 30px;
}
.navigation-back.type-2 {
    right: 0px;
    margin-bottom: 20px;
}
.navigation-back i {
    font-size: 20px;

    color: #52BC00;
 }
 .navigation-back h2{
    margin-left: 29px;
    font-style: normal;
    display: inline;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    color: #52BC00;
}
.section-main-body {
    padding: 60px 60px 10px 120px;
    height: 575px;
    contain: content;
    overflow-x: hidden;
    overflow-y: scroll;
}
.ml-5-lg {
    margin-left: 3rem !important;
}
.fit-width {
    width: fit-content;
}
.visible-xs {
    display: none;
}
@media (max-width: 500px){
    .section-main-body {
        padding: 64px 60px 10px 13px;
        height: 568px;
        contain: content;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .ml-5-lg {
        margin-left: 0rem !important;
    }
    .section-main-body {
        padding: 10px;
    }
    .visible-xs {
        display: block;
    }
.hidden-xs  {
 display: none;
}
.maxed-out-xs, .change-img-box {
width: 100%  !important;
min-width: 100%;
}
}

@media (max-width: 1250px){
.hidden-sm  {
 display: none;
}
.maxed-out {
    width: 100% !important;
    min-width: 100%;
    }
}
.btn{
    box-shadow: 0px 3px 3px #92919178;
cursor: pointer
}
.btn:hover{
box-shadow: 0px 2px 3px #92919178;

}
.btn:active{
box-shadow: 0px 1px 3px #92919178;;
}
.btn-md {
    width: 200px !important;
}

/* utils end here*/

.b-t {
    border-top: 1px solid grey;
}

textarea.superide{
    position: absolute;
    width: 450px;
    height: 123px;


    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
}

/* check box util starts */
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.user-img-box {
    width: 422px;
    height: 345px;
}
.user-img-box img {
    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 100%;
}
.user-img-box-in img {
    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 100%;
}
i.formed {
    position: absolute;
    right: 60px;
    top: 5px;
    color: #828282;
}
/* Hide the browser's default checkbox */
.container .checkbox-styled {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #52BC00;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* check box util ends */

.loan-box {
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 30px;
}
.loan-box .main-img {
    width: 100%;
}
.loan-box table  {
    margin-top:29px;
}
.loan-box table th {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    padding-bottom: 16px;

}
.loan-box table td {
    padding-bottom: 14px;
}
.loan-box table {
    margin-bottom: 0;
}
.loan-box .box-fab {
    position: absolute;
    top: -45px;
    right: -25px;
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    width: 152px;
    height: 152px;
}
.loan-box .box-fab img {
    width: 100%;
    display: block;
    margin: 0 auto;
}
.loan-box .box-action {
    position: absolute;
    bottom: 20px;
    right: 40px;
}
.loan-box .box-action p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;

    color: #222233;
    text-align: center;
    position: relative;
    right: 12px;
}
.box {
    position: relative;
    background: #FFFFFF;
    border: 0.5px solid #828282;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 33px;
}


.pill {
    background: #FFFFFF;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 24px;
    padding-bottom: 0px;
    margin-bottom: 40px;
}
.pill h4 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    font-size: 16px;

    color: #52BC00;
}
.pill h5 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    font-size: 14px;
    color: #52BC00;
}
.pill p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;

    color: #2D9CDB;
}
.pill.text-black p {
    color: #222233;
}
.pill img.action {
    width: 32px;
    height: 32px;
    margin-bottom: 21px;
}
.textarea-styled {
    height: 153px !important;

    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 25px;
}
input.loan-form-styled {
    height: 27px;

    border: 1px solid #C3C3C3;
    box-sizing: border-box;
    border-radius: 25px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
    padding: 8px 16px;
    margin-bottom: 21px;
    color: #828282;
}
.btn-loan-form-dropdown {
    width: 176px;
    height: 27px;
    background: #ffffff;
    border: 1px solid #C3C3C3;
    box-sizing: border-box;
    border-radius: 25px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
    padding: 6px;
    color: #828282;
}
.x-ha {
    position : absolute;
    right: -5px;
    top: 0px;
}
.x-ha-1 {
    position: absolute;
    right: -5px;
    top: 55px;
}

 .font-12 {
    font-size: 12px !important;
 }

 .change-img-box.personal {
    padding: 30px;
}

.change-img-box {

    margin-top : 23px;
    background: #FFFFFF;
    border: 0.5px solid #828282;
    box-sizing: border-box;
    border-radius: 5px;
}
.change-img-box p {
    margin-top:10px;
}

.change-img-box .img-group img.img-center {
    border-radius: 100%;
    margin-top:34px;
    background: #FFFFFF;
border: 2px solid #C4C4C4;
box-sizing: border-box;
}


.change-img-box .img-group button {
    position: absolute;
    width: 52px;
    top: 220px;
    right: 175px;
    height: 66.71px;
    border-radius: 100%;
}
.change-img-box .img-group button img {
    position: absolute;
    bottom: 10px;
    right: 13px;
}

.change-img-box button.img-center {
    margin-top:34px;
}
.form-type-2 label {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;
    margin-bottom: 0;
    color: #222233;
}
.form-type-2 input {
    margin-top: 0;
    padding: 0;
    height: 33px;
    border: none;
    border-bottom: 0.5px solid #D1D1D1;
    border-radius: 0;
}
.form-group select{
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 25px;
    margin-top: 11px;
}
.date-form.day {
    width: 38px;
    height: 27px;
    padding: 5px 9px;
    border: 1px solid #C3C3C3;
    box-sizing: border-box;
    border-radius: 25px;

    }
    .date-form {

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 12px;

    color: #222233;
    }
    .date-form.month {
        width: 42px;
        height: 27px;
        padding: 5px 9px;
        border: 1px solid #C3C3C3;
        box-sizing: border-box;
        border-radius: 25px;

    }
    .date-form.year {
        height: 27px;
        width: 76px;
        padding: 5px 22px;
        border: 1px solid #C3C3C3;
        box-sizing: border-box;
        border-radius: 25px;

    }
    .btn-camera  {
        width: 28px !important;
        border-radius: 100%;
        right: 20px;
        top: 25px;
        position: relative;
        height: 28px !important;
        background: linear-gradient(180deg, #93D802 0%, #04B648 100%), #222233;
    }
    .btn-camera span {
        position: relative;
        right: 11px;
        bottom: 10px;

        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 12px;

        color: #FFFFFF;
    }
    .btn-camera img {
        position: relative;
        bottom: 3px;
        right: 4px;

    }
    .box .photo-upload-group button.action {
        background: linear-gradient(180deg, #93D802 0%, #04B648 100%), #222233;
        padding: 10px;
        border-radius: 100%;
        right: 400px;
        bottom: 125px;
        position: absolute;
    }
    .box .circle img {
        position: relative;
    }

    .profile-form label{
        font-size: 14px;
        font-weight: 300;
    }
