<div class="container">
  <div class="navigation-back">
    <i class="fa fa-arrow-left"></i>

    <h2 routerLink="/customer-care-agent/dashboard">
      HOME
    </h2>
  </div>

  <div class="page-header d-flex align-items-center">
    <img class="img-fluid" width="10%" src="../assets/fundal/admin/Profile (3) (1).png">
    <h2 class="page-header-title text-transform-uppercase">
      Due Payments
    </h2>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <div class="big-data-box">
        <div class="head">
          <div class="row">
            <div class="col-md-3">
              <h3>Due Payments</h3>
              <i class="fa fa-arrow-left"></i>
              <i class="fa fa-arrow-right visible-xs pull-right"></i>
            </div>
            <div class="col-md-6">
              <div class="img-center fit-width">
                <!-- <p class="">SORT BY:</p>
                        <div class="dropdown styled display-inline mx-3">
                          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Status
                            <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li><a href="#">Status</a></li>
                            <li class="active"><a href="#">Loan Type</a></li>
                            <li><a href="#">Duration</a></li>
                          </ul>
                        </div>
                        <p class=""> &lt; 1 - 6 &gt; of 6 pages</p> -->
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
              <div class="form-group">
                <input class="form-control">
                <i class="fa fa-search"> </i>
              </div>

            </div>
            <div class="col-md-3 hidden-xs pt-30">
              <i class="fa fa-arrow-right pull-right"></i>
            </div>
          </div>
        </div>
        <div class="body">
          <div class="line my-0">
          </div>

          <div class="big-data-box my-4" *ngFor="let d of due | paginate:{itemsPerPage:20,currentPage:p};">

            <div class="row ">
              <div class="col-md-2">
                <div class="bg-shade-1 d-flex justify-content-center align-content-center">
                  <img src="../assets/fundal/loan/Icons-15.svg">
                </div>

              </div>


              <div class="col-md-6 pex-3 py-3">

                <p class=" mb-2">{{d.due_message}}</p>
                <div class="line my-4"></div>
                <div class="row align-items-center">
                  <div class="col-md-6">
                    <p class="strong-600">Amount Due:
                      <span class="text-red">{{d.amount_due | currency:'N'}}</span></p>
                  </div>
                  <div class="col-md-6">
                    <p class="strong-600">Penalty:
                      <span class="text-red">{{d.penalty | currency:'N'}}</span>
                  </div>
                </div>


              </div>
              <div class="col-md-4 py-3 pr-3">
                <div class="row">
                  <div class="col-md-6  ">
                    <img class="img-center" src="../assets/fundal/home/icon/if_credit_card_1814100.png">

                  </div>
                  <div class="col-md-6 d-flex flex-column align-items-center">
                    <button routerLink="/customercare/send_loan_reminder_details/{{d.accountHolder}}" class="btn btn-outline-green">Send Message</button>
                    <button routerLink="/customercare/view_user_details/{{d.accountHolder}}" class="btn btn-outline-green">View User</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>


</div>
