.btn-view{
width: 100px;
background-color: #FFF;
border: 0.5px solid #FF653D;
margin:10px;
border-radius: 3px;
font-size: 10px !important;
float:right;
height:30px;
}

.mcard{
background: #FFFFFF;
box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
border-radius: 3px;
height:auto;
padding:unset;
}
.btn-loan{
    margin-right:10px;
}
.mcard-header{
    border-color: #FF653D !important;
    border-right: 5px solid;
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25) !important;
    border-radius: 3px !important;
    height:95px !important;
    /*padding:unset;*/
    
}
.base-card{
    background: #FFFFFF;
    display: inline-block !important;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25) !important;
    border-radius: 3px !important;
    margin-bottom:20px;
}
.base-card-2{
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25) !important;
    border-radius: 3px !important;
    height: 50px; 
}
.cooperative{
    background-color:#FF653D;
    height:80px;
    
}
.text-cooperative{
    color:#FFF !important;
}

.monthly-inner{
    font-size: 14px;
    color:#828282;
    margin-top: 50%;
}
.text-inner{
    color:#828282; 
}
.btn-view{
width: 100px;
background-color: #FFF;
border: 0.5px solid #FF653D;
margin:10px;
border-radius: 3px;
font-size: 14px !important;
float:right;
}

.member-list-count{
    display:block;
    font-size: 12px; 
    margin-top:20px;   
}
.member-list-text{
    display:block;
    color:#FF653D;
    font-size: 14px;
    margin-top:10px;

    
}
.member-list{
    height:300px;
    padding:0px;
    overflow-y: scroll; 
}
.member-header{
    border-color: #FF653D !important;
    border-right: 5px solid;
    height: 70px;
    margin:0px;
}

table th{
    color: #FF653D !important;
}

.table{
    font-size: 12px !important;
}
.table thead th{
    border-bottom: unset !important;
}

.table tbody tr{
    border-bottom: unset !important;
    border-top: unset !important;
}
.monthly-contribution{
    height:80px;
    
}
.img{
    height:auto;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
img-holder{
    height: 100%;
}
.title{
    display: block !important;
    font-size: 14px !important;
    margin: 5px;
    margin-top:10px;
}
.is-admin{
    color:#52BC00
}