
<div class="container">
  <div class="col-md-12 navigation-back">
    <span routerLink="/home">
     <img src="../assets/images/back-icon.png">
    <strong>HOME</strong>
    </span>
  </div>
  
    <div class="page-header d-flex align-items-center b-r border-green">
      <img class="img-fluid" width="10%" src="../assets/fundal/admin/Profile (3) (1).png">
      <h2 class="page-header-title text-transform-uppercase">
        Rejected Loans
      </h2>

  </div>
  <div class="tabs tabs--style-2 mt-4" role="tabpanel">
    <!-- Nav tabs -->
    <app-loan-nav></app-loan-nav>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="big-data-box">
        <div class="head">
          <div class="row">
            <div class="col-md-3">
              <h3>Rejected Requests</h3>
              <i class="fa fa-arrow-left"></i>
              <i class="fa fa-arrow-right visible-xs pull-right"></i>

            </div>
            <div class="col-md-6">
              <div class="img-center fit-width">
                <p class="">SORT BY:</p>
                <div class="dropdown styled display-inline mx-3">
                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Status
                                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Status</a></li>
                    <li class="active"><a href="#">Loan Type</a></li>
                    <li><a href="#">Duration</a></li>
                  </ul>
                </div>
                <p class=""> &lt; 1 - 6 &gt; of 6 pages</p>
              </div>
              <div class="form-group">
                <input class="form-control">
                <i class="fa fa-search"> </i>
              </div>

            </div>
            <div class="col-md-3 hidden-xs pt-30">
              <i class="fa fa-arrow-right pull-right"></i>
            </div>
          </div>
        </div>
        <div class="body">
          <div class="line my-0">
          </div>
          <div class="row my-4 ">
            <div class="col-md-12" align="center">
              <label for="" *ngIf="loans.length < 1">No Rejected Loans</label>
              <!--<spinner [isLoading]="isLoading"></spinner>-->


            </div>
            <div class="col-md-12" *ngFor="let loan of loans">



              <rejected-loan [loan]="loan"></rejected-loan>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
