<div class="container">
  <div class="navigation-back type-2">
    <i routerLink="/u/dashboard" class="fa fa-arrow-left"></i>
    <h2 routerLink="/u/dashboard">

      HOME
    </h2>
  </div>
  <div class="page-header d-flex align-items-center b-r border-blue">
    <img class="img-fluid" width="10%" src="../assets/fundal/loan-desc/Icons-01.png">
    <h2 class="page-header-title text-transform-uppercase">
      {{loan.loanName}}
    </h2>
  </div>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <img src="../assets/fundal/loan-desc/Pay-Loan.png" width="100%" class="img-fluid">
      </div>
      <div class="col-md-8 page-header-content">
        <h2 class="page-header-title">
        {{loan.loanName}} loan

        </h2>
        <hr>
        <p>{{loan.description}}.</p>

        <!--<ul class="colored-list" *ngIf="loan.requirements.length > 0">
                  <li class="blueish" *ngFor="let requirement of loan.requirements">{{requirement}}</li>
                </ul>-->
        <a name="" id="" class="btn btn-outline-primary border-blue text-blue text-uppercase mt-3 pull-right" role="button" routerLink="/loan/request/{{loan.loanName}}/{{loan._id}}/{{loan.interestRate}}">Apply</a>

      </div>
    </div>

  </div>
  <div class="requirement b-r border-blue">

    <h2 class="page-header-title text-transform-uppercase">
      Requirements
    </h2>
    <ul class="colored-list">
      <li *ngFor="let requirement of loan.requirements; let i = index" class="greenish">{{requirement.name}}</li>

    </ul>

  </div>

  <!--<button class="btn img-center btn-styled btn-md pull-right text-uppercase" name="button"> Apply for Loan <i class="fa fa-arrow-right"></i> </button>-->
</div>
