.page-header {
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin: 40px 0px;
}
.add-section p{
    font-size: 14px;
    margin-bottom: 0px;
}
