<div class="container">
  <div class="col-md-12">
    <span routerLink="/admin/dashboard">
     <img src="../assets/images/back-icon.png">
    <!--<strong>BACK</strong>-->
    </span>
  </div>

  <!--<div class="page-header d-flex align-items-center">
    <img class="img-fluid" width="10%" src="../assets/fundal/admin/Profile (3) (1).png">
   <span style="font-size:16px;color:#000">   {{title}} List</span>
            <button  (click)="createuser()" class="btn pull-right btn-styled btn-md mt-4 btn-loan">Create {{title}}<i class="fa fa-arrow"></i> </button>
  </div>-->
  <div class=" page-header mcard-header">
       <img class="img-fluid" width="10%" src="../assets/fundal/admin/Profile (3) (1).png">
    <span style="font-size:16px;color:#000">   {{title}} List</span>
            <button *ngIf="type!='user'" style="width:auto !important"  (click)="createUser()" class="btn pull-right btn-styled btn-md mt-4 btn-loan">Create {{title}}<i class="fa fa-arrow"></i> </button>

    </div>
  <div class="row">


    <div class="col-md-12">
      <div class="big-data-box">
        <div class="head">
          <div class="row">
       <!---->
            <div class="col-md-3">
              <!--<h3>User List</h3>-->
              <i style="cursor:pointer" class="fa fa-arrow-left" (click)="previous()"></i>
              <!--<i class="fa fa-arrow-right visible-xs pull-right"></i>-->
            </div>
            <div class="col-md-6">
              <div class="img-center fit-width">

              </div>
              <div class="form-group">
                <input class="form-control" [(ngModel)]="query" id="listSearch">
                <i class="fa fa-search"  style="top:15px !important"> </i>
              </div>

            </div>
            <div class="col-md-3 ">
              <i style="cursor:pointer" class="fa fa-arrow-right pull-right" (click)="next()"></i>
            </div>
          </div>
          <div class="row"  *ngIf="type=='user'"  >
             <div class="col-md-4" style="display:inline"></div>
             <div class="col-md-3" style="display:inline">
            <select style="height: 35px !important;font-size: 12px" name="" id="" [(ngModel)]="filterBy"  class="form-control">
              <option value="">Filter By</option>
              <option value="1">Loan application Date</option>
              <option value="2">Date of Birth</option>
            </select>
          </div>
          <div class="col-md-4" style="display:inline-block">
            <!--<span for="">Filter By Loan Application Date</span>-->
            <nz-range-picker style="height:auto!important" [(ngModel)]="dateRange" (nzOnOk)="search($event)" (ngModelChange)="onChange($event)"
              nzShowTime></nz-range-picker>
          </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table red" *ngIf="users.length > 0">
            <thead>
              <tr>
                <th>S/N</th>
                <th>LAST NAME</th>
                <th>FIRST NAME</th>
                <th>USER TYPE</th>
                <th>STATUS</th>
                <th></th>
                <!--<th>
                  Sort by loan applications:
                  <input type="text" placeholder="Set Date Range" class="form-control">
                </th>-->
              </tr>
            </thead>
            <tbody *ngFor="let u of users | search:query;let i = index">
              <tr>
                <td>{{i+1}}</td>
                <td>{{u.firstName}}</td>
                <td>{{u.lastName}}</td>
                <td>
                <span *ngIf="u.role == 1">Admin</span>
                <span *ngIf="u.role == 2">Approval Manager</span>
                <span *ngIf="u.role == 3">Disbursement Manager</span>
                <span *ngIf="u.role == 4">Customer Care</span>
                <span *ngIf="u.role == 5">User</span>
                </td>
                <!--<td> <span *ngIf="u.isVerified">Active</span> <span *ngIf="!u.isVerified">Inactive</span> </td>-->
                <td>
                  <span title="active" *ngIf="u.isVerified"><img src="../assets/fundal/admin/if_tick_green_619543.png" /></span>
                  <span title="inactive" *ngIf="!u.isVerified" class="text-red"> <img src="../assets/fundal/admin/if_close_red_619539.png" /></span>
                </td>
                <td colspan="2">
                  <button routerLink="/admin/user-details/{{u._id}}" style="font-size:12px !important" class="btn btn-outline text-red border-red">
                                VIEW
                              </button>
                </td>
              </tr>
            </tbody>
         
          </table>
          
             <div *ngIf="users.length < 1 && !isLoading" class="col-md-12" align="center" style="text-align:center">
              <!--<h5 style="display:block;text-align:center;width:100%">-->
                No {{title}} found

              <!--</h5>-->
            </div>
             <div *ngIf="users.length > 0 && !isLoading" class="col-md-12" align="center" style="text-align:center">
                         <button *ngIf="!isDownloading" style="width:auto !important"  (click)="download()" class="btn pull-right btn-styled btn-md mt-4 btn-loan">Download <i class="fa fa-download"></i> </button>
                         <button *ngIf="isDownloading" style="width:auto !important"  class="btn pull-right btn-styled btn-md mt-4 btn-loan"><i class="fa fa-spin fa-spinner"></i></button>


              <!--</h5>-->
            </div>
             <div *ngIf="isLoading" class="col-md-12" align="center" style="text-align:center">
              <!--<h5 style="display:block;text-align:center;width:100%">-->
<i class="fa fa-spin fa-2x fa-spinner"></i>
              <!--</h5>-->
            </div>
        </div>
      </div>
    </div>
  </div>
</div>