<div class="container">
  <div class="col-md-12 navigation-back">
    <span routerLink="/home">
     <img src="../assets/images/back-icon.png">
    <strong>HOME</strong>
    </span>
  </div>
    
  <div class="page-header d-flex align-items-center b-r border-blue">
    <img class="img-fluid" width="10%" src="../assets/fundal/loan-desc/Icons-01.png">
    <h2 class="page-header-title text-transform-uppercase">
      Auto Loan
    </h2>
  </div>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <img src="../assets/fundal/loan-desc/Pay-Loan.png" width="100%" class="img-fluid">
      </div>
      <div class="col-md-8 page-header-content">
        <h2 class="page-header-title">
          Auto Loan
        </h2>
        <hr>
        <p>Auto Loan is a credit scheme available to salary account holders in the private sector. Through this
          scheme, our qualified customers can access either short or medium term funding.</p>
        <ul class="colored-list">
          <li class="greenish">No collateral required </li>
          <li class="blueish">No hidden charges </li>
          <li class="greenish">Flexible payment option</li>
        </ul>
        <a name="" id="" class="btn btn-outline-primary border-blue text-blue text-uppercase mt-3 pull-right"
          role="button" routerLink="/u/request_auto_loan">Apply</a>
      </div>
    </div>

  </div>
  <div class="requirement b-r border-blue">
    <h2 class="page-header-title text-transform-uppercase">
      Requirements
    </h2>
    <ul class="colored-list">
      <li class="greenish">Proof of Employment ( Work ID, Promotion Letter, Pay Slip )</li>
      <li class="greenish">6 months updated bank statement</li>
      <li class="greenish">Work ID</li>
      <li class="greenish">Pension account statement</li>
      <li class="greenish">Passport Photo</li>
      <li class="greenish">Utility bill</li>
      <li class="greenish">Cheques</li>
      <li class="greenish">Standard ID (Voters card, National ID, Drivers License, International Passport)</li>

    </ul>

  </div>
  <div class="loan-calculator my-5">
    <h2 class="page-header-title text-transform-uppercase">
      Loan Calculator
    </h2>
    <div class="form-group">
      <div class="d-flex justify-content-between range-text">
        <label for="">Requested Loan Amount</label>
        <input type="number" class="form-control" name="" [(ngModel)]="amount" id="" aria-describedby="helpId" placeholder="">
      </div>
      <input type="range" class="slider-range mt-3" name="" id="" aria-describedby="helpId" placeholder="">

      <div class="d-flex justify-content-between mt-3 range-amount">
        <p>₦ {{amount}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="d-flex justify-content-between range-text">
        <label for="">Duration</label>
        <input type="number" class="form-control" [(ngModel)]="duration" name="" id="" aria-describedby="helpId" placeholder="">
      </div>
      <input type="range" class="slider-range2 mt-3" name="" id="" aria-describedby="helpId" placeholder="">

      <div class="d-flex justify-content-between mt-3 range-amount">
        <p>{{duration}} months</p>
      </div>
    </div>
    <button type="button" class="btn img-center btn-styled btn-md text-uppercase" (click)="calc()">Calculate</button>
    <div class="row mt-3 calculate">
      <div class="offset-md-6 col-md-6">
        <div class="form-group row justify-content-between">
          <label class="col-sm-8 col-form-label">Interest rate</label>
          <div class="col-sm-2">
            <input type="text" readonly class="form-control" (click)="calc()" value="5%">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-6 col-form-label">Total Cost of Loan</label>
          <div class="col-sm-6">
            <input type="text" readonly class="form-control" [(ngModel)]="total">
          </div>
        </div>
        <div class="form-group row ">
          <label class="col-sm-6 col-form-label">Monthly Repayments</label>
          <div class="col-sm-6">
            <input type="text" readonly class="form-control" [(ngModel)]="monthlyRepay">
          </div>
        </div>
      </div>
    </div>

  </div>
  <button class="btn img-center btn-styled btn-md pull-right text-uppercase" routerLink="/u/request_auto_loan" name="button"> Apply for Loan <i class="fa fa-arrow-right"></i> </button>
</div>
