<div class="row">
    <div class="col-md-3"></div>
  <div class="col-md-6">
    <label for="">Advert Name</label>
    <input class="form-control pl-4" type="text" [(ngModel)]="listing.name" name="" value="">
    <br>
    <label for="">Description</label>
    <textarea class="form-control pl-4" [(ngModel)]="listing.description" name="name"></textarea>
    <br>
    <label for="">Company Name</label>
    <input class="form-control pl-4"  type="text" [(ngModel)]="listing.company" name="" value="">
    <br>
    <label for="">CAC Number</label>
    <input class="form-control pl-4" type="number" [(ngModel)]="listing.contact_information" name="name">
    <br>
    <label for="">Advert Duration</label>
    <input class="form-control pl-4" type="text" [(ngModel)]="listing.duration" name="" value="">
    <br>
    <label for="">Make Top Add</label>
    <input class="form-control pl-4" type="checkbox" [(ngModel)]="listing.top_advert" name="" value="">
    <br>
    <label for="">Company Certificate (CAC)</label>
    <input class="form-control pl-4" type="file" name="" (change)="cac_reg($event)" value="">
    <br>
    <label for="">Advert Cost</label>
    <input class="form-control pl-4" type="text" [(ngModel)]="listing.advert_cost" name="" value="">
    <br>
    <label for="">Advert Image</label>
    <input class="form-control pl-4" type="file" (change)="add_image($event)" name="" value="">
    <br>

    <button *ngIf="!isLoading" type="button" class="btn btn-primary" (click)="create()" name="button">Create</button>
    <button *ngIf="isLoading" type="button" class="btn btn-primary"  name="button">Creating</button>
</div>
</div>
