
<div class="container">
  <div class="navigation-back type-2 mt-5">
    <i class="fa fa-arrow-left" routerLink="/u/dashboard"></i>
    <h2 routerLink="/u/dashboard">

      BACK
    </h2>
  </div>
  <div class="mcard-header">
    <img class="img-fluid" width="10%" src="../assets/fundal/admin/Profile (3) (1).png">
    <span>{{community.name}} cooperative</span>
    <button  routerLink="/communities/all/2" class="btn pull-right btn-styled btn-md mt-4 btn-loan">Women in Trade<i class="fa fa-arrow"></i> </button>

    <!--<h2 class="page-heade-title text-transform-uppercase">
                            JOIN COOPERATIVES
                        </h2>-->
    <!--<div class="form-group">
                            <input class="form-control">
                            <i class="fa fa-search"> </i>
                        </div>-->
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-md-5 cooperative base-card">
        <br>
        <span class="text-cooperative">Cooperative Balance: <span class="cooperative-balance">{{ community.contribution | currency:'N'}}</span></span>
      </div>
      <div class="col-md-5 monthly-contribution base-card" style="float:right">
        <br *ngIf="hide">
        <span *ngIf="hide && !isLoading" class="text-inner">Set Monthly Contribution: <input [(ngModel)] = "community.amount" (blur)="toggle()" type="number" min="1" class="form-control"></span>
        <span *ngIf="!hide && !isLoading" class="text-inner">Do you want to set {{ community.amount | currency:'N'}} as monthly contribution? <button class="btn btn-view" (click)="toggle()">No</button> <button (click)="setContribution()" class="btn btn-view">Yes</button></span>
        <span *ngIf="isLoading">Loading...</span>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-md-5 base-card-2 base-card">
        <div class="col-md-12" style="display:inline-block">
          <span class="monthly-inner">Loans Given</span>
          <button class="btn btn-default btn-view pull-right">VIEW</button>

        </div>
        <!--<div class="col-md-6" style="display:inline-block">
                </div>-->
      </div>
      <div class="col-md-5 base-card-2 base-card" style="float:right">
        <div class="col-md-12" style="display:inline-block">
          <!--<br>-->
          <span class="monthly-inner">Loan Requests</span>
          <button (click)="loanRequests()" class="btn btn-default btn-view pull-right">VIEW</button>

        </div>
        <!--<div class="col-md-12" style="display:inline-block">
                </div>-->
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-md-5 base-card-2 base-card">
        <div class="col-md-12" style="display:inline-block">
          <span class="monthly-inner"> Contributions</span>
          <button class="btn btn-default btn-view pull-right">VIEW</button>

        </div>
        <!--<div class="col-md-6" style="display:inline-block">
                </div>-->
      </div>
      <div class="col-md-5 base-card-2 base-card" style="float:right">
        <div class="col-md-12" style="display:inline-block">
          <!--<br>-->
          <span class="monthly-inner">Join Requests <span class="join">{{community.applicants.length}}</span></span>
          <button *ngIf="community.applicants.length > 0" (click)="viewJoinRequests(community._id)" class="btn btn-default btn-view pull-right">VIEW</button>

        </div>
        <!--<div class="col-md-12" style="display:inline-block">
                </div>-->
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-md-12 base-card-2 base-card member-list">
        <div class="col-md-12 member-header">
          <span class="member-list-text">MEMBER LIST</span>
          <span class="member-list-count">Number of Members: {{community.members.length || 0}}</span>
        </div>
        <!--<hr>-->
        <table class="table">
          <thead>
            <th>S/N</th>
            <th>LAST NAME</th>
            <th>FIRST NAME</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let member of community.members">
              <td>1</td>
              <td>{{member.firstName}}</td>
              <td>{{member.lastName}}</td>
              <td>
                <button (click)="viewProfile(member._id)" class="btn btn-default btn-view pull-right">VIEW</button>
              </td>
            </tr>
          </tbody>
        </table>



      </div>


    </div>
  </div>

</div>
