<div class="container">
  <div class="page-header">
    <h2 class="page-header-title text-center">
      Welcome to Getfunds!
    </h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div routerLink="/customercare/open_tickets" class="activity-box b-b border-yellow">
            <img src="../assets/fundal/admin/Help Cemter Icon.png" class="img-center">
            <p>OPEN TICKETS</p>
          </div>
        </div>
        <div class="col-md-4">
          <div routerLink="/customercare/view_user_requested_loans" class="activity-box b-b border-blue">
            <img src="../assets/fundal/admin/Icon set-05.png" class="img-center">
            <p>LOAN APPLICATIONS</p>
          </div>
        </div>

        <div class="col-md-4">
          <div routerLink="/customercare/pending_listing_request" class="activity-box b-b border-greened ">
            <img src="../assets/fundal/admin/Icons-06.png" class="img-center">
            <p>PENDING ADS</p>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-12">
      <div class="notice-box">
        <h3>Important</h3>
        <div class="line"></div>
        <ul class="colored-list col-8 offset-2">
          <li class="greenish">No info</li>
          <!-- <li class="blueish">Customer Care has responded to your application. Please review </li> -->
          <!-- <li class="greenish">Getfunds will be updating in 24 hours</li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
