
 /* utils */
 .b-b {
     border-bottom: 10px solid grey;
 }
 .b-r {
     border-right: 10px solid grey;
 }
 .border-red {
     border-color: #EB5757;
 }
 .border-yellow {
     border-color: #FFC40E;
 }
 .text-yellow {
    color: #FFC40E;
 }
 .border-green {
     border-color:  #52BC00;
 }
 .border-greened {
     border-color: #219653;
 }
 .border-blue {
     border-color: #2D9CDB;
 }
 .text-blue {
    color: #2D9CDB;
 }
 .text-grey {
    color: #828282 !important;
 }
 .text-red {
   color: #EB5757 !important;
}
 .text-green {
   color: #52BC00  !important;
}
.text-lilac {
    color: #00BFBF;
}
.text-pink {
    color: #F559E4;
}
.clickable {
    cursor: pointer;
}

.font-18 {
    font-size: 18px !important;
 }
 .font-16 {
    font-size: 16px !important;
 }
 .font-22 {
    font-size: 22px !important;
 }
 .font-24 {
    font-size: 24px !important;
 }
 .font-14 {
    font-size: 14px !important;
 }
 .font-12 {
    font-size: 12px !important;
 }

 .line {
    border: 0.5px solid #BDBDBD;
    margin: 45px 0;
 }
 .mt-45 {
    margin-top: 45.17px !important;
}
 .pt-60 {
    padding-top : 60px !important;
}
 .pt-40 {
    padding-top : 40px !important;
}
 .pt-50 {
    padding-top : 50px !important;
}
 .pt-55 {
    padding-top : 55px !important;
}
 .pt-30 {
    padding-top : 30px !important;
}
 .pt-20 {
    padding-top : 20px !important;
}
.pt-70 {
    padding-top : 70px !important;
}
.pt-100 {
    padding-top : 100px !important;
}
.pt-300 {
    padding-top : 300px !important;
}
.pb-30 {
   padding-bottom : 30px !important;
}
.pb-24 {
   padding-bottom : 24px !important;
}
.px-28 {
    padding-left: 28px !important;
    padding-right: 28px !important;

}
.pb-77 {
   padding-bottom : 77px !important;
}
.display-inline {
    display: inline;
}
ul.colored-list {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}
.text-bottom {
    position: absolute;
    bottom: 0;
}

ul.colored-list li:before {
    content: "•";
    padding-right: 8px;
    color: black;
}
ul.colored-list li.blueish:before {
    color: #2F80ED;
}
ul.colored-list li.greenish:before {
    color: #63C8B0;
}
.btn-outline {
    border: 0.5px solid;
    box-sizing: border-box;
    border-radius: 3px;
    background: #ffffff;
    padding: 4px 17px;
    cursor: pointer;
    text-align:center;
}
.navigation-back.type-2 {
    right: 0px;
    margin-bottom: 20px;
}
.navigation-back i {
    font-size: 20px;

    color: #52BC00;
 }
 .navigation-back h2{
    margin-left: 29px;
    font-style: normal;
    display: inline;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    color: #52BC00;
}
.section-main-body {
    padding: 60px 60px 10px 120px;
    height: 575px;
    contain: content;
    overflow-x: hidden;
    overflow-y: scroll;
}
.ml-5-lg {
    margin-left: 3rem !important;
}
.fit-width {
    width: fit-content;
}
.visible-xs {
    display: none;
}
@media (max-width: 500px){
    .section-main-body {
        padding: 64px 60px 10px 13px;
        height: 568px;
        contain: content;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .ml-5-lg {
        margin-left: 0rem !important;
    }
    .section-main-body {
        padding: 10px;
    }
    .visible-xs {
        display: block;
    }
.hidden-xs  {
 display: none;
}
.maxed-out-xs, .change-img-box {
width: 100%  !important;
min-width: 100%;
}
}

@media (max-width: 1250px){
.hidden-sm  {
 display: none;
}
.maxed-out {
    width: 100% !important;
    min-width: 100%;
    }
}
.btn{
    box-shadow: 0px 3px 3px #92919178;
cursor: pointer
}
.btn:hover{
box-shadow: 0px 2px 3px #92919178;

}
.btn:active{
box-shadow: 0px 1px 3px #92919178;;
}
.btn-md {
    width: 200px !important;
}

/* utils end here*/


.big-data-box .body table {
    padding: 0 65px;
}
.big-data-box .body table th {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 14px;

    color: #52BC00;
}
.big-data-box .body table.red th {
    color: #FA6541;
}
.big-data-box .body table.blue th {
    color: #2D9CDB;
}
.big-data-box .body table.yellow th {
    color: #FFC30E;
}
.big-data-box .body table td {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;

    color: #222233;
}

.b-t {
    border-top: 1px solid grey;
}

textarea.superide{
    position: absolute;
    width: 450px;
    height: 123px;


    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
}

input.loan-form-styled {
    height: 27px;

    border: 1px solid #C3C3C3;
    box-sizing: border-box;
    border-radius: 25px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
    padding: 8px 16px;
    margin-bottom: 21px;
    color: #828282;
}
.btn-loan-form-dropdown {
    width: 176px;
    height: 27px;
    background: #ffffff;
    border: 1px solid #C3C3C3;
    box-sizing: border-box;
    border-radius: 25px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
    padding: 6px;
    color: #828282;
}
.x-ha {
    position : absolute;
    right: -5px;
    top: 0px;
}
.x-ha-1 {
    position: absolute;
    right: -5px;
    top: 55px;
}
/* slider util starts  */
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    background: #ECECEC;
    border-radius: 10px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #70E516;
    cursor: pointer;
    border-radius: 100%
}

.slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background: #70E516;
    cursor: pointer;
    border-radius: 100%
}
/* slider util ends  */


.listing-box {
    background: #FFFFFF;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-bottom: 55px;
    width: 100%;
    height: 256px;
    margin-bottom: 40px;
}
.listing-box img.plus {
    position: absolute;
    right: 150px;
    top: 11px;
}
.listing-box h5 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align:center;
    color: #828282;
}
.listing-box p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;
    text-align:center;
    color: #828282;
}
label.badge {
    background: #52BC00;
    border-radius: 10px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 12px;
    height: 20px;

    color: #FFFFFF;
    padding: 2px 5px 0px 5px;
    text-align: center;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #52bc0099;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #52BC00;
}
body {
    overflow: hidden;
}
body.auth {
    overflow: auto;
}
/* .loan-box table td:last-child {
    padding-bottom: 0px;
} */

 .card {
     border:none;
 }
.img-round img {
    background: #FFFFFF;
    border: 3px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 100%;
}
.prsofile-card-di {
    width: 295px;
height: 255px;
}
.prsofile-card-di p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;

    color: #828282;
}
.custom-card p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;

    color: #828282;
}
.prsofile-card-di p.smaller {
    font-size: 14px;
}

.prsofile-card-di .text-body.m-adjust-1 {
    margin-top: 29px;
}
.prsofile-card-di .text-body.m-adjust {
    margin-top: 17px;
}
.pos-advantage-1 img{
    position: absolute;
bottom: 33px;
}
.pos-advantage-1 .text-body {
position: relative;
top: 130px;
}
.custom-card {
    background: #FFFFFF;

    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
 }
 .font-12 {
    font-size: 12px !important;
 }

 .change-img-box.personal {
    height: 1210px;
    padding: 39px 79px;
}

.change-img-box {
    width: 543px;
    height: 391px;
    /* margin: 23px 257.5px 0; */
    margin-top : 23px;
    background: #FFFFFF;
    border: 0.5px solid #828282;
    box-sizing: border-box;
    border-radius: 5px;
}
.change-img-box p {
    margin-top:10px;
}

.change-img-box .img-group img.img-center {
    border-radius: 100%;
    margin-top:34px;
    background: #FFFFFF;
border: 2px solid #C4C4C4;
box-sizing: border-box;
}


.change-img-box .img-group button {
    position: absolute;
    width: 52px;
    top: 220px;
    right: 175px;
    height: 66.71px;
    border-radius: 100%;
}
.change-img-box .img-group button img {
    position: absolute;
    bottom: 10px;
    right: 13px;
}

.change-img-box button.img-center {
    margin-top:34px;
}
.form-type-2 label {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;
    margin-bottom: 0;
    color: #222233;
}
.form-type-2 input {
    margin-top: 0;
    padding: 0;
    height: 33px;
    border: none;
    border-bottom: 0.5px solid #D1D1D1;
    border-radius: 0;
}
.form-group select{
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 25px;
    margin-top: 11px;
}
.date-form.day {
    width: 38px;
    height: 27px;
    padding: 5px 9px;
    border: 1px solid #C3C3C3;
    box-sizing: border-box;
    border-radius: 25px;

    }
    .date-form {

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 12px;

    color: #222233;
    }
    .date-form.month {
        width: 42px;
        height: 27px;
        padding: 5px 9px;
        border: 1px solid #C3C3C3;
        box-sizing: border-box;
        border-radius: 25px;

    }
    .date-form.year {
        height: 27px;
        width: 76px;
        padding: 5px 22px;
        border: 1px solid #C3C3C3;
        box-sizing: border-box;
        border-radius: 25px;

    }
    .btn-camera  {
        width: 28px !important;
        border-radius: 100%;
        right: 20px;
        top: 25px;
        position: relative;
        height: 28px !important;
        background: linear-gradient(180deg, #93D802 0%, #04B648 100%), #222233;
    }
    .btn-camera span {
        position: relative;
        right: 11px;
        bottom: 10px;

        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 12px;

        color: #FFFFFF;
    }
    .btn-camera img {
        position: relative;
        bottom: 3px;
        right: 4px;

    }
    .custom-card-2 {
        background: #FFFFFF;
        border: 1px solid #BDBDBD;
        box-sizing: border-box;
        border-radius: 5px;
     }
     .loan-status-repaid {
        width: 36px;
    height: 36px;
    border-radius: 100%;

    background: #2D9CDB;
    }
    .loan-status-repaid-green {
        width: 36px;
    height: 36px;
    border-radius: 100%;

    background: #52BC00;
    }
    .bg-shade-1 {
        background :#00bfbf ;
    }
    .bg-shade-2 {
        background: #0097D3;
    }
    .bg-shade-3 {
        background: #52BC00;
    }
    .bg-shade-4 {
        background: #EB5757;
    }
    .loanie-big-img{
        height: 168px;
        width: 100%;
        position: absolute;
        top: -16px;
    }
    .loanie-big-img-2{
        height: 133px;
        width: 100%;
        position: absolute;
        top: -16px;
    }
    item.show .nav-link, .tabs--style-2 .nav-tabs .nav-link.active, .tabs--style-2 .nav-tabs .nav-link:hover {
        background: transparent !important;
        color: #222233;
        width: 150%;
        border-bottom: 2px solid #52BC00;
        border-radius: 1px;
    }
    item.show .nav-link, .tabs--style-2 .nav-tabs .nav-link {
        background: transparent !important;
        color: #222233;
        width: 150%;
        border-bottom: 2px solid #BDBDBD;
        border-radius: 1px;
        font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;

    color: #828282;
    }
    .tabs--style-2 .nav-tabs {
        border-bottom: none;
    }
    .tabs--style-2 .nav-tabs .nav-item {
        margin-right: 40px;
    }

    .progress{
        width: 110px;
        height: 110px;
        line-height: 50px;
        background: none;
        margin: 0 auto;
        box-shadow: none;
        position: relative;
    }
    .progress:after{
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid #BDBDBD;
        position: absolute;
        top: 0;
        left: 0;
    }
    .progress > span{
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 1;
    }
    .progress .progress-left{
        left: 0;
    }
    .progress .progress-bar{
        width: 100%;
        height: 100%;
        background: none;
        border-width: 5px;
        border-style: solid;
        position: absolute;
        top: 0;
    }
    .progress .progress-left .progress-bar{
        left: 100%;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
        border-left: 0;
        -webkit-transform-origin: center left;
        transform-origin: center left;
    }
    .progress .progress-right{
        right: 0;
    }
    .progress .progress-right .progress-bar{
        left: -100%;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
        border-right: 0;
        -webkit-transform-origin: center right;
        transform-origin: center right;
        animation: loading-1 1.8s linear forwards;
    }
    .progress .progress-value{
        width: 50%;
        height: 50%;
        border-radius: 50%;
        font-size: 24px;
        color: #52BC00;
        line-height: 135px;
        text-align: center;
        display: block;
        margin: 0 auto;
        position: relative;
        bottom: 10px;

    }
    .progress.blue .progress-bar{
        border-color: #049dff;
    }
    .progress.blue .progress-left .progress-bar{
        animation: loading-2 1.5s linear forwards 1.8s;
    }
    .progress.yellow .progress-bar{
        border-color: #fdba04;
    }
    .progress.yellow .progress-left .progress-bar{
        animation: loading-3 1s linear forwards 1.8s;
    }
    .progress.pink .progress-bar{
        border-color: #ed687c;
    }
    .progress.pink .progress-left .progress-bar{
        animation: loading-4 0.4s linear forwards 1.8s;
    }
    .progress.green .progress-bar{
        border-color: #52BC00;
    }
    .progress.green .progress-left .progress-bar{
        animation: loading-5 1.2s linear forwards 1.8s;
    }
    @keyframes loading-1{
        0%{
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100%{
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
    @keyframes loading-2{
        0%{
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100%{
            -webkit-transform: rotate(144deg);
            transform: rotate(144deg);
        }
    }
    @keyframes loading-3{
        0%{
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100%{
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }
    @keyframes loading-4{
        0%{
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100%{
            -webkit-transform: rotate(36deg);
            transform: rotate(36deg);
        }
    }
    @keyframes loading-5{
        0%{
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100%{
            -webkit-transform: rotate(126deg);
            transform: rotate(126deg);
        }
    }
    @media only screen and (max-width: 990px){
        .progress{ margin-bottom: 20px; }
    }
    
    .big-data-box{
        padding: 0px;
    }
    .bg-shade-1{
        background-color: #00BFBF;
        height: 100%;
        width: 100%;
    }
    
.loan-list-card {
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
    font-size: 14px;
}

.loan-list-img {
    width: 150px;
    height: 170px;
    background-color: red;
}

.loan-list-img img {
    display: block;
    margin: 30px auto;
    height: 110px;
    width: auto;
}

.loan-list-card .top-pad {
    padding: 20px 0;
}

.loan-list-card .details {
    line-height: 2;
}

.loan-list-card .details b {
    display: inline-block;
    width: 150px;
    font-weight: 500;
}