
<div class="container">
  <div class="col-md-12 navigation-back">
    <span routerLink="/home">
      <img src="../assets/images/back-icon.png">
      <strong>HOME</strong>
    </span>
  </div>
  
  <div class="page-header d-flex align-items-center b-r border-green">
    <img class="img-fluid" width="10%" src="../assets/fundal/admin/Profile (3) (1).png">
    <h2 class="page-header-title text-transform-uppercase">
      My Loans
    </h2>
  </div>
  <div class="tabs tabs--style-2 mt-4" role="tabpanel">
    <!-- Nav tabs -->
    <app-loan-nav></app-loan-nav>
  </div>  

           <div class="big-data-box mt-45">
            <div class="col-md-12">
              <p class="font-18 strong-600">Loan Summary </p>
            </div>
            <div class="col-md-12">
              <table class="table font-16">

                <tbody>
                  <tr>
                    <td>Number of Loans Taken:</td>
                    <td>{{totalLoans}}</td>
                    <td>Number of Repaid Loans:</td>
                    <td>{{repaidLoans}}</td>
                  </tr>
                  <tr>
                    <td>Number of Active Loans:</td>
                    <td>{{activeLoans}}</td>
                    <td>Total Amount Owed:</td>
                    <td>N{{totalAmountOwned}}</td>
                  </tr>

                </tbody>
              </table>
            </div>
            <!--<div class="col-md-2">
              <div class="progress green">
                <span class="progress-left">
                          <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                          <span class="progress-bar"></span>
                </span>
                <div class="progress-value">0%</div>
              </div>
              <p class="text-center mt-2">Repaid Loans</p>
            </div>-->
          </div>
          <div class="row my-3">
            <div class="col-md-12">
              <div class="card-centered">
                <!--<p class="pull-right clickable  text-green font-16 strong-600">View Transactions &gt;</p>-->
              </div>
            </div>
          </div> 
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="big-data-box">
        <div class="head">
          <div class="row">
            <div class="col-md-3">
              <h3>Loan History</h3>
              <i class="fa fa-arrow-left"></i>
              <i class="fa fa-arrow-right visible-xs pull-right"></i>
            </div>
            <div class="col-md-6">
              <div class="img-center fit-width">
                <p class="">SORT BY:</p>
                <div class="dropdown styled display-inline mx-3">
                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Status
                            <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Status</a></li>
                    <li class="active"><a href="#">Loan Type</a></li>
                    <li><a href="#">Duration</a></li>
                  </ul>
                </div>
                <p class=""> &lt; 1 - 6 &gt; of 6 pages</p>
              </div>
              <div class="form-group">
                <input class="form-control">
                <i class="fa fa-search"> </i>
              </div>

            </div>
            <div class="col-md-3 hidden-xs pt-30">
              <i class="fa fa-arrow-right pull-right"></i>
            </div>
          </div>
        </div>
        <div class="body">
          <div class="line my-0">
          </div>
          <div class="row my-4 ">

            <div class="col-md-12">

                <div class="loan-list-card mb-4 pr-sm-4" *ngFor="let loan of loans">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="loan-list-img d-flex">
                        <img src="../../assets/fundal/loan/Icons-15.svg">
                      </div>
                    </div>
                    <div class="col-md-4 top-pad details">
                      <div><b>Loan Type:</b> {{loan.productName}}</div>
                      <div><b>Date Approved:</b> {{loan.approvedDate | date:'medium'}}</div>
                      <div><b>Amount Borrowed:</b> {{loan.amount | currency:'N'}}</div>
                      <div><b>Approval Status:</b> {{status[loan.applicationState]}}</div>
                    </div>
                    <div class="col-md-3 text-center top-pad">
                        <h6>STATUS</h6>
                        <div *ngIf="loan.repaid" class="img-center loan-status-repaid">

                        </div>
                        <div *ngIf="!loan.repaid" class="img-center loan-status-repaid" style="color:#56CCF2">

                        </div>
                        <p *ngIf="loan.repaid" class="text-black pt-2 text-center strong-700">
                          Repaid
                        </p>
                        <p *ngIf="!loan.repaid" class="text-black pt-2 text-center strong-700">
                          Not Repaid
                        </p>
                    </div>
                    <div class="col-md-2 text-center top-pad">
                        <img class="img-center mt-2 mb-2" src="../../assets/fundal/home/icon/if_simpline_37_23056242.png">
                        <p>View Payment</p>
                    </div>
                  </div>
                </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
