.nav-header{
    background: #fff;
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.08);
    padding: 20px 0px;
}
.auth-body{
    background: #fff;
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.08);
    padding: 30px;
    margin: 70px 30px;
    display:flex;
    justify-content: center;
}
@media only screen and (min-width: 1200px){
   .auth-body{
       padding: 70px;
       margin: 70px 200px;
   }

   h2.main-card-title{
    font-size: 36px;
    line-height: 49px;
    color: #222233;
    font-weight: 400;
    margin-bottom: 10px;
}

}
.label-cite{
    margin-bottom: 30px;
    text-align:right;
    font-weight: 300;
    color: #222233;
    font-size: 14px;
}
h2.main-card-title{
    font-size: 24px;
    line-height: 36px;
    color: #222233;
    font-weight: 400;
    margin-bottom: 10px;
}
p.main-card-subtitle{
    font-size: 14px;
    color: #222233;
    line-height: 30px;
    font-weight: light;
}
label, p.terms{
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}
.form-control{
    border-radius: 50px;
    border-color: #c3c3c3;
}
