<!-- MAIN WRAPPER -->

<div class="auth-body">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 col-md-12">

        <div class="form-area">
          <form class="form-default" #signinForm="ngForm" (ngSubmit)="change()" role="form">

            <div class="row">
              <div class="col-lg-12">
                <div class="form-group has-feedback">
                  <label>New Password</label>
                  <input type="password" [(ngModel)]="password" name="password" class="form-control" required>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 d-flex justify-content-center align-items-center flex-column">
                <button type="submit" [disabled]="!signinForm.valid" class="btn img-center btn-styled btn-md mt-4">

                  Change Password

                </button>

              </div>
            </div>
          </form>
        </div>

      </div>


    </div>
  </div>
</div>
