<div class="container">
    <div class="page-header">
      <div class="row">
        <div class="col-md-3">
          <img class="profile-img"  [src]="profile.image" />
        </div>
        <div class="col-md-9 page-header-right">
            <div><b>Name:</b> {{profile.firstName | uppercase}} {{profile.lastName | uppercase}}</div>
            <div><b>Email Address:</b> {{profile.email}}</div>
            <div><b>Number of Loans Taken:</b> 0</div>
            <div><b>Total Amount Owed:</b> <span class="strong-600">₦ </span>  0</div>

            <div class="page-ln text-right">
              <a routerLink="/profile/update-profile" class="text-uppercase text-green">Update Profile<i class="fa fa-angle-right ml-2"></i></a>
            </div>
        </div>
      </div>

    </div>

    <div class="row">
        <div class="col-md-4 mb-3">
            <div routerLink="/profile/update-profile" class="profile-card left border-green b-b">
                <div class="profile-card-body text-center">
                    <img class="img-fluid" width="40%" src="../assets/fundal/home/icon/Profile (3).png" />

                    <div class="text-body">
                        <p class=""> Update Account Details </p>
                        <div class="line my-2"> </div>
                        <p class="smaller"> Click here to update your account information </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div routerLink="/loans/history" class="profile-card border-green b-b">
                <div class="profile-card-body text-center">
                    <img class="img-fluid" width="40%" src="../assets/fundal/home/icon/Icon set-05.png" />

                    <div class="text-body m-adjust-1">
                        <p class=""> View Loan History </p>
                        <div class="line my-2"> </div>
                        <p class="smaller"> Click here to view your loan history</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div routerLink="/u/transactions" class="profile-card right border-green b-b">
                <div class="profile-card-body text-center">
                    <img class="img-fluid" width="40%" src="../assets/fundal/home/icon/Mini Dashboard-04.png" />

                    <div class="text-body m-adjust">
                        <p class=""> View Transaction History </p>
                        <div class="line my-2"> </div>

                        <p class="smaller"> Click here to view your transaction history</p>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</div>
