
/*.pill {
    background: #FFFFFF;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    padding: 24px;
    padding-bottom: 0px;
    margin-bottom: 40px;
}
.pill h4 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    font-size: 16px;

    color: #52BC00;
}
.pill h5 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    font-size: 14px;
    color: #52BC00;
}
.pill p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;

    color: #2D9CDB;
}
.pill.text-black p {
    color: #222233;
}
.pill img.action {
    width: 32px;
    height: 32px;
    margin-bottom: 21px;
}
.textarea-styled {
    height: 153px !important;

    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 25px;
}

.img-round img {
    background: #FFFFFF;
    border: 3px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 100%;
}*/

.page-header {
    padding: 50px 40px 20px;
}
.page-header .profile-img {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid #CCCCCC;
}
.page-header-right {
    padding-top: 0;
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
}

.page-header-right b {
    display: inline-block;
    min-width: 220px;
    font-weight: 400;
}

.page-header .page-ln {
    margin-top: 10px !important;
}

.profile-card {
    cursor: pointer;
    padding: 30px 30px 0;
    height: 260px;
    margin: 30px 15px 0;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
 }

 .profile-card.left {
    margin-left: 0;
 }

 .profile-card.right {
    margin-right: 0;
 }

.c-card {
    cursor: pointer;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

.c-card .card-body {
    padding: 10px 0;
}

.profile-card p {
    
    font-size: 14px;
    color: #828282;
}
 .c-card p{
    font-size: 18px;
    color: #828282;
 }
 
 .profile-form label{
    font-size: 14px;
    font-weight: 300;
 }