 .ant-input{
     height: auto !important;
 }
  /*.ant-calendar-picker-input .ant-input ng-star-inserted{
     height: auto !important;
 }*/
 .big-data-box .head input {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 25px;
    margin-top: 2px !important;
 }
body{
    font-family: "Nunito Sans", sans-serif;
    font-size: 12px;
    overflow-x:hidden;
}
.container{
    /*width: 90% !important;*/
}
.pointer {
    cursor: pointer;
}
.community{
    margin-top: 70px;
}
.nav-header{
    width: 100%;
}
.nav-header .nav-link{
    color: #000;
    text-transform: capitalize;
    font-size: 24px;
    line-height: 33px;
}

@media only screen and (max-width: 768px){
    .dashboard-header{
        height: auto;
    }

}

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
.navbar-auth {
    padding: 25px 8px;
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
}
.navbar-auth a.text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;

    color: #222233;
}
.nav-header{
    width: 100%;
}
.body-wrap.auth {
    background: #F2F2F2;
}
.auth-card {
    background: #FFFFFF;
    /* border: 0.5px solid #BDBDBD; */
    box-sizing: border-box;
    box-shadow: 2px 6px 15px rgba(51, 51, 51, 0.25);
    border-radius: 10px;
    padding: 150px 45px;
}

.auth-card h2 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 36px;

    color: #222233;
    margin-bottom: 42px;
}
.auth-card label {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    font-size: 14px;

    color: #222233;
}
.auth-card input {
    border: 1px solid #C3C3C3;
    box-sizing: border-box;
    border-radius: 25px;
}
.auth-card button {
    margin-top: 40px;
}
.activity-box {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin-bottom: 30px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 256px;
}
.activity-box img {
    width: 101px;
    height: 101px;
}
.activity-box p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-align:center;
    color: #828282;
}
.notice-box {
    background: #FFFFFF;
border-radius: 10px;
padding: 29px 30px;
box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
}
.notice-box h4 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
    text-align:center;
    color: #52BC00;
}
.notice-box .line {
    border: 1px solid #52BC00;
    margin: 10px 0 28px 0px;
}
.notice-box ul li {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    margin-bottom: 27px;
    color: #828282;
}

.big-data-box {
    background: #FFFFFF;
    border: 1px solid #C3C3C3;
    box-sizing: border-box;
    border-radius: 5px;
}
.big-data-box .head {
    padding: 17px 40px 13px;
}
.big-data-box .body {
    padding: 0px 30px 0px;
}
.big-data-box .head h3 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;

    color: #222233;
}
.big-data-box .head i {
    font-weight: 600;
    font-size: 18px;
    color:  #222233;
}
.big-data-box .head p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    display:inline;
    color: #828282;
}
.big-data-box .head .dropdown.styled button {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 1px 16px;
    text-align: center;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 11px;

    color: #BDBDBD;
}
.big-data-box .head input {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 25px;
    margin-top:11px;
}
.big-data-box .head input ~i {
    position: absolute;
    right: 30px;
    top: 50px;
    color: #828282;
}
.big-data-box p{
    font-size: 16px;
    color: #828282;
}
 /* utils */
 .b-b {
     border-bottom: 10px solid grey;
 }
 .b-r {
     border-right: 10px solid grey;
 }
 .text-yellow {
    color: #FFC40E;
 }
 .border-yellow {
    border-color: #FFC40E;
 }
 a.border-yellow:hover {
    border-color: #FFC40E !important;
    background-color: #FFC40E !important;
 }
 .text-green {
   color: #52BC00;
}
 .border-green {
     border-color:  #52BC00 !important;
 }
 a.border-green:hover {
    border-color: #52BC00 !important;
     background-color: #52BC00 !important;
 }
 .border-greened {
     border-color: #219653;
 }
 .text-blue {
    color: #2D9CDB;
 }
 .border-blue {
     border-color: #2D9CDB;
 }
 a.border-blue:hover {
    border-color: #2D9CDB !important;
     background-color: #2D9CDB !important;
 }
.text-purple{
    color: #8B66B5;
}
.border-purple{
    border-color: #8B66B5;
}
a.border-purple:hover{
    border-color: #8B66B5 !important;
    background-color: #8B66B5 !important;
}
.text-lilac {
    color: #00BFBF;
}
.border-lilac{
    border-color: #00BFBF;
}
a.border-lilac:hover{
    border-color: #00BFBF !important;
    background-color: #00BFBF !important;
}
.text-pink {
    color: #F559E4;
}
.border-pink{
    border-color: #f559e4;
}
a.border-pink:hover{
    border-color: #f559e4 !important;
    background-color: #f559e4 !important;
}
.text-light-pink{
    color: #F771E8;
}
.border-light-pink{
    border-color: #F771E8;
}
a.border-light-pink:hover{
    border-color: #F771E8 !important;
    background-color: #F771E8 !important;
}
.border-orange{
    border-color: #F2994A;
 }
 .border-dark-blue{
   border-color: #004C4C;
 }
 .text-grey {
    color: #828282 !important;
 }
 .text-red {
   color: #EB5757 !important;
}
 .line {
    border: 0.5px solid #C3C3C3;
    margin: 45px 0;
 }
 .pt-60 {
    padding-top : 60px !important;
}
 .pt-40 {
    padding-top : 40px !important;
}
 .pt-50 {
    padding-top : 50px !important;
}
 .pt-55 {
    padding-top : 55px !important;
}
 .pt-30 {
    padding-top : 30px !important;
}
 .pt-20 {
    padding-top : 20px !important;
}
.pt-70 {
    padding-top : 70px !important;
}
.pt-100 {
    padding-top : 100px !important;
}
.pt-300 {
    padding-top : 300px !important;
}
.pb-30 {
   padding-bottom : 30px !important;
}
.px-28 {
    padding-left: 28px !important;
    padding-right: 28px !important;

}
.pb-77 {
   padding-bottom : 77px !important;
}
.display-inline {
    display: inline;
}
ul.colored-list {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}

ul.colored-list li:before {
    content: "•";
    padding-right: 8px;
    color: black;
}
ul.colored-list li.blueish:before {
    color: #2F80ED;
}
ul.colored-list li.greenish:before {
    color: #63C8B0;
}
.btn-outline {
    border: 0.5px solid;
    box-sizing: border-box;
    border-radius: 3px;
    background: #ffffff;
    padding: 4px 17px;
    cursor: pointer;
    text-align:center;
}
.navigation-back {
    margin: 20px 0 0;
    padding: 0;
}
.navigation-back span {
    font-weight: 800;
    color: #52BC00;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}
.navigation-back img {
    margin: 0 10px 0 -30px;
    width: 30px;
    height: auto;
}

.navigation-back.type-2 {
    right: 0px;
    margin-bottom: 20px;
}
.navigation-back i {
    font-size: 20px;

    color: #52BC00;
 }
 .navigation-back h2{
    margin-left: 29px;
    font-style: normal;
    display: inline;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    color: #52BC00;
}
.section-main-body {
    padding: 60px 60px 10px 120px;
    height: 575px;
    contain: content;
    overflow-x: hidden;
    overflow-y: scroll;
}
.ml-5-lg {
    margin-left: 3rem !important;
}
.fit-width {
    width: fit-content;
}
.visible-xs {
    display: none;
}
@media (max-width: 500px){
    .section-main-body {
        padding: 64px 60px 10px 13px;
        height: 568px;
        contain: content;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .ml-5-lg {
        margin-left: 0rem !important;
    }
    .section-main-body {
        padding: 10px;
    }
    .visible-xs {
        display: block;
    }
.hidden-xs  {
 display: none;
}
.maxed-out-xs {
width: 100%  !important;
min-width: 100%;
}
}

@media (max-width: 1250px){
.hidden-sm  {
 display: none;
}
.maxed-out {
    width: 100% !important;
    min-width: 100%;
    }
}
.btn{
    box-shadow: 0px 3px 3px #92919178;
cursor: pointer
}
.btn:hover{
box-shadow: 0px 2px 3px #92919178;

}
.btn:active{
box-shadow: 0px 1px 3px #92919178;;
}
.btn-md {
    width: 200px !important;
}

/* utils end here*/


.big-data-box .body table {
    padding: 0 65px;
}
.big-data-box .body table th {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 14px;

    color: #52BC00;
}
.big-data-box .body table.red th {
    color: #FA6541;
}
.big-data-box .body table.blue th {
    color: #2D9CDB;
}
.big-data-box .body table.yellow th {
    color: #FFC30E;
}
.big-data-box .body table td {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;

    color: #222233;
}
.form-box {
    border: 1px solid #E5E5E5;
    padding: 40px 60px;
}
.form-box h4 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    margin-bottom: 25px;
    color: #52BC00;
}
.form-box label {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;

    color: #828282;
}
.form-box input {
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 25px;
}
.b-t {
    border-top: 1px solid grey;
}

textarea.superide{
    position: absolute;
    width: 450px;
    height: 123px;


    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
}

/* check box util starts */
/* The container */
.container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.user-img-box {
    width: 422px;
    height: 345px;
}
.user-img-box img {
    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 100%;
}
.user-img-box-in img {
    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 100%;
}
i.formed {
    position: absolute;
    right: 60px;
    top: 5px;
    color: #828282;
}
/* Hide the browser's default checkbox */
.container .checkbox-styled {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #52BC00;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* check box util ends */

.box {
    background: #FFFFFF;
    border: 0.5px solid #828282;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box h5 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
}
.box .circle {
    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    margin-top: 28px;
    border-radius: 50%;

    overflow: hidden;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.box .circle img {
    max-width: 100%;
    height: auto;
}
.box .photo-upload-group button.action {
    background: linear-gradient(180deg, #93D802 0%, #04B648 100%), #222233;
    padding: 10px;
    border-radius: 100%;
    right: 140px;
    bottom: 125px;
    position: absolute;

}

.box button.main.action {
    margin-top: 42px;
    width: 200px
}
img.middle.action {
    margin-top: 150px;
    margin-bottom: 14px;
}
img.middle.action ~p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-align: center;

    color: #828282;
}

.pill {
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    padding: 25px;
    margin-bottom: 40px;
}
.pill h4 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    font-size: 16px;

    color: #52BC00;
}
.pill h5 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    font-size: 14px;
    color: #52BC00;
}
.pill p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;

    color: #2D9CDB;
}
.pill img.action {
    width: 32px;
    height: 32px;
    margin-bottom: 21px;
}
.textarea-styled {
    height: 153px !important;

    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 25px;
}
input.loan-form-styled {
    height: 27px;

    border: 1px solid #C3C3C3;
    box-sizing: border-box;
    border-radius: 25px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
    padding: 8px 16px;
    margin-bottom: 21px;
    color: #828282;
}
.btn-loan-form-dropdown {
    width: 176px;
    height: 27px;
    background: #ffffff;
    border: 1px solid #C3C3C3;
    box-sizing: border-box;
    border-radius: 25px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
    padding: 6px;
    color: #828282;
}
.x-ha {
    position : absolute;
    right: -5px;
    top: 0px;
}
.x-ha-1 {
    position: absolute;
    right: -5px;
    top: 55px;
}
/* slider util starts  */
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    background: #ECECEC;
    border-radius: 10px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #70E516;
    cursor: pointer;
    border-radius: 100%
}

.slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background: #70E516;
    cursor: pointer;
    border-radius: 100%
}
/* slider util ends  */


.listing-box {
    background: #FFFFFF;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-bottom: 55px;
    width: 100%;
    height: 256px;
    margin-bottom: 40px;
}
.listing-box img.plus {
    position: absolute;
    right: 150px;
    top: 11px;
}
.listing-box h5 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align:center;
    color: #828282;
}
.listing-box p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;
    text-align:center;
    color: #828282;
}
label.badge {
    background: #52BC00;
    border-radius: 10px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 12px;
    height: 20px;

    color: #FFFFFF;
    padding: 2px 5px 0px 5px;
    text-align: center;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #52bc0099;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #52BC00;
}

.loan-box table tr:last-child td {
    padding-bottom: 0px;
}


/*  START NAVIGATION STYLE  */
li.nav-item{
    padding: 20px;
    display: flex;


  }
  li.nav-item .nav-link{
      text-transform: capitalize;
      color: #fff;
      font-size: 14px;
      text-transform: capitalize;
      line-height: 19px;
      font-weight: 700;
  }
  li.nav-item.active{
      background-color:#52BC00;
  }

  ul.navbar-nav{
      width: 100%;
      flex-direction: column;
      justify-content:space-between;
      height: 80vh;
  }
  .home-sidebar {
      padding: 0px;
      margin: 0px;
  }
  .dashboard-header{
      background: #fff;
      box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.12);
      padding: 10px 20px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 80px;
      z-index: 100;
  }
.dashboard-header .navbar{
    padding: 5px 20px;
}
.dashboard-header .navbar-brand img {
    height: 35px;
    width: auto;
}
.dashboard-header a {
    color: #222233;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 1px;
    text-decoration: none;
}

  .admin-dashboard .layout {
      height: 90vh;
  }

  .admin-dashboard .sidebar{
    padding: 20px 0px 0px;
    background-color: #222233;
    width: 280px;
    height: calc(100% - 80px);
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 110;
  }
.admin-dashboard .sidebar .navbar {
    padding: 10px;
}
.admin-dashboard .sidebar .navbar li.nav-item {
    padding: 0px 20px 0px 80px;
    line-height: 40px;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
.admin-dashboard .sidebar .navbar li.nav-item img {
    width: auto;
    height: 40px;
    position: absolute;
    top: 0;
    left: 40px;

}
.admin-dashboard .sidebar .navbar li.nav-item a {
    line-height: 40px;
    display: inline-block;
    margin-left: 20px;
    padding: 0;
    font-size: 12px !important;
}

  .admin-dashboard .layout > .col-md-10{
      flex: 0 0 84%;
      max-width: 84%;
      padding: 0px;
      overflow-y:auto;
  }



  .right-content{
      padding: 85px 40px 30px 325px;
  }

/*  END NAVIGATION STYLE  */

/* BUTTON STYLE  */
  .btn-styled {
    background: linear-gradient(180deg, #93D802 0%, #04B648 100%);
    box-shadow: 2px 4px 6px rgba(189, 189, 189, 0.5);
    border-radius: 25px;
    border: none;
    padding: 7px 36px;
    text-align: center;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    color: #FFFFFF;
}
.sidebar{
  height:800px !important;
}

.btn-back-to-top.back-to-top-is-visible {
    background: linear-gradient(180deg, #93D802 0%, #04B648 100%);
    box-shadow: 2px 4px 6px rgba(189, 189, 189, 0.5);
}


/* PAGE HEADER STYLE */

.page-header {
    padding: 0 30px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 40px 0px 20px;
}
.page-header-right {
    padding: 35px 10px 10px;
}
.page-header-title{
    font-size: 24px;
    line-height:  33px;
    font-weight: 300;
  }
.page-header p {
    margin-bottom: 25px !important;
}
.page-header .page-ln {
    margin-top: 55px !important;
    font-size: 14px;
    line-height: 1;
}
.page-header .page-ln a {
    font-weight: bold;
    text-decoration: none !important;
}
.page-header .page-ln a:hover {
    color: inherit;
    text-decoration: underline !important;
}

  @media only screen and (max-width: 1199px) {
    .dashboard-header{
      height: auto;
    }
    .admin-dashboard .layout{
        flex-direction: column;
        height: auto;
    }

       .admin-dashboard .layout > .col-md-10,  .admin-dashboard .layout> .col-md-2{
            flex: 0 0 100%;
            max-width: 100%;
        }
        .page-header-title{
          font-size: 18px;

        }
    
}

.sub-title {
    text-align: center;
    color: #52BC00;
    font-size: 18px;
}

.sub-title b {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FEFEFE;
}

.sub-title hr {
    margin: -24px 0 0;
}

/*Loan Box*/
.loan-card {
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 40px 0 30px !important;
}
.loan-card.left {
    margin-right: 20px !important;
}
.loan-card.right {
    margin-left: 20px !important;
}
.loan-card.recent-loan {
    min-height: 250px;
}
.loan-card .loan-text {
    position: relative;
    padding-right: 30px !important;
}
.loan-card.recent-loan .loan-text {
    padding: 30px 20px;
    min-height: 250px;
    text-align: left;
    font-size: 18px;
    display: block;
}
.loan-card.recent-loan .loan-text div {
    margin-bottom: 10px;
}
.loan-card.recent-loan .brief-notif {
    padding: 30px !important;
    cursor: pointer;
    font-size: 13px;
    line-height: 1.4;
}
.loan-card.recent-loan .brief-notif ul {
        padding-inline-start: 10px;
}
.loan-card.recent-loan .brief-notif li {
    list-style-image: url("../images/list-icon.png");
    padding-top: 5px;
    margin-bottom: 5px;
}
.loan-card.recent-loan .loan-text b {
    display: inline-block;
    width: 180px;
}
.loan-card .loan-text img {
    position: absolute;
    top: -15px;
    right: -10px;
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    width: 90px;
    height: 90px;
}
.loan-card .box-fab img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.loan-box {
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 40px 0 30px !important;
}
.loan-box .main-img {
    width: 100%;
}
.loan-box table  {
    margin: 30px;
}
.loan-box table th {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    padding-bottom: 16px;

}
.loan-box table td {
    padding-bottom: 14px;
    font-size: 14px;
    line-height: 19px;
}
.loan-box table {
    margin-bottom: 0;
}
.loan-box .box-action {
    position: absolute;
    bottom: 20px;
    right: 40px;
}
.loan-box .box-action p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;

    color: #222233;
    text-align: center;
    position: relative;
    right: 12px;
}

.btn{
    font-size: 12px;
}

