li.nav-item{
    padding: 10px;
    display: flex;
    margin: 10px 0px;


  }
  li.nav-item .nav-link{
      text-transform: uppercase;
      color: #fff;
      font-size: 14px;

      line-height: 19px;
      font-weight: 700;

  }
  li.nav-item.active{
      background-color:#52BC00;
      border-radius: 10px;
  }

  ul.navbar-nav{
      width: 100%;
      flex-direction: column;
      justify-content:space-between;
      height: 80vh;
  }
  .home-sidebar {
      padding: 0px;
      margin: 0px;
  }
  .dashboard-header{
      background: #fff;
      box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.12);
      padding: 20px 0px;
      height: 10vh;
  }
  .admin-dashboard .layout {
      height: 90vh;
  }
  .admin-dashboard .layout > .col-md-2{
      flex: 0 0 16%;
      max-width: 16%;
      padding-right: 0px;
      background-color: #222233;

  }
  .admin-dashboard .layout > .col-md-10{
              flex: 0 0 84%;
              max-width: 84%;
              padding: 0px;
              overflow:scroll;
  }


  @media only screen and (max-width: 1199px) {
      .dashboard-header{
          height: auto;
      }
      .admin-dashboard .layout{
          flex-direction: column;
          height: auto;
      }

         .admin-dashboard .layout > .col-md-10,  .admin-dashboard .layout> .col-md-2{
              flex: 0 0 100%;
              max-width: 100%;
          }
          .layout nav.navbar{
            padding: 0px;
            height: 90vh;
        }

  }
  .right-content{
      min-height: 90vh;
  }
