.ticket-table thead th {
  text-transform: uppercase;
  color: #52BC00;
}

.ticket-table {
  margin-top: 50px;
  background-color: #fff;
  border-radius: 5px;
  border: .8px solid #d8d8d8
}

.ticket-table td {
  font-weight: 400;
  font-size: 16px;
  padding: 15px;
}

.marked {
  background: rgba(82, 188, 0, 0.1);
  border: 1px solid #52BC00;
  color: #000;
  text-transform: uppercase;
  box-shadow: none;
  font-size: 14px;
  padding: 10px 30px;
}

.view {
  background: #fff;
  border: 1px solid #000;
  color: #000;
  text-transform: uppercase;
  box-shadow: none;
  font-size: 14px;
  padding: 10px 30px;
}
