
<div class="container">
  <div onclick="history.back()" class="navigation-back type-2 mt-5">
    <i  class="fa fa-arrow-left"></i>
    <h2>
      MARKET PLACE
    </h2>
  </div>

  <div class="form-box">
    <h2 class="form-box-header">
      MARKET PLACE DETAILS
    </h2>
    <div class="row mb-5">
      <div class="col-md-8">
        <div class="table-responsive">
          <table class="table">

            <tbody>
              <tr>
                <td>COMPANY</td>
                <th>{{listing.company}}</th>
              </tr>
              <tr>
                <td>DESCRIPTION</td>
                <th>{{listing.description}}</th>
              </tr>
              <tr>
                <td>DATE CREATED:</td>
                <th>{{listing.date_created | amDateFormat:'LL'}}</th>
              </tr>
                          <!--<tr>
                        <td>LOAN TAKEN:</td>
                        <th>4</th>
                      <tr>-->
              <tr>
                <td>CREATOR:</td>
                <th>{{listing.name}}</th>
              </tr>
                              <!--<tr>
                        <td>LAST LOGIN:</td>
                        <th>31/01/2018</th>
                      <tr>-->
              <tr>
                <td>STATUS:</td>
                <th class="text-green">
                  <label title="Active" for="" *ngIf="listing.listingState == '0' ">Active <img src="../assets/fundal/admin/if_tick_green_619543.png" /></label>
                  <label title="Rejected" for="" *ngIf="listing.listingState == '1'"> Rejected<img src="../assets/fundal/admin/if_close_red_619539.png" /></label>
                  <label title="Suspended" for="" *ngIf="listing.listingState == '2'">Suspended<img src="../assets/fundal/admin/barred.png" /></label>

                </th>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="col-md-4" *ngIf="canApproveListing">
        <div class="user-img-box d-flex flex-column justify-content-center align-items-center">
          <img src="../assets/fundal/admin/Profile (3) (3).png" class="img-center mb-4" />
          <button (click)="approve()" class="btn btn-outline text-red img-center border-red px-28 mb-3">
                    APPROVE
                  </button>
          <button (click)="reject()" class="btn btn-outline text-red img-center border-red  mb-3">
                    REJECT
                  </button>
          <!-- <button class="btn btn-outline text-red img-center border-red">
                    DELETE USER
                  </button> -->
        </div>
      </div>

    </div>
    <div class="row mt-5">
      <div class="col-md-12 pr-5 mt-5">

        <!-- <button class="btn btn-styled btn-md pull-right">
                  Update
                </button> -->
      </div>
    </div>
  </div>

</div>
