<div class="container">
  <div onclick="history.back()" class="navigation-back type-2 mt-5">
    <i class="fa fa-arrow-left"></i>
    <h2>

      BACK
    </h2>
  </div>
  <div class="page-header d-flex align-items-center b-r border-red">
    <img class="img-fluid" width="10%" src="../assets/fundal/admin/com/Icons-05-1.png">
    <h2 class="page-header-title">
    Market Place
    </h2>
  </div>
  <div class="row" *ngIf="all">
    <div class="col-md-6">
      <div class="page-header-listing">


        <h2>
          Active Market Place: {{active}}
        </h2>



      </div>
    </div>
    <div class="col-md-6">
      <div class="page-header-listing">

        <h2>
          Total Number of Market Place: {{total}}
        </h2>


      </div>

    </div>
  </div>

  <div class="row">


    <div class="col-md-12">
      <div class="big-data-box">
        <div class="head">
          <div class="row">
            <div class="col-md-4">
              <h3>User List</h3>
              <i class="fa fa-arrow-left"></i>
              <i class="fa fa-arrow-right visible-xs pull-right"></i>
            </div>
            <div class="col-md-5">
              <div class="img-center fit-width">
                <p class="">SORT BY:</p>
                <div class="dropdown styled display-inline mx-3">
                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Status
                            <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Status</a></li>
                    <li class="active"><a href="#">Loan Type</a></li>
                    <li><a href="#">Duration</a></li>
                  </ul>
                </div>
                <!-- <p class=""> &lt; 1 - 6 &gt; of 6 pages</p> -->
              </div>
              <div class="form-group">
                <input class="form-control">
                <i class="fa fa-search"> </i>
              </div>

            </div>
            <div class="col-md-3 hidden-xs pt-30">
              <i class="fa fa-arrow-right pull-right"></i>
            </div>
          </div>
        </div>

        <div class="row my-4 " *ngFor="let list of listings; let i = index">
          <div class="col-md-1"></div>
          <div class="col-md-10 border">
              <div class="row mcard">
                  <div class="col-md-5 img" style="display:inline-block" [ngStyle]="{ 'background-image': 'url(' + setImage(list.advert_image) + ')'}"></div>
                  <div class="col-md-6 details-holder" style="display:inline-block">
                      <h4 class="title">{{list.company}}</h4>
                      <div class="row">
                          <div class="col-md-4"><span class="title">Name:</span></div>
                          <div class="col-md-8"><span class="title">{{list.name}}</span></div>

                          <div class="col-md-4"><span class="title">Date Created:</span></div>
                          <div class="col-md-8"><span class="title">{{list.date_created | amDateFormat:'LL'}}</span></div>
                          
                          <div class="col-md-4"><span class="title">Contact Infomation:</span></div>
                          <div class="col-md-8" >
                              <span class="title">{{list.contact_information}}</span>
                          </div>
                          
                          <div class="col-md-4" *ngIf="all"><span class="title">Status:</span></div>
                          <div class="col-md-8" *ngIf="all">
                              <span class="title">
                                <label *ngIf="list.approved == 0">Pending</label>
                                <label *ngIf="list.approved == 1">Rejected</label>
                                <label *ngIf="list.approved == 2">Accepted</label>
                              </span>
                            </div>

                      </div>
                      <div class="row">
                          <div class="col-md-12" align="right">
                            <button routerLink="/listing/{{list._id}}" class="btn btn-outline text-red border-red">
                              VIEW
                            </button>
                          </div>
                          <br><br>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        <div class="table-responsive">
          <table *ngIf="false" class="table red">
            <thead>
              <tr>
                <th>S/N</th>
                <th>COMPANY</th>
                <th>NAME</th>
                <th>DATE CREATED</th>
                <!--<th>CREATED BY</th>-->
                <th *ngIf="!all">STATUS</th>
                <!--<th>STATE</th>-->
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let l of  []; let i = index">
                <td>{{l | json}}</td>
                <td>{{l.company}}</td>
                <td>{{l.name}}</td>
                <td>{{l.date_created | amDateFormat:'LL'}}</td>
                <!--<td>ADMIN 001</td>-->
                <td *ngIf="!all">
                  <label *ngIf="l.approved == 0">Pending</label>
                  <label *ngIf="l.approved == 1">Rejected</label>
                  <label *ngIf="l.approved == 2">Accepted</label>

                </td>
                <!--<td>-->
                <!--<label title="Active" for="" *ngIf="l.listingState == 0 && l.approved == 2"><img src="../assets/fundal/admin/if_tick_green_619543.png" /></label>-->
                <!--<label title="Rejected" for="" *ngIf="l.listingState == 1 && l.approved == 2"><img src="../assets/fundal/admin/if_close_red_619539.png" /></label>-->
                <!--<label title="Suspended" for="" *ngIf="l.listingState == 2 && l.approved == 2"><img src="../assets/fundal/admin/barred.png" /></label>-->
                <!--<span> <img src="../assets/fundal/admin/if_tick_green_619543.png" /></span>-->
                <!--</td>-->
                <td>
                  <button routerLink="/listing/{{l._id}}" class="btn btn-outline text-red border-red">
                            VIEW
                          </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>