<div class="container">
  <div class="navigation-back type-2">
    <i routerLink="/u/dashboard" class="fa fa-arrow-left"></i>
    <h2 routerLink="/u/dashboard">

      HOME
    </h2>
  </div>
  <!--<div class="page-header d-flex align-items-center b-r border-blue">
    <img class="img-fluid" width="10%" src="../assets/fundal/loan-desc/Icons-01.png">
    <h2 class="page-header-title text-transform-uppercase">
     Save to borrow
    </h2>
  </div>-->
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <img src="../assets/fundal/loan-desc/Pay-Loan.png" width="100%" class="img-fluid">
      </div>
      <div class="col-md-8 page-header-content">
        <h2 class="page-header-title">
          Save to borrow

        </h2>
        <hr>
        <div *ngIf="!canShow">
          <p>Save to borrow is a feature that allows you to borrow upto 50% of your savings from savefunds.</p>
          <p>You need to save consecutive for 4 months to get this feature enabled on your account </p>
        <p>An account on  savefunds app, dont have one? <a href="http://saveall.naterbase.com/register">Register on  savefunds</a></p>
         <a name="" id="" class="btn btn-outline-primary border-blue text-blue text-uppercase mt-3 pull-right" role="button"
        (click)="setUpSaveToBorrow()"
        >Setup Your Account</a>
        </div>
        <div *ngIf="canShow">
          <div class="form-group">
            <label for="">Savefunds Username</label>
           <input class="form-control pl-4" type="text"  [(ngModel)]="saveall.username" name="total">
            
          </div>
          <div class="form-group">
            <label for="">Savefunds Password</label>
           <input class="form-control pl-4" type="password"  [(ngModel)]="saveall.password" name="password">
            
          </div>
          <button (click)="linkAccount()" class="margin-btm-20 btn btn-my-btn">Link Account</button>
          <!--<div class="form-group"></div>-->
        </div>
        <!--<h2 class="page-header-title text-transform-uppercase">
      Requirement
    </h2>-->
    <!--<ul class="colored-list">-->
      <!--<li class="greenish"></li>

    </ul>-->
        <!--<ul class="colored-list" *ngIf="loan.requirements.length > 0">
                  <li class="blueish" *ngFor="let requirement of loan.requirements">{{requirement}}</li>
                </ul>-->
       

      </div>
    </div>

  </div>
  <!--<div class="requirement b-r border-blue">

    <h2 class="page-header-title text-transform-uppercase">
      Requirements
    </h2>
    <ul class="colored-list">
      <li *ngFor="let requirement of loan.requirements" class="greenish">{{requirement}}</li>

    </ul>

  </div>-->

  <!--<button class="btn img-center btn-styled btn-md pull-right text-uppercase" name="button"> Apply for Loan <i class="fa fa-arrow-right"></i> </button>-->
</div>

