<div class="container">
  <div class="navigation-back type-2 mt-5">
    <i class="fa fa-arrow-left" routerLink="/u/dashboard"></i>
    <h2 routerLink="/u/dashboard">

      BACK
    </h2>
  </div>
  <div class="mcard-header">
    <img class="img-fluid" width="10%" src="../assets/fundal/nav/settings.png">
    <span>Settings</span>
    <!--<button class="btn pull-right btn-styled btn-md mt-4 btn-loan"> Apply for Loan<i class="fa fa-arrow"></i> </button>-->

    <!--<h2 class="page-header-title text-transform-uppercase">
                            JOIN COOPERATIVES
                        </h2>-->
    <!--<div class="form-group">
                            <input class="form-control">
                            <i class="fa fa-search"> </i>
                        </div>-->
  </div>
  <br>
  <!--<div class="container margin-top-20">
    <div class="top-head top-title mb-4 p-5 ">
      <div class="container-fluid p-0 settings-container">
        <div class="row">
          <div class="col-sm-6">
            <div class="settings-title mb-4">
              <h5>Profile Settings</h5>
            </div>
            <form>
              <div class="form-group">
                <label for="fnam">First Name:</label>
                <input name="fnam" type="text" [(ngModel)]="user.firstName" class="form-control" id="fnam">
              </div>
              <div class="form-group">
                <label for="lnam">Last Name:</label>
                <input name="lnam" type="text" [(ngModel)]="user.lastName" class="form-control" id="lnam">
              </div>
              <div class="form-group">
                <label for="num">Phone Number:</label>
                <input name="num" type="text" [(ngModel)]="user.phone" class="form-control" id="num">
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>-->
  <div class="container margin-top-20">
    <div class="top-head top-title mb-4 p-5 ">
      <div class="container-fluid p-0 settings-container">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-sm-6">
            <div class="settings-title mb-4">
              <h5>Account Settings</h5>
            </div>
            <form>
              <div class="form-group">
                <label for="cem">Current Email Address:</label>
                <input name="email" [(ngModel)]="user.currentEmail" type="email" class="form-control" id="cem">
              </div>
              <div class="form-group">
                <label for="chm">Change Email Address:</label>
                <input name="nemail" [(ngModel)]="user.newEmail" type="email" class="form-control" id="chm">
              </div>
              <div class="form-inline d-flex justify-content-between">
                <div>
                  <div class="mb-2 current-password-setup">Current Password</div>
                  <input name="password" [(ngModel)]="user.currentPassword" type="password" class="form-control mb-2 mr-sm-2" id="email">
                </div>
                <div>
                  <div class="mb-2 change-password-setup">Change Password</div>
                  <input name="newPassword" type="password" [(ngModel)]="user.newPassword" class="form-control mb-2 mr-sm-2" id="email">
                </div>

              </div>
            </form>
            <!--<div class="row" align="center">-->
              <div class="col-md-12" align="center">
                <button *ngIf="isLoading" style="background:#ccc" class="btn  btn-styled btn-md mt-4 btn-loan"> Updating <i class="fa fa-spin fa-spinner"></i> </button>
                <button (click)="updateProfile()" *ngIf="!isLoading" class="btn  btn-styled btn-md mt-4 btn-loan"> Update<i class="fa fa-arrow"></i> </button>
              <!--</div>-->

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
