.big-data-box{
    padding: 0px;
}
.bg-shade-1{
    background-color: #00BFBF;
    height: 100%;
    width: 100%;
}

.loan-list-card {
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	border-radius: 5px;
	overflow: hidden;
	font-size: 14px;
}

.loan-list-img {
	width: 150px;
	height: 170px;
	background-color: red;
}

.loan-list-img img {
	display: block;
	margin: 30px auto;
	height: 110px;
	width: auto;
}

.loan-list-card .top-pad {
	padding: 20px 0;
}

.loan-list-card .details {
	line-height: 2;
}

.loan-list-card .details b {
	display: inline-block;
	width: 150px;
	font-weight: 500;
}