      <div class="admin-dashboard">
        <div class="content-main ml-10">
          <div class="row layout">
            <div class="col-sm-10">
                        <div class="margin-top-20">
                            <div class="container-fluid margin-top-20 info-box">
                                <div class="container margin-top-20 info-box">
                                    <h6 class="margin-btm-20 margin-top-20">Profile Details</h6>
                                    <div class="row margin-top-20">
                                        <div class="col-sm-4 loan-description">
                                            <div>
                                                <label>First Name  </label>
                                            </div>
                                            <div>
                                                <label>Last Name </label>
                                            </div>
                                            <div>
                                                <label>Phone Number </label>
                                            </div>
                                            <div>
                                                <label>Email Address </label>
                                            </div>
                                            <div>
                                                <label>Date Created </label>
                                            </div>
                                            <div>
                                                <label>BVN. </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 loan-description">
                                            <div>
                                                <label> {{user.firstName}}  </label>
                                            </div>
                                            <div>
                                                <label>{{user.lastName}} </label>
                                            </div>
                                            <div>
                                                <label> {{user.phone}} </label>
                                            </div>
                                            <div>
                                                <label>{{user.email}}</label>
                                            </div>
                                            <div>
                                                <label>0/0/0 0:0:0</label>
                                            </div>
                                            <div>
                                                <label>{{user.bvn}} </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 text-center">
                                            <div class="margin-btm-20 margin-top-20">
                                              <img width="150" height="150" [src]="'http://test.natterbase.com:3001/'+ user.image" alt="">
                                                <!-- <i class="fa fa-user fa-4x bordered"></i> -->
                                            </div>

                                            <div class="due-action margin-btm-20">
                                                <button *ngIf="user.enabled" (click)="disable()" type="button" class="btn btn-outline-danger">SUSPEND</button>
                                            </div>
                                            <div class="due-action margin-btm-20">
                                                <button *ngIf="!user.enabled" (click)="enable()" type="button" class="btn btn-outline-danger">Lift Suspension</button>
                                            </div>
                                        </div>
                                    </div>
                                 </div>

                                   <div class="row margin-top-20 ml-5 margin-btm-20 loan-appy-details">
                                       <div class="col-sm-6 ">
                                           <h6>Form Of Identification : {{user.identificationType}}</h6>
                                           <div class="id-content">
                                               <img width="100%" height="100%" [src]="'http://test.natterbase.com:3001/'+ user.identificationImage" alt="">
                                           </div>
                                       </div>
                                       <div class="col-sm-6">
                                           <h6>Proof Of Employment : Work Id </h6>
                                           <div class="id-content">
                                               <!-- <img [src]="'http://test.natterbase.com:3001/'+ r.foid" alt=""> -->
                                           </div>
                                       </div>
                                 </div>

                                <div class="container margin-top-20 info-box">
                                    <h6 class="margin-btm-20 margin-top-20">Summary</h6>
                                    <div class="row margin-top-20">
                                        <div class="col-sm-4 loan-description">
                                            <div>
                                                <label>Total Amount Owed  </label>
                                            </div>
                                            <div>
                                                <label>No. Of Loans Taken </label>
                                            </div>
                                            <div>
                                                <label>Listing Created </label>
                                            </div>
                                            <!-- <div>
                                                <label>Date Of Last Disbursal </label>
                                            </div>
                                            <div>
                                                <label>Last Login Date</label>
                                            </div> -->
                                            <!-- <div>
                                                <label>Date Suspended</label>
                                            </div> -->
                                            <!-- <div>
                                                <label>Comment On Suspension </label>
                                            </div> -->
                                        </div>
                                        <div class="col-sm-4 loan-description">
                                            <div>
                                                <label> {{owed | currency:'N'}}  </label>
                                            </div>
                                            <div>
                                                <label>{{taken.length}} </label>
                                            </div>
                                            <div>
                                                <label> {{user.listings || 0}} <button type="button" class="btn btn-outline-danger">VIEW</button></label>
                                            </div>
                                            <div>
                                                <label> </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 text-center">

                                        </div>
                                    </div>
                                 </div>
                                <div class="container margin-top-20 info-box">
                                    <h6 class="margin-btm-20 margin-top-20">Cooperatives</h6>
                                    <div class=" margin-top-20 table-responsive" *ngFor="let c of coop">
                                        <table class="table">
                                            <tr>
                                                <th>S/N</th>
                                                <th>NAME</th>
                                                <th>MEMBERSHIP</th>
                                                <th>DATE JOINED</th>
                                                <th></th>
                                            </tr>
                                            <tr *ngFor="let m of coop.members; let i = index">
                                                <td>{{i+1}}</td>
                                                <td>{{c.name}}</td>
                                                <td>{{m.type}}</td>
                                                <td>{{m.date_joined | date:'dd/MM/yy'}}</td>
                                                <td>
                                                    <button class="btn-outline-danger btn">VIEW</button>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>

                                </div>
                                <div class="container margin-top-20 info-box">
                                    <h6 class="margin-btm-20 margin-top-20">Women In Trade</h6>
                                    <div class=" margin-top-20 table-responsive" *ngFor="let w of w">
                                      {{w.name}}
                                        <table class="table">
                                            <tr>
                                                <th>S/N</th>
                                                <th>NAME</th>
                                                <th>MEMBERSHIP</th>
                                                <th>DATE JOINED</th>
                                                <th></th>
                                            </tr>
                                            <tr  *ngFor="let m of coop.members; let i = index">
                                                <td>{{i+1}}</td>
                                                <td>{{m.name}}</td>
                                                <td>{{m.type}}</td>
                                                <td>{{m.date_joined | date:'dd/MM/yy'}}</td>
                                                <td>
                                                    <button class="btn-outline-danger btn">VIEW</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                 </div>
                            </div>
                        </div>
                    </div>
              </div>
          </div>
      </div>
