<div class="container">

  <div class="row mt-5">

    <div class="col-md-8">
      <h6 class="approval-heading">Approval Manager</h6>
      <div class="row">

      </div>
      <div class="loan-summaries">
        <div class="row">
          <div class="col-md-4">
            <h6 class="approval-heading">Loan Summaries</h6>
          </div>
          <div class="col-md-8">
            <hr>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4 ">
            <div class=" summary-item bg-blue">
              <p class="text-uppercase">Total Amount Disbursed</p>
              <p class="text-bold text-center">{{disbursed | currency:'N'}}</p>
              <p routerLink="/loans/disbursed" class="text-right">View full</p>
            </div>

          </div>
          <div class="col-md-4">
            <div class=" summary-item bg-purple">
              <p class="text-uppercase">Total Payback Amount</p>
              <p class="text-bold text-center">{{payback | currency:'N'}}</p>
              <p class="text-right" routerLink="/loans/disbursed">View full</p>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class=" summary-item bg-green">
              <p class="text-uppercase">Total Interest</p>
              <p class="text-bold text-center">{{interest | currency:'N'}}</p>
              <p class="text-right" routerLink="/loans/disbursed">View full</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="notice-box">
        <h4>Important</h4>
        <div class="line"> </div>
        <ul class="colored-list">
          <li class="greenish">No Info</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mt-5">


    <div class="col-md-12">
      <div class="big-data-box">
        <div class="head">
          <div class="row">
            <div class="col-md-4">
              <h3>User List</h3>
              <i class="fa fa-arrow-left"></i>
              <i class="fa fa-arrow-right visible-xs pull-right"></i>
            </div>
            <div class="col-md-5">
              <div class="img-center fit-width">
                <!-- <p class="">SORT BY:</p>
                <div class="dropdown styled display-inline mx-3">
                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Status
                            <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Status</a></li>
                    <li class="active"><a href="#">Loan Type</a></li>
                    <li><a href="#">Duration</a></li>
                  </ul>
                </div>
                <p class=""> &lt; 1 - 6 &gt; of 6 pages</p> -->
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
              <div class="form-group">
                <input class="form-control" [(ngModel)]="firstName">
                <i class="fa fa-search"> </i>
              </div>

            </div>
            <div class="col-md-3 hidden-xs pt-30">
              <i class="fa fa-arrow-right pull-right"></i>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>S/N</th>
                <th>Basic Info</th>
                <th>Loan Type</th>
                <th>Amount Requested</th>
                <th>Level of Approval</th>
                <th>Payment Status</th>
                <th>Comments</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let l of loans | paginate:{itemsPerPage:10,currentPage:p} | loanFilter:firstName; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{l.user.firstName}} {{l.user.lastName}}</td>
                      <td>{{l.productName}}</td>
                      <td>{{l.amount |currency:'N'}}</td>
                      <td>
                          <span *ngIf="l.applicationState == '1' && !l.disbursed">Rejected</span>
                          <span *ngIf="l.applicationState == '2' && l.disbursed">Disbursed</span>
                          <span *ngIf="l.applicationState == '2' && !l.disbursed">Approved</span>
                      </td>
                      <td>
                          <span *ngIf="l.repaid && l.applicationState == '2' && l.disbursed">Repaid</span>
                          <span *ngIf="!l.repaid && l.applicationState == '2' && l.disbursed">Pending Payment</span>
                      </td>
                      <td>{{l.comments.length}}</td>
                    </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
