<div class="container">
  <div class="col-md-12 navigation-back">
    <span routerLink="/home">
     <img src="../assets/images/back-icon.png">
    <strong>HOME</strong>
    </span>
  </div>
  
    <div class="mcard-header">
        <img class="img-fluid" width="10%" src="../assets/fundal/admin/Profile (3) (1).png">
        <span>Request SME Loan</span>
        <!--<button (click)="applyLoan()" class="btn pull-right btn-styled btn-md mt-4 btn-loan"> Apply for Loan<i class="fa fa-arrow"></i> </button>-->

        <!--<h2 class="page-header-title text-transform-uppercase">
                            JOIN COOPERATIVES
                        </h2>-->
        <!--<div class="form-group">
                            <input class="form-control">
                            <i class="fa fa-search"> </i>
                        </div>-->
    </div>
    <div class="top-head top-title mb-4 p-5 ">
        <div class="container-fluid p-0  publicloan-container">
            <div class="row">
                <div class="col-sm-6">
                    <div class=" publicloan-title mb-5">
                        <h5> SME LOAN APPLICATION FORM DETAILS</h5>
                    </div>
                    <form class=" autoloan-form-details">
                        <label for="">Loan Name</label>
                        <input class="form-control pl-4" type="text" [(ngModel)]="sme.productName" name="name" value="Sme loan">
                        <br>
                        <label for="">Loan Amount</label>
                        <input class="form-control pl-4" type="amount" min="1" [(ngModel)]="sme.amount" name="amount"  >
                        <br>
                        <label for="">Loan Duration (In months)</label>
                        <input class="form-control pl-4" type="number" min="1" [(ngModel)]="sme.duration" name="duration"  >
                        <br>
                        <label for="">CAC Docs</label>
                        <input class="form-control pl-4" type="file" name="cac docs" (change)="select_cacdoc($event)"  >
                        <br>
                        <label for="">Bank Statement</label>
                        <input class="form-control pl-4" type="file" name="bank statement" (change)="onselect_bs($event)"  >
                        <br>
                        <label for="">Salary Earned</label>
                        <input class="form-control pl-4" type="number"  (click)="calc()" [(ngModel)]="sme.salaryEarned" name="salary"  >
                        <br>
                        <label for="">Company Name</label>
                        <input class="form-control pl-4" type="text" [(ngModel)]="sme.company" name="company"  >
                        <br>
                        <label for="">Company Registration Number</label>
                        <input class="form-control pl-4" type="text" read [(ngModel)]="sme.companyRegisterationNumber" name="reg"  >
                        <br>
                        <label for="">Monthly Re-Payment</label>
                        <input class="form-control pl-4" type="text" readonly [(ngModel)]="sme.monthly_repayments" name="repayment"  >
                        <br>
                        <label for="">Total Re-Payment</label>
                        <input class="form-control pl-4" type="text" readonly [(ngModel)]="sme.total_cost" name="total"  >
                        <br>
                        <label for="">Interest Rate</label>
                        <input class="form-control pl-4" type="text" readonly name=""  [(ngModel)]="sme.interest">
                        <br>
                        <button type="button"  *ngIf="!isRequesting" (click)="request()" name="button">Request Loan</button>
                        <button type="button"  *ngIf="isRequesting" name="button">Requesting</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>