<div class="container">

  <div class="row my-5">
    <div class="col-md-6">
      <div routerLink="/view-listings/0" class="activity-box">
        <img src="../assets/fundal/list/Icons-10.png" class="img-center">
        <h3>My Market Place</h3>
        <p class=" mt-2">View and Manage your market place</p>
      </div>
    </div>
    <div class="col-md-6">
      <div routerLink="/u/request-listing" class="activity-box ">
        <div class="img-group">
          <img src="../assets/fundal/list/Icons-10.png" class="img-center">
          <img src="../assets/fundal/admin/listing/+.png" class="img-center add">
        </div>
        <h3>Create an Ad Listing</h3>
        <p class=" mt-2">Create ads to get your brand exposed to our client base</p>
      </div>
    </div>
    <div class="col-md-6">
      <div routerLink="/view-listings/1" class="activity-box">
        <img src="../assets/fundal/list/Icons-10.png" class="img-center">
        <h3>VIew Market Place</h3>
        <p class=" mt-2">View ads from other vendors</p>
      </div>
    </div>



  </div>
</div>
