.img-group{
    position: relative;
}
.add{
    position: absolute;
    top:0px;
    left: 100px;
    height: 30px;
    width: 30px;
}
.activity-box h3{
    font-size: 24px;
    font-weight: 400;
    color: #828282
}
.activity-box p{
    font-weight: 300;
}