<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" style="cursor:pointer" role="presentation">
        <a routerLink="/customercare/open_tickets" routerLinkActive="active " [routerLinkActiveOptions]="{exact:true}" aria-controls="home" data-toggle="tab" class="nav-link text-center text-normal strong-600">Open Tickets</a>
    </li>
    <li class="nav-item" style="cursor:pointer" role="presentation">
        <a routerLink="/customercare/resolved_tickets" routerLinkActive="active " [routerLinkActiveOptions]="{exact:true}" aria-controls="profile" data-toggle="tab" class="nav-link text-center text-normal strong-600">Resolved Tickets</a>
    </li>
    
</ul>
