<div class="container">

  <div class="page-header align-items-center">
    <h2 class="page-header-title text-transform-uppercase">
      My Community
    </h2>
  </div>


  <div class="row">
    <div class="col-md-6">
      <div routerLink="/community/all/1" class="activity-box left">
        <img src="../assets/fundal/admin/com/Icons-05.png" class="img-center">
        <h3>My Cooperatives</h3>
        <p class=" mt-2">Select one of your cooperatives to apply for a loan</p>
      </div>
    </div>
    <!--<div class="col-md-6">
      <div routerLink="/coopratives/community" class="activity-box right">
       <div class="img-group">
          <img src="../assets/fundal/admin/com/Icons-05.png" class="img-center">
          <img src="../assets/fundal/admin/listing/+.png" class="img-center add" >
       </div>
        <h3>Create/Join a Cooperative</h3>
        <p class=" mt-2">Select one of your cooperatives to apply for a loan</p>
      </div>
    </div>-->
    <div class="col-md-6">
      <div routerLink="/community/all/2" class="activity-box left">
        <img src="../assets/fundal/admin/com/Icons-08.png" class="img-center">
        <h3>My Women in Trade</h3>
        <p class=" mt-2">Select one of your cooperatives to apply for a loan or join a cooperative</p>
      </div>
    </div>
    <!--<div class="col-md-6">
      <div routerLink="/coopratives/women in trade" class="activity-box right">
        <div class="img-group">
            <img src="../assets/fundal/admin/com/Icons-08.png" class="img-center">
            <img src="../assets/fundal/admin/listing/+.png" class="img-center add" >
         </div>
        <h3>Create/Join Women in Trade</h3>
        <p class=" mt-2">You must belong to a cooperative to apply for cooperative loans</p>
      </div>
    </div>-->
  </div>
</div>
