.page-header {
    text-align: center;
    padding: 40px 0;
}
.page-header h2 {
    margin: 0;
}

.img-group{
    position: relative;
}
.add{
    position: absolute;
    top:0px;
    left: 100px;
    height: 30px;
    width: 30px;
}
.activity-box {
    margin-top: 25px;
}
.activity-box.left {
    margin-right: 25px;
}
.activity-box.right {
    margin-left: 25px;
}
.activity-box h3{
    font-size: 24px;
    font-weight: 400;
    color: #828282
}
.activity-box p{
    font-weight: 300;
}