.page-header{
    padding: 0px;
}
.page-header-content{
    padding: 30px 50px 30px 30px;
}
.page-header p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 40px;
}
.page-ln{
    margin-top: 70px;
}
.page-ln h6{
    font-weight: 600;
    margin-bottom:0px;
    font-size: 14px;

}
.page-ln a{
    color: #52BC00;
    font-size: 14px;

}

ul.colored-list li{
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}
.requirement, .loan-calculator {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin-bottom: 40px 0px;
}
.range-amount p{
    font-size: 14px;
    color: #828282;
    font-weight: 300;
}
.range-text label, .calculate label{
    font-size: 14px;
    color: #828282;
    font-weight: 600;
}
.range-text input {
    max-width: 150px;
    border-radius: 50px;
}
.calculate input{
    border-radius: 50px;
}
.slider-range, .slider-range2 {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 3px; /* Specified height */
    background: linear-gradient(180deg, #93D802 0%, #04B648 100%); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider-range::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #F2994A; /* Green background */
    cursor: pointer;
    border-radius: 30px; /* Cursor on hover */
}

.slider-range::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 30px;
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider-range2::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #00BFBF; /* Green background */
    cursor: pointer;
    border-radius: 30px; /* Cursor on hover */
}

.slider-range2::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #00BFBF; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 30px;
}
