<!--The content below is only a placeholder and can be replaced.-->
<div class="admin-dashboard">
    <div class="dashboard-header">
        <nav class="navbar navbar-expand-sm ">
            <div class="row nav-header align-items-center">
                <div class="col-sm-2">
                    <a class="navbar-brand" href="#">
                        <img src="../assets/images/getfunds.png" class="img-fluid" alt="Fundal" width="100%">
                    </a>
                </div>
                <div class="col-sm-10">

                    <a class="nav-link text-center" href="#">

                    </a>

                </div>
            </div>
        </nav>
    </div>
    <div class="content-main" *ngIf="!localstorage.getItem('token')">
        <div class="row layout">
            <div class="sidebar">
                <admin-nav *ngIf="localstorage.getItem('role') == '1'"></admin-nav>
                <user-nav *ngIf="localstorage.getItem('role') == '5'"></user-nav>
                <cc-nav *ngIf="localstorage.getItem('role') == '4'"></cc-nav>
                <approval-nav *ngIf="localstorage.getItem('role') == '2'"></approval-nav>
                <disburse-nav *ngIf="localstorage.getItem('role') == '3'"></disburse-nav>

                <user-nav></user-nav>
            </div>
            <div class="col-md-12 right-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div *ngIf="localstorage.getItem('token')">
        <router-outlet></router-outlet>

    </div>
    <ng4-loading-spinner> </ng4-loading-spinner>
  </div>
