  <div class="card card-centered custom-card-2">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <p class="font-18 strong-600">Loan Summary </p>
                    </div>
                    <div class="col-md-10">
                      <table class="table font-16">

                        <tbody>
                          <tr>
                            <td>Number of Loans Taken:</td>
                            <td>25</td>
                            <td>Number of Repaid Loans:</td>
                            <td>15</td>
                          </tr>
                          <tr>
                            <td>Number of Active Loans:</td>
                            <td>10</td>
                            <td>Total Amount Owed:</td>
                            <td>N1,200,000</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                    <div class="col-md-2">
                      <div class="progress green">
                        <span class="progress-left">
                          <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                          <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">50%</div>
                      </div>
                      <p class="text-center mt-2">Repaid Loans</p>
                    </div>
                  </div>

                </div>
              </div>