
        <div class="container">
          <div class="col-md-12 navigation-back">
            <span routerLink="/home">
             <img src="../assets/images/back-icon.png">
            <strong>HOME</strong>
            </span>
          </div>
          <div class="mcard-header">
            <img class="img-fluid" width="10%" src="../assets/fundal/admin/Profile (3) (1).png">
            <span>Join Requests</span>
            <!--<button class="btn pull-right btn-styled btn-md mt-4 btn-loan"> Apply for Loan<i class="fa fa-arrow"></i> </button>-->

            <!--<h2 class="page-header-title text-transform-uppercase">
                            JOIN COOPERATIVES
                        </h2>-->
            <!--<div class="form-group">
                            <input class="form-control">
                            <i class="fa fa-search"> </i>
                        </div>-->
          </div>
          <br>
          <div class="col-md-12">
            <!--<div  class="card pill text-black pb-24"  >-->
            <div class="base-card row " style="padding:20px" *ngFor="let profile of community">
              <div align="right" class="col-md-4">
                <div align="center" class="img-round pull-right" style="width:160px; height:160px;"><img class="img img-circle"
                    style="height:100%;width:100%" [src]="setProfileImage(profile.image)"></div>
              </div>
              <div class="col-md-3 pt-30">
                <p> First Name: </p>
                <p> Last Name: </p>
                <p> Email Address: </p>
                <p> Phone Number: </p>
              </div>
              <div class="col-md-3 pt-30">
                <p> {{profile.firstName}} </p>
                <p> {{profile.lastName}} </p>
                <p> {{profile.email}} </p>
                <p> {{profile.phone}} </p>
              </div>
              <div class="col-md-12">
                <button (click)="viewProfile(profile._id)" class="btn-view" style="float:right;width:auto">
                  VIEW REQUEST
                </button>
              </div>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
            </div>
          </div>
        </div>


