
<div class="container">
  <div class="page-header">
    <h2 class="page-header-title text-center">
      Welcome to Getfunds!
    </h2>
  </div>
  <div class="row">
    <div class="col-md-12" align="center">
      <div class="row" align="center">
        <div class="col-md-4">
          <div routerLink="/admin/user-management/user" class="activity-box b-b border-red">
            <img src="../assets/fundal/admin/Profile (3).png" class="img-center">
            <p class="title">USERS</p>
            <p class="title-inner">USERS: {{stats.users}}</p>
          </div>
        </div>
        <div class="col-md-4">
          <div routerLink="/admin/user-management/am" class="activity-box b-b border-blue">
            <img src="../assets/fundal/admin/Icon set-05.png" class="img-center">
            <p class="title">APPROVAL MANAGERS</p>
            <p class="title-inner">MANAGERS: {{stats.apprmanager}}</p>
          </div>
        </div>
        <div class="col-md-4">
          <div routerLink="/admin/user-management/cc" class="activity-box b-b border-yellow">
            <img src="../assets/fundal/admin/Help Cemter Icon.png" class="img-center">
            <p class="title">CUSTOMER CARE REPRESENTATIVES</p>
            <p class="title-inner">AGENTS: {{stats.customercare}}</p>
          </div>
        </div>
        <div class="col-md-4">
          <div routerLink="/requested_loans" class="activity-box b-b border-greened ">
            <img src="../assets/fundal/admin/Icons-06.png" class="img-center">
            <p  class="title">LOANS REQUESTS: {{stats.loans}}</p>
          </div>
        </div>
        <div class="col-md-4">
          <div routerLink="/admin/user-management/dm" class="activity-box b-b border-green">
            <img src="../assets/fundal/admin/Mini Dashboard-04.png" class="img-center">
            <p class="title">DISBURSEMENT MANAGERS</p>
            <p class="title-inner">MANAGERS: {{stats.disbmanager}}</p>
          </div>
        </div>
        <!-- <div class="col-md-4">
          <div routerLink="/admin/create-loan" class="activity-box b-b border-green">
            <img src="../assets/fundal/admin/Mini Dashboard-04.png" class="img-center">

            <p class="title">CREATE LOAN</p>
            <p class="title-inner">LOANS: {{stats.loans}}</p>
          </div>
        </div> -->
      </div>
    </div>

    <div class="col-md-4">
      <!-- <div class="notice-box">
                <h4>Important</h4>
                <div class="line"> </div>
                <ul class="colored-list">
                  <li class="greenish">You have a due payment of N12,250 on the 28th of May </li>
                  <li class="blueish">Customer Care has responded to your application. Please review </li>
                  <li class="greenish">Getfunds will be updating in 24 hours</li>
                </ul>
              </div> -->
    </div>
  </div>
</div>
