<div class="container">
  <div class="navigation-back type-2 mt-5">
    <i class="fa fa-arrow-left"></i>
    <h2 routerLink="/approval-manager/dashboard">
      HOME
    </h2>
  </div>
  <div style="height:80px" class="page-header d-flex align-items-center b-r border-blue">
    <img class="img-fluid" width="5%" src="../assets/fundal/admin/listing/Icons-10-1.png">
    <h2 class="page-header-title text-transform-uppercase ml-2">
      Loan Requests
    </h2>
  </div>
  <!--<app-appr-loan-nav></app-appr-loan-nav>-->
  <ul *ngIf="isAdmin()" class="nav nav-tabs" role="tablist">
    <li (click)="setTab('pending')" class="nav-item" style="cursor:pointer" role="presentation">
      <a [ngClass]="{'active':tab == 'pending'}" aria-controls="home"
        data-toggle="tab" class="nav-link text-center text-normal strong-600">Pending</a>
    </li>
    <li  (click)="setTab('active')" class="nav-item" style="cursor:pointer" role="presentation">
      <a [ngClass]="{'active':tab == 'active'}" aria-controls="profile"
        data-toggle="tab" class="nav-link text-center text-normal strong-600">Active</a>
    </li>
    <!--<li  (click)="setTab('disbursed')" class="nav-item" style="cursor:pointer" role="presentation">
      <a [ngClass]="{'active':tab == 'disbursed'}" aria-controls="profile"
        data-toggle="tab" class="nav-link text-center text-normal strong-600">Disbursed</a>
    </li>-->
    <li  (click)="setTab('disbursal')" class="nav-item" style="cursor:pointer" role="presentation">
      <a [ngClass]="{'active':tab == 'disbursal'}" aria-controls="profile"
        data-toggle="tab" class="nav-link text-center text-normal strong-600">Pending Disburse</a>
    </li>
    <li  (click)="setTab('repaid')" class="nav-item" style="cursor:pointer" role="presentation">
      <a [ngClass]="{'active':tab == 'repaid'}" aria-controls="profile"
        data-toggle="tab" class="nav-link text-center text-normal strong-600">Repaid</a>
    </li>
  </ul>

  <div class="row mt-5">


    <div class="col-md-12">
      <div class="big-data-box">
        <div class="head">
          <div class="row">
            <div class="col-md-3">
              <!--<h3>Approval Requests</h3>-->
              <i class="fa fa-arrow-left"></i>
              <!--<i class="fa fa-arrow-right visible-xs pull-right"></i>-->
            </div>
            <div class="col-md-6">
              <div class="img-center fit-width">
                <!-- <p class="">SORT BY:</p>
                            <div class="dropdown styled display-inline mx-3">
                              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Status
                                <span class="caret"></span></button>
                              <ul class="dropdown-menu">
                                <li><a href="#">Status</a></li>
                                <li class="active"><a href="#">Loan Type</a></li>
                                <li><a href="#">Duration</a></li>
                              </ul>
                            </div>
                            <p class=""> &lt; 1 - 6 &gt; of 6 pages</p> -->
                <!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->
              </div>
              <div class="form-group">
                <input class="form-control" [(ngModel)]="firstName">
                <i style="top:23px;" class="fa fa-search"> </i>
              </div>

            </div>
            <div class="col-md-3">
              <i class="fa fa-arrow-right pull-right"></i>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <div class="col-md-12" *ngIf="isLoading" align="center">
            <i class="fa fa-spin fa-spinner fa-2x"></i>
          </div>
          <div class="col-md-12" *ngIf="!isLoading && approvalRequests.length < 1" align="center">
            <span>No request available</span>
          </div>
          <table class="table red" *ngIf="approvalRequests.length > 0 && !isLoading">
            <thead>
              <tr>
                <th>S/N</th>
                <th>Applicant Name</th>
                <th>Amount</th>
                <th>Request Date</th>
                <th>Repayment Amount</th>
                <th>Duration</th>
                <!--<th>Status</th>-->
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of approvalRequests  | loanFilter:firstName; let i = index">
                <td>{{i+1}}</td>
                <td>{{a.user.firstName}} {{a.user.lastName}}</td>
                <td>{{a.amount | currency:'N'}}</td>
                <td>{{a.created | date:'dd/MM/yy'}}</td>
                <td>{{a.total_cost | currency:'N'}}</td>
                <td>{{a.duration}} month(s)</td>
                <td>
                  <span></span>
                </td>
                <td>
                  <!-- <span *ngIf="l.listingState == '0' && l.approved == '2'">Active</span>
                                 <span *ngIf="l.listingState == '1' && l.approved == '2'">Suspended</span>
                                 <span *ngIf="l.listingState == '2' && l.approved == '2'">Blocked</span> -->
                </td>
                <td>
                  <span *ngIf=""><img src="../assets/fundal/admin/if_tick_green_619543.png" /></span>
                  <span *ngIf="" class="text-red"> <img src="../assets/fundal/admin/if_close_red_619539.png" /></span>
                </td>
                <td>
                  <button *ngIf="tab == 'pending' || isAdmin()" routerLink="/request_details/{{a._id}}" class="btn btn-outline text-red border-red">
                                VIEW
                              </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


</div>