<div class="loan-list-card mb-4 pr-sm-4">
  <div class="row">
    <div class="col-md-2">
      <div class="loan-list-img d-flex">
        <img src="../../assets/fundal/loan/Icons-15.svg">
      </div>
    </div>
    <div class="col-md-3 top-pad details">
      <div><b>Loan Type:</b> {{loan.productName}}</div>
      <div><b>Date Applied:</b> {{loan.approvedDate | date:'medium'}}</div>
      <div><b>Request:</b> {{loan.amount | currency:'N'}}</div>
      <div><b>Status:</b> Pending</div>
    </div>
    <div class="col-md-5 text-center top-pad">
      <div class="col-xs-6">
        <img class="img-center mt-2" src="../../../assets/fundal/loan/if_icon-136-document-edit_314251.png">
        <p>Edit Application</p>
      </div>
      <div class="col-xs-6">
        <img class="img-center mt-1" src="../../../assets/fundal/loan/2335589-512.png">
        <p>View Comments</p>
      </div>
    </div>
    <div class="col-md-2 text-center top-pad">
      <h6>DISBURSAL STATUS</h6>
      <br>
      <div class="img-center mt-4 loan-status-repaid bg-red">
      </div>
      <p *ngIf="loan.disbursed" class="text-black mt-4 text-center strong-700">
        Disbursed
      </p>
      <p *ngIf="!loan.disbursed" class="text-black mt-4 text-center strong-700">
        Not Disbursed
      </p>
    </div>
  </div>
</div>
