
<div class="container">
  <div class="navigation-back type-2 mt-5">
    <i class="fa fa-arrow-left"></i>
    <h2 routerLink="/admin/dashboard">

      BACK
    </h2>
  </div>

  <div class="page-header d-flex align-items-center b-r border-red">
    <img class="img-fluid" width="10%" src="../assets/fundal/admin/com/Icons-05-1.png">
    <h2 class="page-header-title">
    Market Place
    </h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="page-header-listing">
        <h2>
          Active Market Place:{{rl.length}}
        </h2>



      </div>
    </div>
    <div class="col-md-6">
      <div class="page-header-listing">

        <h2>
          Total Number of Market Places:{{listings.length}}
        </h2>


      </div>

    </div>
  </div>

  <div class="row">


    <div class="col-md-12">
      <div class="big-data-box">
        <div class="head">
          <div class="row">
            <div class="col-md-4">
              <h3>User List</h3>
              <i class="fa fa-arrow-left"></i>
              <i class="fa fa-arrow-right visible-xs pull-right"></i>
            </div>
            <div class="col-md-5">
              <div class="img-center fit-width">
                <!-- <p class="">SORT BY:</p>
                <div class="dropdown styled display-inline mx-3">
                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Status
                            <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Status</a></li>
                    <li class="active"><a href="#">Loan Type</a></li>
                    <li><a href="#">Duration</a></li>
                  </ul>
                </div>
                <p class=""> &lt; 1 - 6 &gt; of 6 pages</p> -->
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
              <div class="form-group">
                <input class="form-control" [(ngModel)]="company">
                <i class="fa fa-search"> </i>
              </div>

            </div>
            <div class="col-md-3 hidden-xs pt-30">
              <i class="fa fa-arrow-right pull-right"></i>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table red">
            <thead>
              <tr>
                <th>S/N</th>
                <th>COMPANY</th>
                <th>NAME</th>
                <th>DATE CREATED</th>
                <th>STATUS</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let l of listings | paginate:{itemsPerPage:10,currentPage:p} | lFilter:company; let i = index">
                <td>{{i+1}}</td>
                <td>{{l.company}}</td>
                <td>{{l.name}}</td>
                <td>{{l.date_created | amDateFormat:'LL'}}</td>
                <td>
                  <label title="Active" for="" *ngIf="l.listingState == 0 && l.approved == 2">Active</label>
                  <label title="Rejected" for="" *ngIf="l.listingState == 1 && l.approved == 2">Rejected</label>
                  <label title="Suspended" for="" *ngIf="l.listingState == 2 && l.approved == 2">Suspended</label>
                </td>
                <td>
                  <label title="Active" for="" *ngIf="l.listingState == 0 && l.approved == 2"><img src="../assets/fundal/admin/if_tick_green_619543.png" /></label>
                  <label title="Rejected" for="" *ngIf="l.listingState == 1 && l.approved == 2"><img src="../assets/fundal/admin/if_close_red_619539.png" /></label>
                  <label title="Suspended" for="" *ngIf="l.listingState == 2 && l.approved == 2"><img src="../assets/fundal/admin/barred.png" /></label>

                </td>
                <td>
                  <button routerLink="/admin/view-listing/{{l._id}}" class="btn btn-outline text-red border-red">
                            VIEW
                          </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
