        <div class="container">

          <div class="navigation-back type-2 mt-5">
            <i class="fa fa-arrow-left"></i>
            <h2 routerLink="/customer-care-agent/dashboard">

              HOME
            </h2>
          </div>
          <div class="page-header d-flex align-items-center b-r border-blue">
            <img class="img-fluid" width="10%" src="../assets/fundal/admin/Profile (3) (1).png">
            <h2 class="page-header-title text-uppercase">
              Loan Application
            </h2>
          </div>
          <app-cc-loan-d-nav></app-cc-loan-d-nav>
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="big-data-box">
                <div class="head">
                  <div class="row">
                    <div class="col-md-3">
                      <h3>All Approved Loan Requests</h3>
                      <i class="fa fa-arrow-left"></i>
                      <i class="fa fa-arrow-right visible-xs pull-right"></i>
                    </div>
                    <div class="col-md-6">
                      <div class="img-center fit-width">
                        <!-- <p class="">SORT BY:</p>
                        <div class="dropdown styled display-inline mx-3">
                          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Status
                            <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li><a href="#">Status</a></li>
                            <li class="active"><a href="#">Loan Type</a></li>
                            <li><a href="#">Duration</a></li>
                          </ul>
                        </div>
                        <p class=""> &lt; 1 - 6 &gt; of 6 pages</p> -->
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                      </div>
                      <div class="form-group">
                        <input class="form-control"  [(ngModel)]="firstName" type="text">
                        <i class="fa fa-search"> </i>
                      </div>

            </div>
            <div class="col-md-3 hidden-xs pt-30">
              <i class="fa fa-arrow-right pull-right"></i>
            </div>
          </div>
        </div>
        <div class="body">
          <div class="line my-0">
          </div>
          <div class="row my-4 " *ngFor="let l of loan.loans | paginate:{itemsPerPage:20,currentPage:p} | loanFilter:firstName;">

            <div class="col-md-12">



              <div class="big-data-box mb-4 pr-sm-4">

                <div class="row">
                  <div class="col-md-2">
                    <img class="img-center mt-4" src="../assets/fundal/admin/Profile (3) (3).png">
                  </div>


                  <div class="col-md-5 pl-3">
                    <div class="row">
                      <div class="col-md-6 py-4">
                        <p>Member Name:</p>
                        <p>Date Applied:</p>
                        <p class="max-width-10">Amount Requested:</p>
                        <p>Duration:</p>

                      </div>

                      <div class="col-md-6 py-4">

                        <p> {{l.user.firstName}} {{l.user.lastName}} </p>
                        <p> {{l.created | amDateFormat:'LL'}}</p>
                        <p> {{l.amount | currency:'NGN':'symbol-narrow'}} </p>
                        <p class="text-lite-orange"> {{l.duration}} month(s)</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 py-4 d-flex justify-content-center flex-column align-items-center">
                    <img class="img-center mt-4" src="../assets/fundal/loan/if_icon-136-document-edit_314724.png">
                    <p routerLink="/customercare/loan_requests_detail/{{l._id}}" class="text-black mt-4 text-center strong-700">
                      View Application
                    </p>

                  </div>


                </div>


              </div>


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
