<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <form #createForm=ngForm class="" (ngSubmit)="addNinja()" method="post">
                <label for="">Name</label>
                <input type="text" name="name" [(ngModel)]="ninja.name" required>
                <label for="">Belt</label>
                <input name="belt" type="text" [(ngModel)]= "ninja.belt" required/>
                <label for="">Image</label>
                <br>
                <input #image (change)="onFileSelected($event)" style="display:none" type="file" name="image" value="" required>
                <button type="button" (click)="image.click()" name="button">Select Image</button>
                <img [src]="defImage" width="20" height="20" alt="defaultImage">
                <br>
                <br>
                <input type="submit" [disabled]="!createForm.valid" class="btn blue small" name="" value="Add Ninja">
            </form>
        </div>
        <div class="col s12 m6 offset-m3">
            <div class="" *ngFor="let ninja of ninjas">
                <p>{{ninja.name}}-{{ninja.belt}} <a style="cursor:pointer" (click)="deleteNinja(ninja,ninja._id)">X</a> - <a style="cursor:pointer" routerLink="/edit-ninja/{{ninja._id}}"> Edit </a>- <img [src]="'http://localhost:4000/ninjas/'+ ninja.image" width="25" height="25" alt=""> </p>
            </div>
        </div>
        <!-- <button (click)="alertMe('i like food')" name="button">Click me</button> -->
    </div>
</div>
