<nav class="navbar navbar-expand-xl navbar-dark">
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mt-2 mt-lg-0">
        <div class="top-nav">
          <li class="nav-item" style="cursor:pointer" routerLink="/home" routerLinkActive="active">

            <img src="../assets/fundal/nav/Home Icon.png" />
            <a class="nav-link">
              Home
            </a>
          </li>
          <li class="nav-item" style="cursor:pointer" routerLink="/profile" routerLinkActive="active">

            <img src="../assets/fundal/nav/Profile Icon.png">
            <a class="nav-link">
              Profile

            </a>
          </li>
          <li class="nav-item" style="cursor:pointer" routerLink="/loans" routerLinkActive="active">
            <img src="../assets/fundal/nav/My Loans Icon.png">
            <a class="nav-link">
              My Loans
            </a>
          </li>
          <li class="nav-item" style="cursor:pointer" routerLink="/due" routerLinkActive="active">
            <img src="../assets/fundal/nav/Due Payments Icon.svg">
            <a class="nav-link">
              Due Payments
            </a>
          </li>
          <li class="nav-item" style="cursor:pointer" routerLink="/community" routerLinkActive="active">
            <img src="../assets/fundal/nav/Community Icon.png">
            <a class="nav-link">
              Community
            </a>
          </li>
          <li class="nav-item" style="cursor:pointer" routerLink="/savetoborrow" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">
            <img src="../assets/fundal/nav/Due Payments Icon.svg">
            <a class="nav-link">
              Save to Borrow
            </a>
          </li>
          <li class="nav-item" style="cursor:pointer" routerLink="/u/listings" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">
            <img src="../assets/fundal/nav/Listings Icon.png">
            <a class="nav-link">
              Market Place
            </a>
          </li>
        </div>
        <div class="bottom-nav">
          <li class="nav-item " style="cursor:pointer" routerLink="/u/settings" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">

            <img src="../assets/fundal/nav/settings.png" />
            <a class="nav-link">
              Settings
            </a>
          </li>
          <!-- <li class="nav-item" style="cursor:pointer" routerLink="/u/complains" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">

            <img src="../assets/fundal/nav/Help Cemter Icon.png" />
            <a class="nav-link">
              Help Center
            </a>
          </li> -->
          <li class="nav-item" style="cursor:pointer" (click)="logout()">
            <img src="../assets/fundal/nav/1031505-512.png" />
            <a class="nav-link">
              Log Out
            </a>
          </li>
        </div>

      </ul>

    </div>
  </nav>
