<div class="">
    <div class="" *ngFor="let w of w">
        <p>{{w.name}}</p> - <button type="button" routerLink="/u/view_women_in_trade_societies_detail/:{{w._id}}" name="button">View</button>
    </div>
</div>
