ul.nav-tabs li.nav-item .nav-link{
    color: #828282;
}
ul.nav-tabs li.nav-item {
    padding: 0px;
    padding-right: 20px;
}

.nav-tabs .nav-link.active {
    color: #495057;
    font-weight: 800;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid #52BC00;
}

.nav-tabs .nav-link.active:hover {
	border: 1px solid transparent;
	border-bottom: 3px solid #52BC00;
}

.nav-tabs .nav-link:hover {
	border: 1px solid transparent;
	border-bottom: 1px solid #52BC00;
}