<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" style="cursor:pointer" role="presentation">
        <a routerLink="/loans" routerLinkActive="active " [routerLinkActiveOptions]="{exact:true}" class="nav-link text-center text-normal strong-600">Active</a>
    </li>
    <li class="nav-item" style="cursor:pointer" role="presentation">
        <a routerLink="/loans/pending" routerLinkActive="active " [routerLinkActiveOptions]="{exact:true}" class="nav-link text-center text-normal strong-600">Pending</a>
    </li>
    <li class="nav-item" style="cursor:pointer" role="presentation">
        <a routerLink="/loans/rejected" routerLinkActive="active " [routerLinkActiveOptions]="{exact:true}" class="nav-link text-center text-normal strong-600">Rejected</a>
    </li>
    <li class="nav-item" style="cursor:pointer" role="presentation">
        <a routerLink="/loans/history" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link text-center text-normal strong-600">Loan History</a>
    </li>
</ul>
