<!-- MAIN WRAPPER -->
<!--<div class="nav-header">

  <nav class="navbar navbar-expand-sm justify-content-center">
    <a class="navbar-brand" href="#">
      <img src="../assets/fundal/logo-name.svg" class="" alt="Fundal">
    </a>

  </nav>

</div>-->
<div class="auth-body">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-4 hidden-sm">
        <div class="logo-icon">
          <img src="../assets/fundal/logo-big.svg" class="img-fluid d-flex justify-content-center" />
        </div>

      </div>
      <div class="col-lg-8 col-md-12">
        <p class="label-cite">
          Already have an account? <a routerLink="/signin"><span style="cursor:pointer" class="text-green">SIGN
              IN </span></a>
        </p>


        <div class="form-area-sign-up">
          <h2 class="main-card-title">
            Create your Getfunds account!
          </h2>
          <p class="main-card-subtitle"> Your Getfunds account is your access to all things Getfunds. </p>


          <form #signupForm=ngForm (ngSubmit)="signup()" class="form-default" role="form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" [(ngModel)]="user.firstname" name="firstname" class="form-control" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" [(ngModel)]="user.lastname" name="lastname" class="form-control " required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group has-feedback">
                  <label>Email Address</label>
                  <input type="email" [(ngModel)]="user.email" name="email" class="form-control " required>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Enter Phone Number</label>
                    <input type="number" [(ngModel)]="user.phone" name="phoneNumber" class="form-control" required>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Bank Verification Number (BVN)</label>
                    <input type="number" [(ngModel)]="user.bvn" name="bvn" class="form-control" required>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Security Question</label>
                    <input type="text" [(ngModel)]="user.security_question" name="question" class="form-control" required>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Answer</label>
                    <input type="text" [(ngModel)]="user.security_answer" name="answer" class="form-control" required>
                  </div>
                </div>
            </div>
            <p class="text-red text-center strong-600 clickable"> <em>{{errorMsg}}</em> </p>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group has-feedback">
                  <label>Enter your Password</label>
                  <input type="password" [(ngModel)]="user.password" name="password" class="form-control " required>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group has-feedback">
                  <label>Confirm Password</label>
                  <input type="password" [(ngModel)]="user.cPassword" name="cpassword" class="form-control " required>
                </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Verify By</label>
                    <select class="form-control" [(ngModel)]="user.verifyBy" name="verify" required>
                        <option value="sms">Email</option>
                        <option value="email">Phone Number</option>
                    </select>
                 </div>
            </div>


            <div class="row">
              <div class="col-lg-12">
                <p class="terms"> By clicking Sign Up, it means you agree to our
                  <span class="text-green strong-600 clickable"> Terms </span>
                  and
                  <span class="text-green strong-600 clickable"> Policies </span>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 d-flex justify-content-center align-items-center flex-column">
                <button  type="submit" style="cursor:pointer" class="btn img-center btn-styled btn-md mt-4">

                  SIGN UP

                </button>
                <p class="label-cite text-center">
                  <br>
                  Already have an account? <a routerLink="/signin"><span style="cursor:pointer" class="text-green">SIGN
                      IN </span></a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>


    </div>
  </div>
</div>
