<div class="container">
  <div class="col-md-12 navigation-back">
    <span routerLink="/home">
      <img src="../assets/images/back-icon.png">
      <strong>HOME</strong>
    </span>
  </div>

  <div class="page-header d-flex align-items-center b-r border-green">
    <img class="img-fluid" src="../assets/fundal/admin/Profile (3) (1).png">
    <h2 class="page-header-title text-transform-uppercase">
      Due Payments
    </h2>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="big-data-box">
        <div class="head">
          <div class="row">
            <div class="col-md-3">
              <!--<h3>Rejected Requests</h3>-->
              <i class="fa fa-arrow-left"></i>
              <i class="fa fa-arrow-right visible-xs pull-right"></i>
            </div>
            <div class="col-md-6">
              <div class="img-center fit-width">
                <p class="">SORT BY:</p>
                <div class="dropdown styled display-inline mx-3">
                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Status
                            <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Status</a></li>
                    <li class="active"><a href="#">Loan Type</a></li>
                    <li><a href="#">Duration</a></li>
                  </ul>
                </div>
                <p class=""> &lt; 1 - 6 &gt; of 6 pages</p>
              </div>
              <div class="form-group">
                <input class="form-control">
                <i class="fa fa-search"> </i>
              </div>

            </div>
            <div class="col-md-3 hidden-xs pt-30">
              <i class="fa fa-arrow-right pull-right"></i>
            </div>
          </div>
        </div>
        <div class="body">
          <div class="line my-0">
            <!--<div class="col-md-12" *ngIf="loans.length > 0">
                      <div class="row">
                      <label for="">No Due payment Found</label>
                      </div>
                    </div>-->
          </div>
  <div class="col-md-12" *ngIf="loans.length < 1">
                      <div class="row" align="center">
                      <label for="" style="width:100%;display:block;text-align:center">No Due payment Found</label>
                      </div>
                    </div>
          <div class="col-md-12">


            <div class="big-data-box my-4" *ngFor="let loan of loans">

              <div class="row ">
                <div class="col-md-2">
                  <div class="bg-shade-1 d-flex justify-content-center align-content-center">
                    <img src="../assets/fundal/loan/Icons-15.svg">
                  </div>

                </div>


                <div class="col-md-6 px-3 py-3">

                  <p class=" mb-2">{{loan.due_message}}</p>
                  <div class="line my-4"></div>
                  <div class="row align-items-center">
                    <div class="col-md-6">
                      <p class="strong-600">Amount Due:
                        <span class="text-red"> {{loan.total_cost}}</span></p>
                    </div>
                    <div class="col-md-6">
                      <p class="strong-600">Penalty:
                        <span class="text-red">{{loan.penalty}}</span></p>
                    </div>
                  </div>


                </div>
                <div class="col-md-4 py-3 pr-3">
                  <div class="row">
                    <div class="col-md-6 d-flex flex-column align-items-center">
                      <img class="img-center" src="../assets/fundal/home/icon/if_credit_card_1814100.png">
                      <p class="text-black text-center strong-700">
                        Make Payment
                      </p>
                    </div>
                    <div class="col-md-6 d-flex flex-column align-items-center">
                      <img class="img-center" src="../assets/fundal/home/icon/if_simpline_37_2305624.png">
                      <p class="text-black pt-2 text-center strong-700">
                        View Payment
                      </p>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>


        </div>
      </div>
    </div>


  </div>


</div>
