<div class="loan-list-card mb-4 pr-sm-4">
  <div class="row">
    <div class="col-md-3">
      <div class="loan-list-img d-flex">
        <img src="../../assets/fundal/loan/Icons-15.svg">
      </div>
    </div>
    <div class="col-md-4 top-pad details">
      <div><b>Loan Type:</b> {{loan.productName}}</div>
      <div><b>Date Approved:</b> {{loan.approvedDate | date:'medium'}}</div>
      <div><b>Amount Borrowed:</b> {{loan.amount | currency:'N'}}</div>
      <div><b>Monthly Payments:</b> {{loan.monthly_repayments  | currency:'N'}}</div>
    </div>
    <div class="col-md-3 text-center top-pad">
        <h6>PAYMENT STATUS</h6>
          <img class="img-center mt-2 mb-2" src="../../assets/images/logo/active.svg">
        <br>
        <p>Good</p>
    </div>
    <div class="col-md-2 text-center top-pad">
        <img class="img-center mt-2 mb-2" src="../../assets/fundal/home/icon/if_simpline_37_23056242.png">
        <p>View Payment</p>
    </div>
  </div>
</div>
