.activity-item{
    margin-bottom: 30px;
    box-shadow: 0px 10px 30px 0px rgba(235, 114, 114, 0.08);
}
.activity-icon{
    
    padding: 20px;
}
.activity-content{
    padding: 20px;
}
.p-grey{
    color: #828282;
    font-weight: 300;
}
.bg-blue{
    background-color: #0097D3;
}
.bg-green{
    background-color: #52BC00;
}