<div class="container">


  <div class="activity my-5">
    <div class="activity-item row align-items-center">
      <div class="col-md-2 activity-icon bg-blue d-flex justify-content-center align-items-center">
        <img src="../assets/fundal/home/icon/Help Cemter Icon 2.png" alt="">
      </div>
      <div class="col-md-7 activity-content">
        <p class="p-grey">Customer care has responded to your inquiry</p>
      </div>
      <div class="col-md-3  activity-content">
        <p class="text-uppercase">Go to help center</p>
      </div>
    </div>
    <div class="activity-item row align-items-center">
      <div class="col-md-2 activity-icon bg-blue d-flex justify-content-center align-items-center">
        <img src="../assets/fundal/home/icon/Help Cemter Icon 2.png" alt="">
      </div>
      <div class="col-md-7 activity-content">
        <p class="p-grey">Your password has been reset</p>
      </div>
      <div class="col-md-3  activity-content">
        <p class="text-uppercase">Go to help center</p>
      </div>
    </div>
    <div class="activity-item row align-items-center">
      <div class="col-md-2 activity-icon bg-green d-flex justify-content-center align-items-center">
        <img src="../assets/fundal/home/icon/My Loans Icon.png" alt="">
      </div>
      <div class="col-md-7 activity-content">
        <p class="p-grey">Customer care has responded to your inquiry</p>
      </div>
      <div class="col-md-3  activity-content">
        <p class="text-uppercase">Go to help center</p>
      </div>
    </div>
  </div>

</div>
