<div class="container">
  <div class="navigation-back type-2 mt-5">
    <i class="fa fa-arrow-left"></i>
    <h2 (click)="goBack()">
      {{title}}
    </h2>
  </div>
  <div class="page-header d-flex align-items-center" style="height:90px!important">
    <img class="img-fluid" width="5%" src="../assets/fundal/admin/Icon set-05 (3).png">
    <h2 class="page-header-title text-transform-uppercase">
      New {{title}}
    </h2>
  </div>

  <!--<div class="col-md-2">
  </div>-->
  <div class="col-md-12">
    <div class="form-box">
      <div class="col-md-12">
        <div class="col-md-12" align="center">
          <h4>New {{title}}</h4>
          <div class="row my-3">
            <div class="col-md-3" align="left">
              <label>
                              FIRST NAME:
                            </label>
            </div>
            <div class="col-md-7">
              <input class="form-control" [(ngModel)]="cc.firstName" name="firstname" />
            </div>
          </div>
          <div class="row my-3">
            <div class="col-md-3" align="left">
              <label>
                              LAST NAME:
                            </label>
            </div>
            <div class="col-md-7">
              <input class="form-control" [(ngModel)]="cc.lastName" name="lastname" />
            </div>
          </div>
          <div class="row my-3" align="left">
            <div class="col-md-3">
              <label>
                              PHONE NUMBER:
                            </label>
            </div>
            <div class="col-md-7">
              <input class="form-control" [(ngModel)]="cc.phone" name="phone" />
            </div>
          </div>
          <div class="row my-3" align="left">
            <div class="col-md-3">
              <label>
                              USERNAME:
                            </label>
            </div>
            <div class="col-md-7">
              <input class="form-control" [(ngModel)]="cc.username" name="username" />
            </div>
          </div>
        
          <div class="row my-3">
            <div class="col-md-3" align="left">
              <label>
                              EMAIL ADDRESS:
                            </label>
            </div>
            <div class="col-md-7">
              <input class="form-control" [(ngModel)]="cc.email" name="email" />
            </div>
          </div>
            <div class="row my-3">
            <div class="col-md-3" align="left">
              <label>
                              PASSWORD:
                            </label>
            </div>
            <div class="col-md-7">
              <input class="form-control" [(ngModel)]="cc.password" type="password" name="password" />
            </div>
          </div>

          <!--<h4>LOAN PERMISSIONS</h4>
      <div class="row">
        <div class="col-md-4">
          <div class="row mb-3">
            <div class="col-md-8">
              <label>
                                  PAY LOAN
                                </label>
            </div>
            <div class="col-md-4">
              <label class="container">
                                  <input type="checkbox" class="checkbox-styled" checked="checked">
                                  <span class="checkmark"></span>
                                </label>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-8">
              <label>
                                  PUBLIC LOAN
                                </label>
            </div>
            <div class="col-md-4">
              <label class="container">
                                  <input type="checkbox" class="checkbox-styled" checked="checked">
                                  <span class="checkmark"></span>
                                </label>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-8">
              <label>
                                  SME LOAN
                                </label>
            </div>
            <div class="col-md-4">
              <label class="container">
                                  <input type="checkbox" class="checkbox-styled" checked="checked">
                                  <span class="checkmark"></span>
                                </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <label>
                                  SALARY ADVANCE
                                </label>
            </div>
            <div class="col-md-4">
              <label class="container">
                                  <input type="checkbox" class="checkbox-styled" checked="checked">
                                  <span class="checkmark"></span>
                                </label>
            </div>
          </div>


        </div>
        <div class="col-md-4">
          <div class="row mb-3">
            <div class="col-md-8">
              <label>
                                  LISTINGS
                                </label>
            </div>
            <div class="col-md-4">
              <label class="container">
                                  <input type="checkbox" class="checkbox-styled" checked="checked">
                                  <span class="checkmark"></span>
                                </label>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-8">
              <label>
                                  AGENT BANKING
                                </label>
            </div>
            <div class="col-md-4">
              <label class="container">
                                  <input type="checkbox" class="checkbox-styled">
                                  <span class="checkmark"></span>
                                </label>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-8">
              <label>
                                  NEW LOAN
                                </label>
            </div>
            <div class="col-md-4">
              <label class="container">
                                  <input type="checkbox" class="checkbox-styled">
                                  <span class="checkmark"></span>
                                </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <label>
                                  NEW LOAN
                                </label>
            </div>
            <div class="col-md-4">
              <label class="container">
                                  <input type="checkbox" class="checkbox-styled" checked="checked">
                                  <span class="checkmark"></span>
                                </label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row mb-3">
            <div class="col-md-8">
              <label>
                                  AUTO LOAN
                                </label>
            </div>
            <div class="col-md-4">
              <label class="container">
                                  <input type="checkbox" class="checkbox-styled" checked="checked">
                                  <span class="checkmark"></span>
                                </label>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-8">
              <label>
                                  HOME ASSETS
                                </label>
            </div>
            <div class="col-md-4">
              <label class="container">
                                  <input type="checkbox" class="checkbox-styled">
                                  <span class="checkmark"></span>
                                </label>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-8">
              <label>
                                  WOMEN IN TRADE
                                </label>
            </div>
            <div class="col-md-4">
              <label class="container">
                                  <input type="checkbox" class="checkbox-styled">
                                  <span class="checkmark"></span>
                                </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <label>
                                  COOPERATIVE LOAN
                                </label>
            </div>
            <div class="col-md-4">
              <label class="container">
                                  <input type="checkbox" class="checkbox-styled">
                                  <span class="checkmark"></span>
                                </label>
            </div>
          </div>
        </div>
      </div>-->
          <div class="row mt-5">
            <div class="col-md-12">
              <button *ngIf="!isLoading" style="cursor:pointer" (click)="create()" class="btn btn-styled img-center">
                              Create Account
                            </button>
              <button *ngIf="isLoading" style="cursor:pointer" style="background:#ccc" disabled class="btn btn-styled img-center">
                              Creating <i class="fa fa-spin fa-spinner"></i>
                            </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>