<div class="container">
  <div class="row">
    <div class="col-md-12" align="right">
      <button routerLink="/admin/create-loan" type="submit" style="cursor:pointer" class="btn img-center btn-styled btn-md mt-4">

                  Create Loan

                </button>
    </div>
  </div>
  <div class="row" *ngIf="isLoading" align="center">
    <i class="fa fa-spin fa-spinner fa-2x"></i>
  </div>
  <!--<div class="row"  *ngIf="!isLoading "></div>-->
  <div class="row" *ngIf="!isLoading">
    <!--<div class="col-md-12" >-->
    <div class="loan-card left col-md-12" style="height:250px;padding:unset" *ngFor="let loan of loans">
      <div class="row" style="padding:unset;margin:unset">
        <div class="col-md-5" style="height: 250px;padding:unset;margin:unset">
          <img width="100%" height="100%" [src]="baseApi+ loan.image" />
        </div>
        <div class="col-md-7 loan-text">
          <br>
          <h5 class="text-blue">{{loan.loanName}}</h5>
          <p class="loan-deats">Interest Rate :{{loan.interestRate | percent}}</p>
          <p class="loan-deats">Minimum Amount :{{loan.minAmount | currency:'NGN':'symbol-narrow' }}</p>
          <p class="loan-deats">Maximum Amount :{{loan.maxAmount | currency:'NGN':'symbol-narrow' }}</p>
          <p class="loan-deats">Minimum Duration :{{loan.durationMin }} Month(s)</p>
          <p class="loan-deats">Maximum Duration :{{loan.durationMax }} Month(s)</p>
          <p class="loan-deats">Date Created :{{loan.created | amDateFormat:'LL' }}</p>
          <a name="" id="" style="width:130px" class="btn btn-outline-primary border-blue text-blue pull-right" routerLink="/admin/loan_details/{{loan._id}}"
            role="button">More</a>
          <img [src]="baseApi+ loan.icon" />
        </div>
      </div>
    </div>
    <!--</div>-->
  </div>
</div>
