/*.loan-box{
    height: 200px !important;
    display: block;
}*/
.img{
    height:auto;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.mcard{
background: #FFFFFF;
box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
border-radius: 5px;
height:auto;
padding:unset;
}
.loan-deats{
    display: block;
    font-size:14px;
    margin:unset important;
    margin-bottom:4px !important;
    color:#000;
}