
                      <div class="big-data-box mb-4 pr-sm-4">

                        <div class="row">
                          <div class="col-md-2">
                            <div class="bg-shade-1 d-flex justify-content-center align-content-center">
                              <img src="../../assets/fundal/loan/Icons-15.svg">
                            </div>

                          </div>


                          <div class="col-md-5 pl-3">
                            <div class="row">
                              <div class="col-md-6  py-4">
                                <p>Date Applied:</p>
                                <p>Amount Borrowed:</p>
                                <p>Monthly Payments:</p>
                                 <p>Duration</p>
                              </div>

                              <div class="col-md-6 py-4">
                                <p> {{loan.dateApplied | date:'short'}}</p>
                                <p> {{loan.amount | currency:'N'}} </p>
                                <p> {{loan.monthlyRepayment  | currency:'N'}}</p>
                                <p> {{loan.duration}} month(s)</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-5 py-4">
                            <p class="text-center strong-500 ">
                               STATUS
                            </p>
                            <div class="row">
                                <!--<div *ngIf="loan.repaid; else active" class="col-md-6 d-flex justify-content-center flex-column align-items-center">
                                <img class="img-center mt-2" src="../../assets/fundal/home/icon/if_simpline_37_23056242.png">
                                <p class="text-black pt-2 text-center strong-700">
                                  Repaid
                                </p>
                              </div>-->
                                <div class="col-md-12 d-flex justify-content-center flex-column align-items-center">
                                <img *ngIf="loan.status == '2'" class="img-center mt-2"  src="../../assets/images/logo/rejected.svg">
                                <img *ngIf="loan.status == '0'" class="img-center mt-2" src="../../assets/images/logo/pending.svg">
                                <p *ngIf="loan.status == '2'" class="text-black pt-2 text-center strong-700">
                                  Rejected
                                </p>
                                <p *ngIf="loan.status == '0'" class="text-black pt-2 text-center strong-700">
                                  Pending
                                </p>
                              </div>
<!--
                              <div class="col-md-6 d-flex justify-content-center flex-column align-items-center">
                                <img class="img-center mt-2" src="../../assets/fundal/home/icon/if_simpline_37_23056242.png">
                                <p class="text-black pt-2 text-center strong-700">
                                  View Payment
                                </p>
                              </div>
                            -->
                            </div>

                          </div>


                        </div>


                      </div>
