.community{
    margin-top: 70px;
}
.nav-header{
    width: 100%;
}
.nav-header .nav-link{
    color: #000;
    text-transform: capitalize;
    font-size: 24px;
    line-height: 33px;
}

@media only screen and (max-width: 768px){
    .dashboard-header{
        height: auto;
    }

}
