<div class="container">


  <div class="row community">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <div routerLink="/coopratives/community" class="activity-box b-b border-red">
            <img src="../assets/fundal/admin/com/Icons-05.png" class="img-center">
            <p class="text-uppercase mt-2">Cooperatives: 210</p>
          </div>
        </div>

        <div class="col-md-6">
          <div routerLink="/coopratives/women in trade" class="activity-box b-b border-yellow">

            <img src="../assets/fundal/admin/com/Icons-08.png" class="img-center">
            <p class="text-uppercase mt-2">Women in Trade: 15</p>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>
