<div class="container">


    <div class="row mt-5">

      <div class="col-md-8">
        <h6 class="approval-heading">Disbursement Manager Dashboard</h6>
        <div class="row">

          <div class="loan-summaries">
            <div class="row">
              <div class="col-md-4">
                <h6 class="approval-heading">Loan Summaries</h6>
              </div>
              <div class="col-md-8">
                <hr>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-4 ">
                <div class=" summary-item bg-blue">
                  <p class="text-uppercase">Total Amount Disbursed</p>
                  <p class="text-bold text-center">{{disbursed | currency:'N'}}</p>
                  <p routerLink="/loans/disbursed" class="text-right">View full</p>
                </div>

              </div>
              <div class="col-md-4">
                <div class=" summary-item bg-purple">
                  <p class="text-uppercase">Total Payback Amount</p>
                  <p class="text-bold text-center">{{payback | currency:'N'}}</p>
                  <p class="text-right" routerLink="/loans/disbursed">View full</p>
                </div>

              </div>
              <div class="col-md-4 ">
                <div class=" summary-item bg-green">
                  <p class="text-uppercase">Total Interest</p>
                  <p class="text-bold text-center">{{interest | currency:'N'}}</p>
                  <p class="text-right" routerLink="/loans/disbursed">View full</p>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>

      <!-- <div class="col-md-4">
        <div class="notice-box">
          <h4>Important</h4>
          <div class="line"> </div>
          <ul class="colored-list">
            <li class="greenish">You have a due payment of N12,250 on the 28th of May </li>
            <li class="blueish">Customer Care has responded to your application. Please review </li>
            <li class="greenish">Getfunds will be updating in 24 hours</li>
          </ul>
        </div>
      </div> -->
    </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="big-data-box">
        <div class="head">
          <div class="row">
            <div class="col-md-3">
              <h3>Loan History</h3>
              <i class="fa fa-arrow-left"></i>
              <i class="fa fa-arrow-right visible-xs pull-right"></i>
            </div>
            <div class="col-md-6">
              <div class="img-center fit-width">
                <!-- <p class="">SORT BY:</p>
                <div class="dropdown styled display-inline mx-3">
                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Status
                            <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Status</a></li>
                    <li class="active"><a href="#">Loan Type</a></li>
                    <li><a href="#">Duration</a></li>
                  </ul>
                </div>
                <p class=""> &lt; 1 - 6 &gt; of 6 pages</p> -->
                <!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->
              </div>
              <div class="form-group">
                <input class="form-control" [(ngModel)]="firstName">
                <i class="fa fa-search"> </i>
              </div>

            </div>
            <div class="col-md-3 hidden-xs pt-30">
              <i class="fa fa-arrow-right pull-right"></i>
            </div>
          </div>
        </div>
        <div class="body">
          <div class="line my-0">
          </div>
          <div class="row my-4 ">

            <div class="col-md-12">



              <div class="big-data-box mb-4 pr-sm-4" *ngFor="let a of loans | paginate:{itemsPerPage:20,currentPage:p} | loanFilter:firstName;">

                <div class="row">
                  <div class="col-md-2">
                    <div class="bg-shade-1 d-flex justify-content-center align-content-center">
                      <img src="../assets/fundal/loan/Icons-15.svg">
                    </div>

                  </div>


                  <div class="col-md-5 pl-3">
                    <div class="row">
                      <div class="col-md-6  py-4">
                        <p>Loan Type:</p>
                        <p>Date Approved:</p>
                        <p class="max-width-10">Amount Requested:</p>
                        <p>Approval Status:</p>

                      </div>

                      <div class="col-md-6 py-4">

                        <p>{{a.productName}} </p>
                        <p>{{a.approvedDate | date:'d/M/y'}}</p>
                        <p> {{a.amount | currency:'N'}} </p>
                        <p class="text-lite-orange" *ngIf="a.applicationState =='2' && !a.disbursed">Approved</p>
                        <p class="text-lite-orange" *ngIf="a.applicationState =='2' && a.disbursed">Disbursed</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 py-4">
                    <p class="text-center strong-500 ">
                      STATUS
                    </p>
                    <div class="row">
                      <div class="col-md-6 d-flex justify-content-center flex-column align-items-center">
                        <div class="img-center loan-status-repaid">
                        </div>
                        <p *ngIf="a.repaid && a.disbursed" class="text-black pt-2 text-center strong-700">
                          Repaid
                        </p>
                        <p *ngIf="!a.repaid && a.disbursed" class="text-black pt-2 text-center strong-700">
                          Pending Payment
                        </p>
                        <p *ngIf="a.applicationState == '2' && !a.disbursed" class="text-black pt-2 text-center strong-700">
                          Awaiting Disburse
                        </p>
                      </div>
                      <div class="col-md-6 d-flex justify-content-center flex-column align-items-center">
                        <img class="img-center" src="../assets/fundal/home/icon/if_simpline_37_23056242.png">
                        <p routerLink="/request_details/{{a._id}}" class="text-black pt-2 text-center strong-700">
                          View Payments
                        </p>
                      </div>


                    </div>

                  </div>


                </div>


              </div>


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
