<!-- MAIN WRAPPER -->
<div class="auth-body">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 col-md-12">

        <div class="form-area">
          <form class="form-default" #signinForm="ngForm" (ngSubmit)="makeComplain()" role="form">

            <div class="row">
              <div class="col-lg-12">
                <div class="form-group has-feedback">
                  <label>Complain</label>
                  <textarea type="password" rows="5" [(ngModel)]="complaint" name="password" class="form-control" required></textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 d-flex justify-content-center align-items-center flex-column">
                <button type="submit" [disabled]="!signinForm.valid" class="btn img-center btn-styled btn-md mt-4">

                  Send Complain

                </button>

              </div>
            </div>
          </form>
        </div>

      </div>


    </div>
  </div>
</div>
