<div class="container">
  <div class="navigation-back type-2 mt-5">
    <i class="fa fa-arrow-left"></i>
    <h2 routerLink="/admin/user-management">

      BACK
    </h2>
  </div>
  <div class="page-header d-flex align-items-center  b-r border-red">
    <img class="img-fluid" width="10%" src="../assets/fundal/admin/Profile (3) (1).png">
    <h2 class="page-header-title text-transform-uppercase">
      User
    </h2>
  </div>
  <div class="container">
    <!--<div class="navigation-back type-2 mt-5">
      <i class="fa fa-arrow-left"></i>
      <h2 routerLink="/admin/approvalManagers">

        BACK
      </h2>
    </div>
    <div class="page-header d-flex align-items-center  b-r border-red">
      <img class="img-fluid" width="5%" src="../assets/fundal/admin/Icon set-05 (3).png">
      <h2 class="page-header-title text-transform-uppercase">
        User
      </h2>
    </div>-->
    <div class="form-box">
      <div class="row mb-5">
        <div class="col-md-8">
          <div class="table-responsive">
            <table class="table">


              <tbody>
                <tr>
                  <td>FIRST NAME</td>
                  <th>{{user.firstName}}</th>
                </tr>
                <tr>
                  <td>LAST NAME</td>
                  <th>{{user.lastName}}</th>
                </tr>
                <tr>
                  <td>DATE CREATED:</td>
                  <th>{{user.date_created ? (user.date_created | date:'medium') : "--"}}</th>
                </tr>
                <tr>
                  <td *ngIf="user.role == 2 || user.role == 4">LOANS APPROVED:</td>
                  <td *ngIf="user.role == 5">LOANS APPLIED:</td>
                  <td *ngIf="user.role == 3">LOANS DISBURSED:</td>
                  <th>{{user.count_of_last_action || 0}}</th>
                </tr>
                <tr>
                  <td *ngIf="user.role == 2 || user.role == 4">LAST APPROVAL DATE:</td>
                  <td *ngIf="user.role == 5">LAST APPLICATION DATE :</td>
                  <td *ngIf="user.role == 3">LAST DISBURSAL DATE:</td>
                  <th>{{user.date_of_last_action ? (user.date_of_last_action | date:'medium') : "--"}}</th>
                </tr>
                <!--<tr>
                  <td>LAST LOGIN:</td>
                  <th>31/01/2018</th>
                </tr>-->
                <tr>
                  <td>STATUS:</td>
                  <th *ngIf="user.enabled" class="text-green">
                    Active
                    <img class="display-inline" src="../assets/fundal/admin/if_tick_green_619543.png" />
                  </th>
                  <th *ngIf="!user.enabled" class="text-red">
                    Inactive
                    <img class="display-inline" src="../assets/fundal/admin/if_close_red_619539.png" />
                  </th>
                </tr>
                <!--<tr>
                  <td>SUSPENSION HISTORY:</td>
                  <th *ngIf="!user.suspension_history.length < 1" class="text-blue">None</th>
                  <th *ngIf="user.suspension_history.length > 0" class="text-blue">
                    <table>
                      <thead>
                        <th>Suspended By</th>
                        <th>Reason</th>
                        <th>Date</th>
                      </thead>
                      <tr *ngFor="let u of user.suspension_history ">
                        <td>{{u.name}}</td>
                        <td>{{u.reason}}</td>
                        <td>{{u.date | date:'medium'}}</td>
                      </tr>
                    </table>
                  </th>
                </tr>-->
                <tr *ngIf="user.suspended_by && !user.enabled">
                  <td>SUSPENDED BY:</td>
                  <td>{{user.suspended_by.firstName }} {{user.suspended_by.lastName }}</td>
                </tr>
                <!--<tr>
                  <td>COMMENTS ON SUSPENSION:</td>
                  <th>
                    <textarea class="superide hidden-xs"></textarea>
                    <textarea class="b-t visible-xs"></textarea>
                  </th>
                </tr>-->

              </tbody>
            </table>

          </div>

        </div>
        <div class="col-md-4" align="left">
          <div class="user-img-box d-flex flex-column">
            <img [src]="user.image" class="img-center mb-4" height="150px" width="150px" />
            <div *ngIf="!isLoading">
              <button *ngIf="user.enabled" (click)="disable()" class="btn btn-default btn-view">
                          SUSPEND
                        </button>
              <button *ngIf="!user.enabled" (click)="disable()" class="btn btn-default btn-view">
                          LIFT SUSPENSION
                        </button> <br>
              <button (click)="delete()" class="btn btn-default btn-view">
                          DELETE USER
              </button>
            </div>
            <button *ngIf="isLoading"  class="btn btn-default btn-view">
                         Loading <i class="fa fa-spin fa-spinner"></i>
                        </button>
          </div>
        </div>

      </div>
      <!--<div class="row mt-5">
        <div class="col-md-12 pr-5 mt-5">

          <button class="btn btn-styled btn-md pull-right">
                        Update
                      </button>
        </div>
      </div>-->
    </div>

  </div>

  <!--<div class="form-box">
    <div class="row mb-5">
      <div class="col-md-8">
        <div class="table-responsive">
          <table class="table">

            <tbody>
              <tr>
                <td>FIRST NAME</td>
                <th>{{user.firstName}}</th>
                <tr>
                  <tr>
                    <td>LAST NAME</td>
                    <th>{{user.lastName}}</th>
                    <tr>
                      <tr>
                        <td>DATE CREATED:</td>
                        <th>00-00-00</th>
                        <tr>
                          <tr>
                            <td>COMMUNITIES:</td>
                            <th>0</th>
                            <tr>
                              <tr>
                                <td>LOANS TAKEN:</td>
                                <th>0</th>
                                <tr>
                                  <tr>
                                    <td>DATE OF LAST DISBURSAL:</td>
                                    <th>-/-/-</th>
                                    <tr>
                                      <tr>
                                        <td>LAST LOGIN:</td>
                                        <th>-/-/-</th>
                                        <tr>
                                          <tr>
                                            <td>STATUS:</td>
                                            <th *ngIf="user.isVerified" class="text-green">
                                              Active
                                              <img class="display-inline" src="../assets/fundal/admin/if_tick_green_619543.png" />
                                            </th>
                                            <th *ngIf="!user.isVerified" class="text-red">
                                              Not Verified
                                              <img class="display-inline" src="../assets/fundal/admin/if_close_red_619539.png" />
                                            </th>
                                            <tr>
                                              <tr>
                                                <td>SUSPENSION HISTORY:</td>
                                                <th class="text-blue">None</th>
                                                <tr>
                                                  <tr>
                                                    <td>SUSPENDED BY:</td>
                                                    <th class="text-blue">None</th>
                                                    <tr>
                                                      <tr>
                                                        <td>COMMENTS ON SUSPENSION:</td>
                                                        <th>
                                                          <div class="form-group">

                                                            <textarea class="form-control" name="" id="" rows="3"></textarea>
                                                          </div>

                                                        </th>
                                                        <tr>

            </tbody>
          </table>
        </div>

      </div>
      <div class="col-md-4">
        <div class="user-img-box d-flex flex-column justify-content-center align-items-center">
          <img [src]="'http://test.natterbase.com:3001/' + user.image" height="120" width="80" class="img-center mb-4" />
          <button *ngIf="user.enabled" (click)="disable()" class="btn btn-outline text-red img-center border-red px-28 mb-3">
                    SUSPEND
                  </button>
          <button *ngIf="!user.enabled" (click)="enable()" class="btn btn-outline text-red img-center border-red  mb-3">
                    LIFT SUSPENSION
                  </button>
          <button (click)="delete()" class="btn btn-outline text-red img-center border-red">
                    DELETE USER
                  </button>
        </div>
      </div>

    </div>
    <div class="row mt-5">
      <div class="col-md-12 pr-5 mt-5">

        <button class="btn btn-styled btn-md pull-right">
                  Update
                </button>
      </div>
    </div>
  </div>-->

</div>