.btn-view{
width: 100px;
background-color: #FFF;
border: 0.5px solid #FF653D;
margin:10px;
border-radius: 3px;
font-size: 10px !important;
float:right;
height:30px;
}

.mcard{
background: #FFFFFF;
box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
border-radius: 3px;
height:auto;
padding:unset;
}
.btn-loan{
    margin-right:10px;
}
.mcard-header{
    border-color: #FF653D !important;
    border-right: 5px solid;
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25) !important;
    border-radius: 3px !important;
    height:95px !important;
    /*padding:unset;*/
    
}
.base-card{
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25) !important;
    border-radius: 3px !important;
    margin-bottom:20px;
    height:auto;
}
.inline{
    display: inline-block !important;
}
.img-round img {
    background: #FFFFFF;
    border: 3px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 100%;
}
.base-card-2{
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25) !important;
    border-radius: 3px !important;
    height: 50px; 
}
.cooperative{
    background-color:#FF653D;
    height:80px;
    
}
.text-cooperative{
    color:#FFF !important;
}

.monthly-inner{
    font-size: 14px;
    color:#828282;
    margin-top: 50%;
}
.inner-text{
    color: #828282;
}

.text-inner{
    color: #828282;
}
.btn-view{
width: 100px;
background-color: #FFF;
border: 0.5px solid #FF653D;
margin:10px;
border-radius: 3px;
font-size: 14px !important;
float:right;
}

.member-list-count{
    display:block;
    font-size: 12px; 
    margin-top:20px;   
}
.member-list-text{
    display:block;
    color:#FF653D;
    font-size: 14px;
    margin-top:10px;

    
}
.member-list{
    height:300px;
    padding:0px;
    overflow-y: scroll; 
}
.member-header{
    border-color: #FF653D !important;
    border-right: 5px solid;
    height: 70px;
    margin:0px;
}

table th{
    color: #FF653D !important;
}

.table{
    font-size: 14px !important;
}
.table thead th{
    border-bottom: unset !important;
}
.join{
    color:#FFF;
    background-color: #52Bc00;
    display: inline-block;
    border-radius: 20px;
    width:20px;
    text-align:center;
}
.form-control{
    border: 1px solid #BDBDBD;
    border-radius: 20px;
    display: inline;
    width: 190px;
    height: 32px;
}
.table tbody tr{
    border-bottom: unset !important;
    border-top: unset !important;
}
.monthly-contribution{
    height:80px;
    
}
.img{
    height:auto;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
img-holder{
    height: 100%;
}
.title{
    display: block !important;
    font-size: 15px !important;
    margin: 5px;
    margin-top:10px;
    color:#828282;
}
p{
    font-size: 15px !important;
    margin: 5px;
    margin-top:10px;
    color:#828282;
}
.is-admin{
    color:#52BC00
}


.pill {
    background: #FFFFFF;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    padding: 24px;
    padding-bottom: 0px;
    margin-bottom: 40px;
}
.pill h4 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    font-size: 16px;

    color: #52BC00;
}
.pill h5 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    font-size: 14px;
    color: #52BC00;
}
.pill p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;

    color: #2D9CDB;
}
.pill.text-black p {
    color: #222233;
}
.pill img.action {
    width: 32px;
    height: 32px;
    margin-bottom: 21px;
}
.textarea-styled {
    height: 153px !important;

    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 25px;
}

.img-round img {
    background: #FFFFFF;
    border: 3px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 100%;
}

.profile-card p {
    
    font-size: 14px;
    color: #828282;
}

.profile-card, .c-card {
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding: 30px;
    height: 300px;
 }
 .c-card p{
    font-size: 18px;
    color: #828282;
 }
 
 .profile-form label{
     font-size: 14px;
     font-weight: 300;
 }