
        <div class="container">
          <div class="navigation-back type-2 mt-5">
            <i class="fa fa-arrow-left" routerLink="/u/dashboard"></i>
            <h2 routerLink="/u/dashboard">

              BACK
            </h2>
          </div>
          <div class="mcard-header">
            <img class="img-fluid" width="10%" src="../assets/fundal/admin/Profile (3) (1).png">
            <span>Member Profile</span>
            <!--<button class="btn pull-right btn-styled btn-md mt-4 btn-loan"> Apply for Loan<i class="fa fa-arrow"></i> </button>-->

    <!--<h2 class="page-header-title text-transform-uppercase">
                            JOIN COOPERATIVES
                        </h2>-->
    <!--<div class="form-group">
                            <input class="form-control">
                            <i class="fa fa-search"> </i>
                        </div>-->
          </div>
          <br>
  <div class="col-md-12">
    <member-card [profile]="profile"></member-card>
    <div class="base-card row" *ngIf="showReject">
      <div class="col-sm-6 inline">
        <span class="title">Form of Identification:  {{profile.identificationType || "--" }}</span>
        <img [src]="profile.identificationImage" height="150px" width="100%" style="border-radius:3px" alt="">
      </div>
      <div class="col-sm-6 inline">
        <span class="title">Type of Employment:  {{profile.identificationType || "--" }}</span> <br>
        <button (click)="processRequest('reject')" class="btn pull-right btn-styled btn-md mt-4 btn-loan" style="background:unset;background-color:#000"> Reject </button>
        <button (click)="processRequest('approve')" class="btn pull-right btn-styled btn-md mt-4 btn-loan"> Accept<i class="fa fa-arrow"></i> </button>



      </div>
    </div>
  </div>
</div>