<div class="container">
  <div class="page-header" *ngIf="updated != undefined && !updated">
    <div class="row">
      <div class="col-md-4">
        <img src="../assets/fundal/home/261213-P553X9-698.png" width="100%" class="img-fluid">
      </div>
      <div class="col-md-8">
        <h2 class="page-header-title">
          Welcome to Getfunds!
        </h2>
        <hr>
        <p>Getfundsl is committed to enhancing your quality of life by making loans accessible to you to meet your needs.</p>
        <p>Before applying for a loan, you have to update your profile</p>
        <div class="page-ln d-flex justify-content-between ">
          <h6>Let's get started</h6>
          <a routerLink="/profile/update-profile" class="text-uppercase">Update Profile<i class="fa fa-arrow-right ml-2"></i></a>
        </div>

      </div>
    </div>
  </div>

  <!-- Show for returning student -->
  <!-- 
  <div class="row">
    <div class="col-md-12 sub-title">
      <b>MOST RECENT LOAN</b>
      <hr>
    </div>
    <div class="col-md-8">
        <div class="loan-card recent-loan">
          <div class="row">
            <div class="col-md-5">
              <img class="img-fluid" width="100%" height="100%"  src="../assets/fundal/home/Salary-Advance.png" />
            </div>
            <div class="col-md-7 loan-text">
                <div><b>Loan Type:</b> SME Loan</div>
                <div><b>Amount Borrowed:</b> &#8358;1,000,000</div>
                <div><b>Date Approved:</b> 13th May, 2018</div>
                <div><b>Monthly Payment:</b> &#8358;150,000</div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="loan-card recent-loan" routerLink="/home/notifications">
        <div class="col-md-12 loan-text brief-notif">
          <h5 class="text-green text-center">Notifications</h5><hr class="border-green">
          <ul>
            <li>You have a due payment of &#8358;150,000 on the 28th of May</li>
            <li>Customer care has responded to your application. Please review.</li>
            <li>Getfunds will be updating in 24 hours</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
   -->
  <div class="row">
    <div class="col-md-12 sub-title">
      <b>LOANS</b>
      <hr>
    </div>
    <!--<div class="col-md-6">
        <div class="loan-card left">
            <div class="row">
              <div class="col-md-5">
                <img class="img-fluid" width="100%" height="100%"  src="../assets/fundal/home/Salary-Advance.png" />
              </div>
              <div class="col-md-7 loan-text">
                  <h5 class="text-purple">Pay Loans</h5>
                <a name="" id="" class="btn btn-outline-primary border-purple text-purple text-uppercase" routerLink="/home/pay-loan" role="button">View Description</a>
               <img src="../assets/fundal/loan-desc/Icons-01.png"/>
              </div>
            </div>
          </div>
    </div>-->
    <!--<div class="col-md-6">
        <div class="loan-card right">
            <div class="row">
              <div class="col-md-5">
                <img class="img-fluid" width="100%" height="100%"  src="../assets/fundal/home/Pay-Loan.png" />
              </div>
              <div class="col-md-7 loan-text">
                  <h5 class="text-lilac">Public Loans</h5>
                  <a name="" id="" class="btn btn-outline-primary border-lilac text-lilac text-uppercase" routerLink="/home/public-loan" role="button">View Description</a>
                  <img src="../assets/fundal/loan-desc/Icons-02.png" class="img-icon"/>
              </div>
            </div>
          </div>
    </div>-->
    <!--<div class="col-md-6">
        <div class="loan-card left">
            <div class="row">
              <div class="col-md-5">
                <img class="img-fluid" width="100%" height="100%"  src="../assets/fundal/home/SME.png" />
              </div>
              <div class="col-md-7 loan-text">
                    <h5 class="text-pink">SME Loans</h5>
                    <a name="" id="" class="btn btn-outline-primary border-pink text-pink text-uppercase" routerLink="/home/sme-loan" role="button">View Description</a>
                     <img src="../assets/fundal/loan-desc/Icons-03.png"/>
              </div>
            </div>
          </div>
    </div>-->
    <!--<div class="col-md-6">
        <div class="loan-card right">
            <div class="row">
              <div class="col-md-5">
                <img class="img-fluid" width="100%" height="100%"  src="../assets/fundal/home/Salary-Advance.png" />
              </div>
              <div class="col-md-7 loan-text">
                  <h5 class="text-blue">Salary Loans</h5>
                <a name="" id="" class="btn btn-outline-primary border-purple text-purple text-uppercase" routerLink="/home/salary-loan" role="button">View Description</a>
                <img src="../assets/fundal/loan-desc/Icons-07.png"/>
              </div>
            </div>
          </div>
    </div>-->
    <!--<div class="col-md-6">
        <div class="loan-card left">
            <div class="row">
              <div class="col-md-5">
                <img class="img-fluid" width="100%" height="100%"  src="../assets/fundal/home/Salary-Advance.png" />
              </div>
              <div class="col-md-7 loan-text">
                <h5 class="text-blue">Auto Loans</h5>
                <a name="" id="" class="btn btn-outline-primary border-purple text-purple text-uppercase" routerLink="/home/auto-loan" role="button">View Description</a>
                <img src="../assets/fundal/loan-desc/Icons-09.png"/>
              </div>
            </div>
          </div>
    </div>-->
    <div class="col-md-6" *ngFor="let loan of loans">
      <div class="loan-card left">
        <div class="row">
          <div class="col-md-5">
            <img class="img-fluid" width="100%" height="100%"  [src]="baseApi+ loan.image" />
          </div>
          <div class="col-md-7 loan-text">
                  <h5 class="text-blue description-h">{{loan.loanName}} Loans</h5>
                <a name=""  class="description btn btn-outline-primary border-blue text-blue" routerLink="/u/loan-detail/{{loan._id}}" role="button">View Descrpition</a>
               <img [src]="baseApi+ loan.icon"/>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>