.page-header p{
    font-size: 14px;
    line-height: 19px;
    font-weight: 300;
    margin-bottom: 40px;
}
.page-ln{
    margin-top: 70px;
}
.page-ln h6{
    font-weight: 600;
    margin-bottom:0px;
    font-size: 14px;

}
.page-ln a{
    color: #52BC00;
    font-size: 14px;

}
.loan-box .box-fab {
    width: 100px;
    height: 100px;
}
.loan-box {
    margin-left: 30px;
    
}
.loan-box .box-fab {
    width: 100px;
    height: 100px;
}
.loan-text{
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description{
    position: absolute;
    bottom: 5px; 
    right: 20px;
}

.description-h{
    margin-top: -10px; 
    width: 100%;
}