<div class="container">
  <div class="update-profile my-5">
    <div routerLink="/approval-manager/requested_loans" class="navigation-back">
      <i class="fa fa-arrow-left"></i>
      <h2>
        BACK
      </h2>
    </div>


    <div class="page-header d-flex align-items-center border-green b-r">
      <img class="img-fluid" width="10%" src="../assets/fundal/admin/Profile (3) (1).png">
      <h2 class="page-header-title text-transform-uppercase">
        Disburse Loan
      </h2>
    </div>
    <div class="profile-form">
      <div class="row">
        <div class="col-md-12 maxed-out">
          <div class="card img-center change-img-box personal">
            <div class="card-body m-0">
              <p class="text-green font-18 strong-700">
                Account Information
              </p>
              <div class="row mt-22">

                <!-- <div class="col-lg-12">
                  <div class="form-group form-type-2">
                    <label>Last Name</label>
                    <input type="text" [(ngModel)]="profile.lastName" name="lastname" class="form-control ">

                  </div>
                </div> -->
                <div class="col-lg-12">
                  <div class="form-group">
                    <label>Bank Name</label>
                    <select class="form-control" (click)="p_code()" [(ngModel)]="disburse.bank" name="bank">
                              <option *ngFor="let b of bank" value="{{b.name}}">{{b.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group form-type-2">
                    <label> Bank Code </label>
                    <input type="number" [(ngModel)]="disburse.code" name="code" class="form-control ">

                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group form-type-2">
                    <label>Account Number</label>
                    <input type="text" max="10" name="company" class="form-control">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group form-type-2">
                    <label>Account Name</label>
                    <input type="text" name="firstname" class="form-control ">
                  </div>
                </div>

                <button class="btn img-center btn-styled btn-sm mt-4">
                          <span>
                            Disburse
                          </span>

                        </button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
