<div class="">
  <div class="">
    <p>create a cooprative society</p>
      <label for="">Name</label>
      <input type="text" [(ngModel)]="cooprative.name" name="" value="">
      <br>
      <label for="">Location</label>
      <input type="text" [(ngModel)]="cooprative.location" name="" value="">
      <br>
      <label for="">Image</label>
      <input type="file" (change)="cooprative_photo($event)" name="" value="">
      <br>
      <button type="button" (click)="create_c()" name="button">Create Cooprative</button>
  </div>
  <br>
  <p>create wome in trade community</p>
  <div class="">
      <label for="">Name</label>
      <input type="text" [(ngModel)]="women.name" name="" value="">
      <br>
      <label for="">Location</label>
      <input type="text" [(ngModel)]="women.location" name="" value="">
      <br>
      <label for="">Image</label>
      <input type="file" (change)="women_in_trade_photo($event)" name="" value="">
      <br>
      <button type="button" (click)="create_w()" name="button">Create Cooprative</button>
  </div>
</div>
