<!-- MAIN WRAPPER -->

<div class="auth-body">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-4 hidden-sm">
        <div class="logo-icon">
          <img src="../assets/fundal/Sign-In.png" class="img-fluid d-flex justify-content-center" />
        </div>

      </div>
      <div class="col-lg-8 col-md-12">

        <div class="form-area">
          <form class="form-default" #signinForm="ngForm" (ngSubmit)="send()" role="form">

            <div class="row">
              <div class="col-lg-12">
                <div class="form-group has-feedback">
                  <label>Email Address</label>
                  <input type="email" [(ngModel)]="email" name="email" class="form-control" required>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="form-group">
                <label>Select A Method (Email or Phone)</label>
                <select class="form-control" [(ngModel)]="phone" name="method">
                  <option value="email">Email</option>
                  <option value="sms">Phone</option>
                        </select>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 d-flex justify-content-center align-items-center flex-column">
                <button type="submit" [disabled]="!signinForm.valid" class="btn img-center btn-styled btn-md mt-4">

                  Send

                </button>

              </div>
            </div>
          </form>
        </div>

      </div>


    </div>
  </div>
</div>
