<div class="container" style="padding-left: 0px;">
  <div class="col-md-12 navigation-back" >
    <span routerLink="/profile">
     <img src="../assets/images/back-icon.png" style="margin: auto">
    <strong> HOME</strong>
    </span>
  </div>
  
  <div class="page-header border-green b-r">
    <img class="img-fluid" src="../assets/fundal/admin/Profile (3).png">
    <h2 class="page-header-title text-transform-uppercase">
      Update Profile
    </h2>
  </div>

  <div class="box">
    <h5 class="text-green text-center">PROFILE IMAGE</h5>
    <div class="photo-upload-group img-center">
      <div class="circle">
        <img class="main img-center" [src]="profile.image ? profile.image : dPhoto" />
      </div>

      <div class="p-image">
        <input type="file" style="display:none" #photo (change)="selectFile($event)" name="" value="">
        <button class="btn action">
                  <img (click)="photo.click()" class="img-icon-log-out img-center" src="../assets/fundal/home/icon/Camera.svg" />
                </button>

      </div>
    </div>
    <!--<button (click)="photo.click()" class="btn btn-styled main action img-center"> Update </button>-->

  </div>
  <div class="profile-form">
    <div class="row">
      <div class="col-md-12 maxed-out">
        <div class="card img-center change-img-box personal">
          <div class="card-body m-0">
            <p class="text-green font-18 strong-700">
              PERSONAL INFORMATION
            </p>
            <div class="row mt-22">
              <div class="col-lg-12">
                <div class="form-group form-type-2">
                  <label>First Name</label>
                  <input type="text" [(ngModel)]="profile.firstName" name="firstname" class="form-control ">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group form-type-2">
                  <label>Last Name</label>
                  <input type="text" [(ngModel)]="profile.lastName" name="lastname" class="form-control ">

                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group form-type-2">
                  <label>Date Of Birth</label>
                   <nz-date-picker [(ngModel)]="profile.dob" ></nz-date-picker>
                  <!--<input type="text" [(ngModel)]="profile.lastName" name="lastname" class="form-control ">-->

                </div>
              </div>
              <div class="col-lg-12"> 
                <div class="form-group">
                  <label>Gender</label>
                  <select class="form-control" [(ngModel)]="profile.gender" name="gender">
                            <option value=""> Select your gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                          </select>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group form-type-2">
                  <label>Bank Verification Number (BVN) </label>
                  <input type="number" [(ngModel)]="profile.bvn" name="bvn" class="form-control ">

                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Form of identification</label>
                  <select class="form-control" [(ngModel)]="profile.form_of_Id" name="bvn">
                            <option value="">Click here to upload</option>
                            <option value="national-id">National Identification</option>
                            <option value="drivers-license">Drivers License</option>
                          </select>
                </div>
              </div>
              <div class="row px-3">
                <div class="col-lg-12">
                  <label>Upload your personal ID</label>
                </div>
                <div class="col-lg-8">
                  <div class="form-group has-feedback">

                    <input type="file" #fid (change)="idUpload($event)" class="form-control" placeholder="Click here to upload">
                  </div>
                </div>
                <div class="col-lg-4">
                  <button (click)="fid.click()" class="btn btn-camera ">
                            <img src="../assets/fundal/home/icon/Camera.png">
                            <span>+</span>
                          </button>
                </div>
              </div>
              <div class="row px-3">
                <div class="col-lg-12">
                  <label>Expiry Date</label>
                </div>
                <div class="col-lg-2">
                  <input type="text" [(ngModel)]="profile.dd" name="day" class=" date-form day" placeholder="DD">
                </div>
                <div class="col-lg-2">

                  <input type="text" [(ngModel)]="profile.mm" name="month" class=" date-form month" placeholder="MM">
                </div>
                <div class="col-lg-3">

                  <input type="text" [(ngModel)]="profile.yy" name="year" class="date-form year" placeholder="YYYY">
                </div>

              </div>
              <div class="col-lg-12">
                <p class="text-green font-18 mt-5 strong-700">
                  WORK INFORMATION
                </p>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Employment Type</label>
                  <select class="form-control" [(ngModel)]="profile.employment">
                            <option> Click here to drop down</option>
                            <option value="business">Business</option>
                            <option value="civil-servant">Civil Servant</option>
                          </select>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group form-type-2">
                  <label>Company Name</label>
                  <input type="text" [(ngModel)]="profile.company" name="company" class="form-control">
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group form-type-2">
                  <label>Position (Role) in Company</label>
                  <input type="text" [(ngModel)]="profile.position" name="company" class="form-control ">
                </div>
              </div>

              <button (click)="update()" class="btn img-center btn-styled btn-sm mt-4">
                        <span>
                          Update
                        </span>

                      </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>