
<div class="container">
  <div class="navigation-back type-2 mt-5">
    <i class="fa fa-arrow-left"></i>
    <h2 routerLink="/admin/approvalManagers">
      APRPROVAL MANAGERS
    </h2>
  </div>
  <div class="page-header d-flex align-items-center">
    <img class="img-fluid" width="5%" src="../assets/fundal/admin/Icon set-05 (3).png">
    <h2 class="page-header-title text-transform-uppercase">
      NEW APPROVAL MANAGERS
    </h2>
  </div>

  <div class="form-box">
    <h4>NEW APPROVAL MANAGERS</h4>
    <div class="row my-3">
      <div class="col-md-2">
        <label>
                  FIRST NAME:
                </label>
      </div>
      <div class="col-md-5">
        <input class="form-control" [(ngModel)]="approval.firstName" name="firstname" />
      </div>
    </div>
    <div class="row my-3">
      <div class="col-md-2">
        <label>
                  LAST NAME:
                </label>
      </div>
      <div class="col-md-5">
        <input class="form-control" [(ngModel)]="approval.lastName" name="lastname" />
      </div>
    </div>
    <div class="row my-3">
      <div class="col-md-2">
        <label>
                  PHONE NUMBER:
                </label>
      </div>
      <div class="col-md-5">
        <input class="form-control" [(ngModel)]="approval.phone" name="phone" />
      </div>
    </div>
    <div class="row my-3">
      <div class="col-md-2">
        <label>
                  USERNAME:
                </label>
      </div>
      <div class="col-md-5">
        <input class="form-control" [(ngModel)]="approval.username" name="username" />
      </div>
    </div>
    <div class="row my-3">
      <div class="col-md-2">
        <label>
                  PASSWORD:
                </label>
      </div>
      <div class="col-md-5">
        <input class="form-control" [(ngModel)]="approval.password" name="password" />
      </div>
    </div>
    <div class="row my-3 mb-5">
      <div class="col-md-2 pr-0">
        <label>
                  EMAIL ADDRESS:
                </label>
      </div>
      <div class="col-md-7">
        <input class="form-control" [(ngModel)]="approval.email" name="email" />
      </div>
    </div>
    <h4>LOAN PERMISSIONS</h4>
    <div class="row">
      <div class="col-md-4">
        <div class="row mb-3">
          <div class="col-md-8">
            <label>
                      PAY LOAN
                    </label>
          </div>
          <div class="col-md-4">
            <label class="container">
                      <input type="checkbox" class="checkbox-styled" checked="checked">
                      <span class="checkmark"></span>
                    </label>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-8">
            <label>
                      PUBLIC LOAN
                    </label>
          </div>
          <div class="col-md-4">
            <label class="container">
                      <input type="checkbox" class="checkbox-styled" checked="checked">
                      <span class="checkmark"></span>
                    </label>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-8">
            <label>
                      SME LOAN
                    </label>
          </div>
          <div class="col-md-4">
            <label class="container">
                      <input type="checkbox" class="checkbox-styled" checked="checked">
                      <span class="checkmark"></span>
                    </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <label>
                      SALARY ADVANCE
                    </label>
          </div>
          <div class="col-md-4">
            <label class="container">
                      <input type="checkbox" class="checkbox-styled" checked="checked">
                      <span class="checkmark"></span>
                    </label>
          </div>
        </div>


      </div>
      <div class="col-md-4">
        <div class="row mb-3">
          <div class="col-md-8">
            <label>
                      LISTINGS
                    </label>
          </div>
          <div class="col-md-4">
            <label class="container">
                      <input type="checkbox" class="checkbox-styled" checked="checked">
                      <span class="checkmark"></span>
                    </label>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-8">
            <label>
                      AGENT BANKING
                    </label>
          </div>
          <div class="col-md-4">
            <label class="container">
                      <input type="checkbox" class="checkbox-styled">
                      <span class="checkmark"></span>
                    </label>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-8">
            <label>
                      NEW LOAN
                    </label>
          </div>
          <div class="col-md-4">
            <label class="container">
                      <input type="checkbox" class="checkbox-styled">
                      <span class="checkmark"></span>
                    </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <label>
                      NEW LOAN
                    </label>
          </div>
          <div class="col-md-4">
            <label class="container">
                      <input type="checkbox" class="checkbox-styled" checked="checked">
                      <span class="checkmark"></span>
                    </label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row mb-3">
          <div class="col-md-8">
            <label>
                      AUTO LOAN
                    </label>
          </div>
          <div class="col-md-4">
            <label class="container">
                      <input type="checkbox" class="checkbox-styled" checked="checked">
                      <span class="checkmark"></span>
                    </label>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-8">
            <label>
                      HOME ASSETS
                    </label>
          </div>
          <div class="col-md-4">
            <label class="container">
                      <input type="checkbox" class="checkbox-styled">
                      <span class="checkmark"></span>
                    </label>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-8">
            <label>
                      WOMEN IN TRADE
                    </label>
          </div>
          <div class="col-md-4">
            <label class="container">
                      <input type="checkbox" class="checkbox-styled">
                      <span class="checkmark"></span>
                    </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <label>
                      COOPERATIVE LOAN
                    </label>
          </div>
          <div class="col-md-4">
            <label class="container">
                      <input type="checkbox" class="checkbox-styled">
                      <span class="checkmark"></span>
                    </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <button (click)="create()" class="btn btn-styled img-center">
                  CREATE ACCOUNT
                </button>
      </div>
    </div>
  </div>


</div>
