<div class="">
    <label for="">Name</label>
    <input type="text" [(ngModel)]="name" name="" value="">
    <br>
    <label for="">Location</label>
    <input type="text" [(ngModel)]="location" name="" value="">
    <br>
    <label for="">Image</label>
    <input type="file" (change)="cooprative_photo($event)" name="" value="">
    <br>
    <button type="button" (click)="create()" name="button">Create Cooprative</button>
</div>
