<!-- MAIN WRAPPER -->

<div class="auth-body">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-4 hidden-sm">
        <div class="logo-icon">
          <img src="../assets/fundal/Sign-In.png" class="img-fluid d-flex justify-content-center" />
        </div>

      </div>
      <div class="col-lg-8 col-md-12" *ngIf="hasLoggedIn">
        <p class="label-cite">
          Already have an account? <a routerLink="/signup"><span style="cursor:pointer" class="text-green">SIGN
              UP </span></a>
        </p>

        <div class="form-area">
          <h2 class="main-card-title">
            Sign in to your account
          </h2>
          <p class="main-card-subtitle"> Your Getfunds account grants you access to a variety of loan applications
            depending on your
            needs. </p>


          <form class="form-default" #signinForm="ngForm" (ngSubmit)="login()" role="form">

            <div class="row">
              <div class="col-lg-12">
                <div class="form-group has-feedback">
                  <label>Email Address</label>
                  <input type="email" [(ngModel)]="user.email" name="email" class="form-control" required>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="form-group has-feedback">
                  <label>Enter your Password</label>
                  <input type="password" [(ngModel)]="user.password" name="password" class="form-control" required>
                </div>
              </div>

            </div>


            <div class="row">
              <div class="col-lg-12">
                <p class="terms"> By clicking Sign In, it means you agree to our
                  <span class="text-green strong-600 clickable"> Terms </span>
                  and
                  <span class="text-green strong-600 clickable"> Policies </span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 d-flex justify-content-center align-items-center flex-column">
                <button type="submit"  class="btn img-center btn-styled btn-md mt-4">

                  SIGN IN

                </button>

                <p routerLink="/forgot_password" class="text-center mt-3 label-cite ">Forgot your password?</p>


              </div>
            </div>
          </form>
        </div>

      </div>


    </div>
  </div>
</div>
