<div class="">
    <label for="">Loan Name</label>
    <input type="text" [(ngModel)]="salary.productName" name="" value="">
    <br>
    <label for="">Loan Amount</label>
    <input type="text" [(ngModel)]="salary.amount" name="" value="">
    <br>
    <label for="">Loan Duration</label>
    <input type="text" [(ngModel)]="salary.duration" name="" value="">
    <br>
    <label for="">Bank Statement</label>
    <input type="file" name="" (change)="onselect_bs($event)" value="">
    <br>
    <label for="">Salary Earned</label>
    <input type="text" (click)="calc()" [(ngModel)]="salary.salaryEarned" name="" value="">
    <br>
    <label for="">Employment</label>
    <select class="" [(ngModel)]="salary.proof_employment" name="">
        <option value="civil_servant">Civil Servant</option>
        <option value="business">Business</option>
    </select>
    <br>
    <label for="">Employee Id (upload)</label>
    <input type="file" (change)="select_empl_Id($event)" name="" value="">
    <br>
    <label for="">Total Re-Payment</label>
    <input type="text" readonly [(ngModel)]="salary.total_cost" name="" value="">
    <br>
    <label for="">Monthly Re-Payment</label>
    <input type="text" [(ngModel)]="salary.monthly_repayments" readonly name="" value="">
    <br>
    <br>
    <label for="">Interest Rate</label>
    <input type="text" readonly name="" value="5%">
    <br>
    <button type="button" (click)="request()" name="button">Request Loan</button>
</div>
