
        <div class="container">
          <div class="navigation-back type-2 mt-5">
            <i class="fa fa-arrow-left" routerLink="/u/dashboard"></i>
            <h2 routerLink="/u/dashboard">

              BACK
            </h2>
          </div>
          <div class="mcard-header">
            <img class="img-fluid" width="10%" src="../assets/fundal/admin/Profile (3) (1).png">
            <span>{{community.name}} cooperative</span>
            <!--<button (click)="applyLoan()" class="btn pull-right btn-styled btn-md mt-4 btn-loan"> Apply for Loan<i class="fa fa-arrow"></i> </button>-->

            <!--<h2 class="page-header-title text-transform-uppercase">
                            JOIN COOPERATIVES
                        </h2>-->
            <!--<div class="form-group">
                            <input class="form-control">
                            <i class="fa fa-search"> </i>
                        </div>-->
          </div>
          <!--<br>
          <div class="row">
            <div class="col-sm-12">
              <div class="loan-calculator my-5">
                <h2 class="page-header-title text-transform-uppercase">
                  Loan Calculator
                </h2>
                </div>
            </div>
          </div>-->
          <br>
          <div class="row">

            <div class="col-sm-12">
              <div class="loan-calculator my-5">
                <h2 class="page-header-title text-transform-uppercase">
                  Apply Loan
                </h2>
                <div class="form-group">
                  <div class="d-flex justify-content-between range-text">
                    <label for="">Requested Loan Amount</label>
                    <input type="number" min="1"  required class="form-control" [(ngModel)]="loan.amount" aria-describedby="helpId" placeholder="Amount">
                  </div>
                  <input type="range" class="slider-range mt-3" name="" id="" aria-describedby="helpId" placeholder="">

                  <div class="d-flex justify-content-between mt-3 range-amount">
                    <!--<p>50,000</p>-->
                    <!--<p>2,000,000</p>-->
                  </div>
                </div>
                <div class="form-group">
                  <div class="d-flex justify-content-between range-text">
                    <label for="">Duration</label>
                    <input type="number" min="1" max="12" (blur)="setMonthlyRepayment()" placeholder="Duration in month(s)" required class="form-control"  [(ngModel)]="loan.duration" name="duration" id="">
                  </div>
                  <input type="range" class="slider-range2 mt-3" id="" aria-describedby="helpId" placeholder="">

                  <div class="d-flex justify-content-between mt-3 range-amount">
                    <!--<p>{{loan.duration}}</p>-->
                    <!--<p>9 months</p>-->
                  </div>
                </div>
                <div class="row mt-3 calculate">
                  <div class="offset-md-6 col-md-6">
                    <!--<div class="form-group row justify-content-between">
                      <label class="col-sm-8 col-form-label">Interest rate</label>
                      <div class="col-sm-2">
                        <input type="text" class="form-control" [(ngModel)]="loan.month">
                      </div>
                    </div>-->
                    <div class="form-group row">
                      <label class="col-sm-6 col-form-label">Total Cost of Loan</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="loan.amount" readonly>
                      </div>
                    </div>
                    <div class="form-group row ">
                      <label class="col-sm-6 col-form-label">Monthly Repayments</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="loan.monthlyRepayment" readonly>
                      </div>
                    </div>
                    <div class="form-group row ">
                      <label class="col-sm-6 col-form-label"></label>
                      <div class="col-sm-6">
                        <!--<input type="text" class="form-control" [(ngModel)]="loan.monthlyRepayment">-->
                                    <button (click)="applyLoan()" class="btn btn-default pull-right btn-view"> SUBMIT </button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>

