.btn-view{
width: 100px;
background-color: #FFF;
border: 0.5px solid #FF653D;
margin:10px;
border-radius: 3px;
font-size: 10px !important;
float:right;
height:30px;
}

.mcard{
background: #FFFFFF;
box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
border-radius: 3px;
height:auto;
padding:unset;
}
.btn-loan{
    margin-right:10px;
}
.mcard-header{
    border-color: #FF653D !important;
    border-right: 5px solid;
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25) !important;
    border-radius: 3px !important;
    height:95px !important;
    /*padding:unset;*/
    
}
.base-card{
    background: #FFFFFF;
    display: inline-block !important;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25) !important;
    border-radius: 3px !important;
    margin-bottom:20px;
}
.base-card-2{
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25) !important;
    border-radius: 3px !important;
    height: 50px; 
}
.cooperative{
    background-color:#FF653D;
    height:80px;
    
}
.text-cooperative{
    color:#FFF !important;
}

.monthly-inner{
    font-size: 14px;
    color:#828282;
    margin-top: 50%;
}
.text-inner{
    color:#828282; 
}
.btn-view{
width: 100px;
background-color: #FFF;
border: 0.5px solid #FF653D;
margin:10px;
border-radius: 3px;
font-size: 14px !important;
float:right;
}

.member-list-count{
    display:block;
    font-size: 12px; 
    margin-top:20px;   
}
.member-list-text{
    display:block;
    color:#FF653D;
    font-size: 14px;
    margin-top:10px;

    
}
.member-list{
    height:300px;
    padding:0px;
    overflow-y: scroll; 
}
.member-header{
    border-color: #FF653D !important;
    border-right: 5px solid;
    height: 70px;
    margin:0px;
}

table th{
    color: #FF653D !important;
}

.table{
    font-size: 12px !important;
}
.table thead th{
    border-bottom: unset !important;
}

.table tbody tr{
    border-bottom: unset !important;
    border-top: unset !important;
}
.monthly-contribution{
    height:80px;
    
}
.img{
    height:auto;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
img-holder{
    height: 100%;
}
.title{
    display: block !important;
    font-size: 14px !important;
    margin: 5px;
    margin-top:10px;
}
.is-admin{
    color:#52BC00
}




.page-header{
    padding: 0px;
}
.page-header-content{
    padding: 30px 50px 30px 30px;
}
.page-header p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 40px;
}
.page-ln{
    margin-top: 70px;
}
.page-ln h6{
    font-weight: 600;
    margin-bottom:0px;
    font-size: 14px;

}
.page-ln a{
    color: #52BC00;
    font-size: 14px;

}

ul.colored-list li{
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}
.requirement, .loan-calculator {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin-bottom: 40px 0px;
}
.range-amount p{
    font-size: 14px;
    color: #828282;
    font-weight: 300;
}
.range-text label, .calculate label{
    font-size: 14px;
    color: #828282;
    font-weight: 600;
}
.range-text input {
    max-width: 150px;
    border-radius: 50px;
}
.calculate input{
    border-radius: 50px;
}
.slider-range, .slider-range2 {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 3px; /* Specified height */
    background: linear-gradient(180deg, #93D802 0%, #04B648 100%); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider-range::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #F2994A; /* Green background */
    cursor: pointer;
    border-radius: 30px; /* Cursor on hover */
}

.slider-range::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 30px;
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider-range2::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #00BFBF; /* Green background */
    cursor: pointer;
    border-radius: 30px; /* Cursor on hover */
}

.slider-range2::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #00BFBF; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 30px;
}
