<div class="container">
  <div class="col-md-12 navigation-back">
    <span routerLink="/home">
     <img src="../assets/images/back-icon.png">
    <strong>HOME</strong>
    </span>
  </div>

  <div  class="page-header d-flex align-items-center b-r border-blue">
    <img class="img-fluid" width="10%" [src]="'http://test.natterbase.com:3001/'+ lIcon">
    <h2 class="page-header-title text-transform-uppercase">
      {{loan.loanName}}
    </h2>
  </div>
  <div style="padding:0px" class="page-header">
    <div class="row">
      <div class="col-md-4" style="padding:0px;height:300px">
        <img [src]="'http://test.natterbase.com:3001/'+ lImage" style="height:100%!important" width="100%" class="img-fluid">
      </div>
      <div class="col-md-8 page-header-content">
        <h2 class="page-header-title">
          {{loan.loanName}}
        </h2>
        <hr>
        <p>{{loan.description}}</p>
        <!-- <a name="" id="" class="btn btn-outline-primary border-blue text-blue text-uppercase mt-3 pull-right"
          role="button" routerLink="/u/request_auto_loan">Apply</a> -->
      </div>
    </div>

  </div>
  <div class="requirement b-r border-blue">
    <h2 class="page-header-title text-transform-uppercase">
      Requirements
    </h2>
    <ul class="colored-list" *ngFor="let r of loan.requirements">
      <li class="greenish">{{r.name}}</li>
    </ul>

  </div>
  <div class="loan-calculator my-5">
    <div class="form-group">
      <div class="d-flex justify-content-between range-text">
        <label for="">Maximum Loan Amount:</label>
        <p>{{loan.maxAmount | currency:'N'}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="d-flex justify-content-between range-text">
        <label for="">Minimum Loan Amount:</label>
        <p>{{loan.minAmount | currency:'N'}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="d-flex justify-content-between range-text">
        <label for="">Maximum Loan Duration</label>
        <p>{{loan.durationMax}} month(s)</p>
      </div>
    </div>
    <div class="form-group">
      <div class="d-flex justify-content-between range-text">
        <label for="">Minimum Loan Duration:</label>
        <p>{{loan.durationMin}} month(s)</p>
      </div>
    </div>
    <div class="form-group">
      <div class="d-flex justify-content-between range-text">
        <label for="">Interest rate:</label>
        <p>{{loan.interestRate | percent}}</p>
      </div>
    </div>

  </div>
  <button  class="btn img-center btn-styled btn-md pull-right text-uppercase" routerLink="/admin/update-loan/{{loan._id}}" name="button"> Edit Loan  </button>
  <button  class="btn img-center btn-styled btn-md pull-right text-uppercase"  (click)="delete(loan._id)" name="button">Delete Loan 
    <!--<i class="fa fa-arrow-right"></i> -->
    </button>
</div>
