<div class="container">
          <div class="col-md-12 navigation-back">
            <span routerLink="/home">
             <img src="../assets/images/back-icon.png">
            <strong>HOME</strong>
            </span>
          </div>

          <div class="page-header d-flex align-items-center b-r border-blue">
            <img class="img-fluid" width="5%" src="../assets/fundal/admin/listing/Icons-10-1.png">
            <h2 class="page-header-title text-transform-uppercase ml-2">
              Market Place
            </h2>
          </div>
          <div class="tabs tabs--style-2 mt-4" role="tabpanel">
            <!-- Nav tabs -->
            <app-listing-nav></app-listing-nav> 
          </div>
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="big-data-box big-data-wrapper">
                <div class="head">
                  <div class="row">
                    <div class="col-md-3">
                      <h3>Pending Ad Requests</h3>
                      <!-- <i class="fa fa-arrow-left"></i> -->
                      <!-- <i class="fa fa-arrow-right visible-xs pull-right"></i> -->
                    </div>
                    <div class="col-md-6">
                      <div class="img-center fit-width">
                        <p class="">SORT BY:</p>

                        <div class="dropdown styled display-inline mx-3">
                          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Status
                            <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li><a href="#">Status</a></li>
                            <li class="active"><a href="#">Loan Type</a></li>
                            <li><a href="#">Duration</a></li>
                          </ul>
                        </div>
                        <p class=""><i  (click)="previousPage();" class="fa fa-arrow-left" style="cursor: pointer; font-size: 14px;"></i> 
                          {{this.page}} of {{listings.pages}}  pages </p> <i class="fa fa-arrow-right" (click)="nextPage();" style="cursor: pointer; font-size: 14px;"></i> 
                <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
              </div>
              <div class="form-group">
                <input class="form-control"  [(ngModel)]="company">
                <i class="fa fa-search" style="top: 43px"> </i>
              </div>

            </div>
            <div class="col-md-3 hidden-xs pt-30">
              <!-- <i class="fa fa-arrow-right pull-right"></i> -->
            </div>
          </div>
        </div>
        <div class="body">
          <div class="line my-0">
          </div>
          <div class="row my-4 ">

            <div class="col-md-12" *ngFor="let l of listings.listing | paginate:{itemsPerPage:20,currentPage:p} | lFilter:company;">
              <div class="big-data-box mb-4 pr-sm-4">

                <div class="row">
                  <div class="col-md-2">
                    <div class="bg-shade-1 d-flex justify-content-center align-content-center">
                      <img src="../assets/fundal/loan/Icons-15.svg">
                    </div>

                  </div>


                  <div class="col-md-5 pl-3">
                    <div class="row">
                      <div class="col-md-6  py-4">
                        <p>Listing Name:</p>
                        <p>Date Applied:</p>
                        <p>Duration:</p>
                        <p>Contact:</p>

                      </div>

                      <div class="col-md-6 py-4">

                        <p>{{l.name}} </p>
                        <p>{{l.date_created | amDateFormat:'LL'}}</p>
                        <p> {{l.duration}} Months </p>
                        <p class="text-orange"> Reviewing</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 py-4 d-flex flex-column">
                    <button (click)="approve(l._id)" class="btn btn-blue">Approve</button>
                    <button (click)="reject(l._id)" class="btn btn-red mt-2">Reject</button>
                  </div>
                  <div class="col-md-2 py-4">
                    <button routerLink="/customercare/view_listing_details/{{l._id}}" class="btn btn-outline-green">View Listing</button>

                  </div>

                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
