.big-data-wrapper{
    border: none;
    padding: 0px;
}
.btn-blue{
    background-color: #2D9CDB;
    padding: 10px 30px;
    text-transform: uppercase;
    color: #fff;
}
.btn-red{
    background-color: #EB5757;
    padding: 10px 30px;
    text-transform:uppercase;
    color: #fff;
}
.btn-outline-green{
    border: 1px solid #52BC00;
    padding: 10px 30px;
    text-transform:uppercase;
}