.btn-join{
width: 143px;
background-color: #FFF;
border: 0.5px solid #FF653D;
margin:10px;
border-radius: 3px;
font-size: 14px !important;
float:right;
}

.mcard{
background: #FFFFFF;
box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
border-radius: 5px;
height:auto;
padding:unset;
}
.mcard-header{
    border-color: #FF653D !important;
    border-right: 5px solid;
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25) !important;
    border-radius: 5px !important;
    height:95px !important;
    /*padding:unset;*/
    
}
.img{
    height:auto;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
img-holder{
    height: 100%;
}
.title{
    display: block !important;
    font-size: 14px !important;
    margin: 5px;
    margin-top:10px;
}