<div class="container">
    <div class="navigation-back type-2 mt-5">
        <i class="fa fa-arrow-left" routerLink="/u/dashboard"></i>
        <h2 routerLink="/u/dashboard">
            BACK
        </h2>
    </div>
    <div class="mcard-header">
       <img class="img-fluid" width="10%" src="../assets/fundal/admin/Profile (3) (1).png">
    <span *ngIf="type == 1">Community</span>
    <span *ngIf="type == 2">Join Women In Trade</span>
            <button  routerLink="/community/coopratives/women in trade" class="btn pull-right btn-styled btn-md mt-4 btn-loan">Create Women in Trade<i class="fa fa-arrow"></i> </button>

    </div>
    <!--<div class="tabs tabs--style-2 mt-4" role="tabpanel">-->
        <!-- Nav tabs -->
        <!--<app-loan-nav></app-loan-nav>-->
    <!--</div>-->
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="big-data-box">
                <div class="head">
                    <div class="row">
                        <div class="col-md-3">
                            <i class="fa fa-arrow-left"></i>
                            <!--<i class="fa fa-arrow-right visible-xs pull-right"></i>-->
                        </div>
                        <!--<div class="col-md-6">
                            <div class="img-center fit-width">
                                <p class="">SORT BY:</p>
                                <div class="dropdown styled display-inline mx-3">
                                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Status
                            <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Status</a></li>
                                        <li class="active"><a href="#">Loan Type</a></li>
                                        <li><a href="#">Duration</a></li>
                                    </ul>
                                </div>
                                <p class=""> &lt; 1 - 6 &gt; of 6 pages</p>
                            </div>


                        </div>-->
                        <div class="col-md-3">
                            <i class="fa fa-arrow-right pull-right"></i>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="line my-0">
                    </div>

                    <div class="row my-4" *ngIf="communties.length < 1">
                        <div class="col-md-1"></div>
                        <div class="col-md-10" align="center">
                            <span>No community found</span>
                        </div>
                    </div>
                    <div class="row my-4 " *ngFor="let community of communties | search:query">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="row mcard">
                                <div class="col-md-5 img" style="display:inline-block" [ngStyle]="{ 'background-image': 'url(' + setImage(community.image) + ')'}"></div>
                                <div class="col-md-6 details-holder" style="display:inline-block">
                                    <span class="title">{{community.name}}</span>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4"><span class="title">Number of members:</span></div>
                                        <div class="col-md-8"><span class="title">{{community.members.length}}</span></div>
                                        <div class="col-md-4"><span class="title">Location:</span></div>
                                        <div class="col-md-8"><span class="title">{{community.location || "--"}}</span></div>
                                        <div class="col-md-4" *ngIf="isAmember(community.members)"><span class="title">Date Joined:</span></div>
                                        <div class="col-md-8" *ngIf="isAmember(community.members)">
                                            <span class="title">{{getDateJoined(community.members) | date:'medium'}}</span></div>
                                        <div class="col-md-4" *ngIf="isAmember(community.members)"><span class="title">Membership Type:</span></div>
                                        <div class="col-md-8" *ngIf="isAmember(community.members)">
                                            <span class="title">{{getMemberShipType(community.members)}}</span></div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button *ngIf="!isAmember(community.members) && !requested(community.applicants)" class="btn btn-default btn-join" (click)="join(community._id)">JOIN</button>
                                            <button *ngIf="requested(community.applicants)" class="btn btn-default btn-join">REQUESTED</button>
                                            <button *ngIf="isAmember(community.members)" (click)="viewCommunity(community._id,community.members)" class="btn btn-default btn-join">VIEW</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
